{{ govukServiceNavigation({
  serviceUrl: "#",
  navigation: [
    {
      href: "my-content",
      text: "My content",
      active: activeNav == "my-content"
    },
    {
      href: "all-publications",
      text: "All publications",
      active: activeNav == "all-publications"
    },
    {
      href: "2i-queue",
      text: "2i queue",
      active: activeNav == "2i-queue"
    },
    {
      href: "fact-check",
      text: "Fact check",
      active: activeNav == "fact-check"
    },
    {
      href: "new-content",
      text: "Create new content",
      active: activeNav == "new-content"
    }
  ]
}) }}
