@import "accessible-autocomplete";

//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-width-container {
    max-width: 1140px;
}


.filter {
    background-color: govuk-colour("light-grey");
}

.full-width {
    width: 100%;
    min-width: 100%;
}

.big-divider {
    background-color: govuk-colour("black");
    height: 2px;
}

.pink {
    background-color: pink;
}

.actions-bar {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 10px 0px 0;
}

.actions-bar-wrapper {
    border-bottom: 1px solid  $govuk-border-colour;
height: 40px}

.actions-bar li {
    display: inline-block;
    margin-right: 25px;
    padding: 5px 5px 5px 0;
}

.actions-bar ul {
    margin-left: 0;
    padding-left: 0 !important;
    padding-bottom: 0;
}


.selected {
    border-bottom: 5px solid $govuk-brand-colour;
}

.delete a, a:visited {
}

.actions-panel {
    border-top: 3px solid $govuk-brand-colour; 
    padding: 10px 10px 10px 0;

}


.govuk-header__container--full-width {
}

.line {
    border-top: 1px solid $govuk-border-colour;
    height: 2px;
    padding: 10px 0 10px 0;
}

.govuk-header__container {
    border-bottom: 10px solid red;
}

a.delete {
    color: govuk-colour("red");
}

.govuk-table__row th, .govuk-table__row td {
    width: 33%;
}