{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to publications",
    href: "publications"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Answer</span>
    <h1 class="govuk-heading-xl">Publication title</h1>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Edition</dt>
        <dd class="govuk-summary-list__value">1 <strong class="govuk-tag govuk-tag--yellow">Draft</strong></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Assigned to</dt>
        <dd class="govuk-summary-list__value">Genie Reigns</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> assignee</span></a>
        </dd>
      </div>
    </dl>
  
  </div>

  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="answer-draft-edit">Edit</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="answer-draft-tagging">Tagging</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="answer-draft-metadata">Metadata</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="answer-draft-history-and-notes">History and notes</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="answer-draft-admin">Admin</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" aria-current="page" href="#">Related external links</a></li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Related external links</h2>
  </div>

  <div class="govuk-grid-column-two-thirds">
      
    <h2 class="govuk-heading-m govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-6 govuk-!-static-padding-top-0">Link 1</h2>
   
    {{ govukInput({
      label: {
        text: "Title"
      },
      id: "related-content-1",
      name: "related-content-1"
    }) }}

    {{ govukInput({
      label: {
        text: "URL or path"
      },
      hint: {
        text: "For example, https://gov.uk"
      },
      id: "related-content-1",
      name: "related-content-1"
    }) }}

    {{ govukButton({
      text: "Add related external link",
      classes: "govuk-button--secondary",
      href: "tagging-mvp-related-content-add-another"
    }) }}

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

    {{ govukInsetText({
      text: "After saving, changes to related external links will be visible on the site the next time this publication is published."
    }) }}

    <div class="govuk-button-group govuk-!-static-margin-top-4">
      {{ govukButton({
        text: "Save"
      }) }}
    </div>

  </div>

</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}