{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Fact check prototype",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right"
  }) }}
{% endblock %}

{% block content %}

<div><p>Magic link page</p>
    {{ govukButton({
        text: "See content for the fact check",
        href: "sme-review-page"
      }) }}
</div>

{% endblock %}