{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  Unpublish - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
        href: "#1",
        text: "Switch app"
      },
      {
        href: "#2",
        text: "Sign out"
      }
    ]
  }) }}
  {% include "includes/_service-navigation_iteration.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">Unpublish</h1>

    {{ govukWarningText({
      text: "If you unpublish a page from GOV.UK it cannot be undone.",
      iconFallbackText: "Warning"
    }) }}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="redirectURL">Redirect URL</label>
      <input class="govuk-input" id="redirect-url" name="redirectURL" type="text" spellcheck="false" value="">
    </div>

    <form class="form" action="#" method="post">
      <div class="govuk-button-group">
        {{ govukButton({
            id: "important-note-button",
            text: "Unpublish",
            classes: "govuk-button--warning"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" id="cancel-link" href="#">Cancel</a>
      </div>
    </form>
    
  </div> 
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/content-item-actions.js"></script>
{% endblock %}