{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  New content details - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
        href: "#1",
        text: "Switch app"
      }
    ]
  }) }}
  {% set activeNav = "new-content" %}
  {% include "includes/_service-navigation_iteration.njk" %}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "new-content"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Create new content</span>
    <h1 class="govuk-heading-xl">{{ data['contentType'] }}</h1>

    <form method="post" action="">

      {{ govukInput({
        label: {
          text: "Title",
          classes: "govuk-label--m"
        },
        id: "title",
        name: "title",
        spellcheck: false
      }) }}

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="slug">
          Slug
        </label>
        <div id="slug-hint" class="govuk-hint">
          Must be written in the following format: lower-case-hyphen-separated
        </div>

        <div class="govuk-input__wrapper">
          {% if data['contentType'] == 'Completed transaction' %}
            <div class="govuk-input__prefix" aria-hidden="true">done/</div>
          {% elif data['contentType'] == 'Help page' %}
            <div class="govuk-input__prefix" aria-hidden="true">help/</div>
          {% else %}
            <div class="govuk-input__prefix" aria-hidden="true">/</div>
          {% endif %}
          <input class="govuk-input" id="slug" name="slug" type="text" spellcheck="false">
        </div>
      </div>

      {% if data['contentType'] == 'Local transaction' %}
        {{ govukInput({
          label: {
            text: "LGSL code",
            classes: "govuk-label--m"
          },
          id: "LGSL-code",
          name: "LGSLcode",
          classes: "govuk-input--width-3 govuk-input--extra-letter-spacing",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "LGIL code",
            classes: "govuk-label--m"
          },
          id: "LGIL-code",
          name: "LGILcode",
          classes: "govuk-input--width-2 govuk-input--extra-letter-spacing",
          spellcheck: false
        }) }}
      {% endif %}

      {{ govukRadios({
        name: "language",
        fieldset: {
          legend: {
            text: "Language",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "English",
            text: "English",
            checked: true
          },
          {
            value: "Welsh",
            text: "Welsh"
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Create content" }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="my-content">Cancel</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}
