{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  2i queue - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
          href: "#1",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue",
      active: true
    },
    {
      href: "fact-check",
      text: "Fact check"
    },
    {
      href: "new-content",
      text: "New content"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      2i queue
      <span id="item-count"></span>
    </h1>

    <!-- Tabs -->

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#english">
            English
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#welsh">
            Welsh
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="english">  

      <!-- End tabs -->

      {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "English",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        classes: "queue-2i",
        head: [
          {
            text: "Title"
          },
          {
            text: "Content type"
          },
          {
            text: "Assigned to"
          },

          {
            text: "Time in queue"
          },
          {
            text: "2i reviewer"
          }
        ],
        rows: [
          [
            {
              classes: "title-english"
            },
            {
              classes: "format-english"
            },
            {
              classes: "assignee-english"
            },
            {
              text: "3 minutes"
            },
            {
              html: "<button class='govuk-button'>Claim 2i</button>"
            }
          ]
        ]
      }) }}

      <!-- Tabs -->
      
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="welsh">
        <!-- <h3 class="govuk-heading-m">Welsh</h3> -->
        {{ govukTable({
          caption: "Welsh",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          classes: "queue-2i",
          head: [
            {
              text: "Title"
            },
            {
              text: "Content type"
            },
            {
              text: "Assigned to"
            },
            {
              text: "Time in queue"
            },
            {
              text: "2i reviewer"
            }
          ],
          rows: [
            [
              {
                classes: "title-welsh"
              },
              {
                classes: "format-welsh"
              },
              {
                classes: "assignee-welsh"
              },
              {
                text: "3 minutes"
              },
              {
                html: "<button class='govuk-button'>Claim 2i</button>"
              }
            ]
          ]
        }) }}
      </div>
    </div>

    <!-- End tabs -->
    
  </div>
</div>

{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Admin pages",
      width: "one-third",
      columns: 1,
      items: [
        {
          href: "#",
          text: "CSV reports"
        },
        {
          href: "#",
          text: "Downtime messages"
        },
        {
          href: "#",
          text: "Search users"
        }
      ]
    },
    {
      title: "Support and feedback",
      width: "two-thirds",
      items: [
        {
          href: "#",
          text: "Raise a support request"
        },
        {
          href: "#",
          text: "Check if publishing apps are working or if there’s any maintenance planned"
        },
        {
          href: "#",
          text: "How to write, publish, and improve content"
        }
      ]
    }
  ]
}) }}

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/publications.js"></script>
{% endblock %}