{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  My content - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigation: [
      {
        href: "#1",
        text: "Publications",
        active: true
      },
      {
        href: "#2",
        text: "New content"
      },
      {
        href: "#3",
        text: "Downtime"
      },
      {
          href: "#4",
          text: "Reports"
      },
      {
          href: "#5",
          text: "Search user"
      },
      {
          href: "#6",
          text: "My profile"
      },
      {
          href: "#7",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue",
      active: true
    },
    {
      href: "fact-check",
      text: "Fact check"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- <h1 class="govuk-heading-l">My content</h1> -->

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--l govuk-!-margin-bottom-7">2i queue</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Title</th>
          <th scope="col" class="govuk-table__header">Content type</th>
          <th scope="col" class="govuk-table__header">Assigned to</th>
          <th scope="col" class="govuk-table__header">Time in queue</th>
          <th scope="col" class="govuk-table__header">2i reviewer</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-item-edit" class="govuk-link--no-visited-state" style="font-weight: 600;">Self Assessment tax return forms</a>
            <span style="display: block;" class="govuk-!-padding-bottom-4">/self-assessment-tax-return-forms</span>
            <span style="display: block;" class="govuk-!-padding-bottom-4">“FC to hmctsweb@justice.gov.uk. If no amends, ok to publish. Welsh needed - leave Zen open.”</span>
          </td>
          <td class="govuk-table__cell">Answer</td>
          <td class="govuk-table__cell">Elliot Berzatto</td>
          <td class="govuk-table__cell">1 hour 33 minutes</td>
          <td class="govuk-table__cell">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Claim 2i
            </button>
          </td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-item-edit" class="govuk-link--no-visited-state" style="font-weight: 600;">Tax if you come to the UK</a>
            <span style="display: block;" class="govuk-!-padding-bottom-4">/tax-come-to-uk</span>
            <span style="display: block;" class="govuk-!-padding-bottom-4">“Please send FC to web.editor@education.gov.uk”</span>
          </td>
          <td class="govuk-table__cell">Answer</td>
          <td class="govuk-table__cell">Scarlett O’Connor</td>
          <td class="govuk-table__cell">54 minutes</td>
          <td class="govuk-table__cell">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Claim 2i
            </button>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-item-edit" class="govuk-link--no-visited-state" style="font-weight: 600;">Apply to the EU Settlement Scheme (settled and pre-settled status)</a>
            <span style="display: block;" class="govuk-!-padding-bottom-4">/settled-status-eu-citizens-families</span>
            <span style="display: block;" class="govuk-!-padding-bottom-4">“Urgent. FC to hmctsweb@justice.gov.uk. If no amends, ok to publish. Welsh needed - leave Zen open.”</span>
          </td>
          <td class="govuk-table__cell">Answer</td>
          <td class="govuk-table__cell">Bill Williamson</td>
          <td class="govuk-table__cell">43 minutes</td>
          <td class="govuk-table__cell">
            Layla Grant
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}