{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  All publications - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
          href: "#1",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"    
    },
    {
      href: "all-publications",
      text: "All publications",
      active: true
    },
    {
      href: "2i-queue",
      text: "2i queue"
    },
    {
      href: "fact-check",
      text: "Fact check"
    },
    {
      href: "new-content",
      text: "New content"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      All publications
      <span id="item-count"></span>
    </h1>

    <!-- Filter -->

    <form>
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/select/macro.njk" import govukSelect %}
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <div id="filters">

      {{ govukInput({
        label: {
          text: "Title or slug",
          classes: "govuk-label--s"
        },
        id: "title",
        name: "title"
      }) }}

      {{ govukSelect({
        id: "status",
        name: "state",
        classes: "full-width",
        label: {
          text: "Status",
          classes: "govuk-label--s"
        },
        items: [
          {
            value: "all",
            text: "All statuses"
          },  
          {
            value: "draft",
            text: "Draft"
          },
          {
            value: "in_review",
            text: "In review"
          },
          {
            value: "amends_needed",
            text: "Amends needed"
          },
          {
            value: "fact_check_sent",
            text: "Fact check sent"
          },
          {
            value: "fact_check_received",
            text: "Fact check received"
          },
          {
            value: "ready",
            text: "Ready"
          },
          {
            value: "scheduled_for_publishing",
            text: "Scheduled"
          },
          {
            value: "published",
            text: "Published"
          },
          {
            value: "archived",
            text: "Archived"
          }
        ]
      }) }}

      {{ govukSelect({
        id: "assignee",
        name: "assignee",
        classes: "full-width",
        label: {
          text: "Assigned to",
          classes: "govuk-label--s"
        },
        items: [
          {
            value: "all",
            text: "All assignees"
          }
        ]
      }) }}

      {{ govukSelect({
        id: "format",
        name: "format",
        classes: "full-width",
        label: {
          text: "Content type",
          classes: "govuk-label--s"
        },
        items: [
          {
            value: "all",
            text: "All types"
          },
          {
            value: "answer",
            text: "Answer"
          },
          {
            value: "completed transaction",
            text: "Completed transaction"
          },
          {
            value: "guide",
            text: "Guide"
          },
          {
            value: "help page",
            text: "Help page"
          },
          {
            value: "local transaction",
            text: "Local transaction"
          },
          {
            value: "place",
            text: "Place"
          },
          {
            value: "Simple smart answer",
            text: "Simple smart answer"
          },
          {
            value: "transaction",
            text: "Transaction"
          }
        ]
      }) }}

      </div>
      
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Apply filters"
        }) }}
        <a id="clear-filters" class="govuk-link govuk-link--no-visited-state" href="/multi-page-concept/all-publications"></a>
        <!-- <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="/">Clear filters</a> -->
      </div>
    </form>

    <div id="active-filters"></div>

    <!-- End filter -->

    <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible big-divider">      -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      firstCellIsHeader: true,
      classes: "all-publications",
      head: [
        {
          text: "Title"
        },
        {
          text: "Status"
        },
        {
          text: "Updated"
        },
        {
          text: "Assigned to"
        },
        {
          text: "Content type"
        }
      ],
      rows: [
        [
          {
            classes: "title"
          },
          {
            classes: "state"

          },
          {
            classes: "updated",
            text: "19 minutes ago"
          },
          {
            classes: "assignee"
          },
          {
            classes: "format"
          }
        ]
      ]
    }) }}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/publications.js"></script>
{% endblock %}