{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  Send to 2i - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
        href: "#1",
        text: "Switch app"
      }
    ]
  }) }}
  {% include "includes/_service-navigation.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">Send to 2i</h1>

    <h2 class="govuk-heading-l">Add change note</h2>
    <p class="govuk-body">Your change note should include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the Zendesk ticket link</li>
      <li>the Trello card link</li>
      <li>a summary of the ticket and the changes</li>
      <li>the location of the change, what the change is and why you’ve changed it</li>
    </ul>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a class="govuk-link--no-visited-state" href="https://gov-uk.atlassian.net/l/cp/dwn06raQ" rel="noreferrer noopener" target="_blank">
        Read guidance on writing good change notes (opens in new tab)
      </a>
    </p>
        
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
      name: "editionNote",
      id: "edition-note",
      rows: 18,
      label: {
        text: "Change note (optional)",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        html:'If you’ve added a change note already, you do not need to add another one'
      }
    }) }}

    <h2 class="govuk-heading-l">Add important note</h2>

    <p class="govuk-body">The important note needs to say:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>if it’s urgent </li>
      <li>if it’s a quick fix</li>
      <li>if it should be 2ied with something else</li>
      <li>what should happen next with the content (for example, publish, schedule)</li>
      <li>if it needs a fact check and the fact check email addresses</li>
    </ul>

    {{ govukTextarea({
      name: "importantNote",
      id: "important-note",
      rows: 10,
      label: {
        html: "Important note",
        classes: "govuk-label--m",
        isPageHeading: false
      }
    }) }}

    <form class="form" action="#" method="post">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Send to 2i"
        }) }}
        {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" id="cancel-link" href="#">Cancel</a>
      </div>
    </form>
    
  </div> 
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/content-item-actions.js"></script>
{% endblock %}