{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  Related external links - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    classes: "govuk-!-font-weight-bold",
    navigationClasses: "align-right",
    navigation: [
      {
          href: "#1",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue"
    },
    {
      href: "fact-check",
      text: "Fact check"
    },
    {
      href: "new-content",
      text: "Create new content"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds chapter-edit-form">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"></h1>

    <dl class="govuk-summary-list content-item-summary">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Edition</dt>
        <dd class="govuk-summary-list__value" id="edition"></dd>
        <dd class="govuk-summary-list__actions govuk-summary-list__row--no-actions"></dd>
      </div>
      {% if data['status'] == "In 2i" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">2i reviewer</dt>
          <dd class="govuk-summary-list__value" id="reviewer"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" id="reviewer-link" href="#">Change<span class="govuk-visually-hidden">2i reviewer</span></a>
          </dd>
        </div>
      {% elif data['status'] == "Fact check sent" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sent out</dt>
          <dd class="govuk-summary-list__value" id="sent-out"></dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__row--no-actions"></dd>
        </div>
      {% elif data['status'] == "Scheduled" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Scheduled for</dt>
          <dd class="govuk-summary-list__value" id="scheduled"></dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__row--no-actions"></dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Assigned to</dt>
        <dd class="govuk-summary-list__value" id="assignee"></dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> assignee</span></a>
        </dd>
      </div>
    </dl>
    
</div>

  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="content-item-edit">Edit</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="content-item-tagging">Tagging</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="content-item-metadata">Metadata</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="content-item-history-and-notes">History and notes</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" aria-current="page" href="content-item-related-external-links">Related external links</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="content-item-admin">Admin</a></li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Related external links</h2>
  </div>

  <div class="govuk-grid-column-two-thirds">

    {% if (data['status'] !== "Scheduled") and (data['status'] !== "Published") and (data['status'] !== "Archived") %}

      <p>Any changes will be visible on the publication when it is next published.</p>

      <h2 class="govuk-heading-m govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-6">Link 1</h2>
   
      <!-- {{ govukInput({
        label: {
          text: "Title"
        },
        id: "related-content-1",
        name: "related-content-1"
      }) }}

      {{ govukInput({
        label: {
          text: "URL or path"
        },
        hint: {
          text: "For example, https://gov.uk"
        },
        id: "related-content-1",
        name: "related-content-1"
      }) }}

      {{ govukButton({
        text: "Add another related external link",
        classes: "govuk-button--secondary",
        href: "#"
      }) }} -->

      <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Related external links
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Reorder<span class="govuk-visually-hidden"> related external links</span></a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> related external links</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related external link 1
            </dt>
            <dd class="govuk-summary-list__value">
              /right-of-way-open-access-land
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related external link 2
            </dt>
            <dd class="govuk-summary-list__value">
              /the-countryside-code-advice-for-countryside-visitors
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related external link 3
            </dt>
            <dd class="govuk-summary-list__value">
              /the-countryside-code-advice-for-countryside-visitors
            </dd>
          </div>
        </dl>
      </div>
    </div>

    {% else %}

      <h2 class="govuk-heading-m govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-6">Link 1</h2>
      
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Title</h3>
      <p class="govuk-body" id="">Your energy rights as a tenant</p>
      
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">URL</h3>
      <p class="govuk-body" id="">https://www.citizensadvice.org.uk/consumer/energy/energy-supply/</p>

    {% endif %}
    
  </div>

  {% if (data['status'] !== "Scheduled") and (data['status'] !== "Published") and (data['status'] !== "Archived") %}
    <div class="govuk-grid-column-one-third sticky options-sidebar">
        <div class="actions-sidebar">
          <button type="submit" data-prevent-double-click="true" class="govuk-button wide govuk-button--save govuk-button--progress" data-module="govuk-button">
            <span class="govuk-button__icon">
              <span class="govuk-button__text">Save</span>
            </span>
          </button>
        </div>
    </div>
  {% endif %}

</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/content-item.js"></script>
  <script src="/public/javascripts/save-feedback.js"></script>
{% endblock %}