{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  Fact check - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
          href: "#1",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue"
    },
    {
      href: "fact-check",
      text: "Fact check",
      active: true
    },
    {
      href: "new-content",
      text: "New content"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- <h2 id="doc-count" class="govuk-heading-m"></h2> -->
    <h1 class="govuk-heading-l">
      Fact check
      <span id="item-count"></span>
    </h1>


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#received">
            Received
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#sent-out">
            Sent out
          </a>
        </li>
      </ul>

      <!-- Received -->

      <div class="govuk-tabs__panel" id="received">       
        <!-- <table class="govuk-table govuk-table--small-text-until-tablet">
          <caption class="govuk-table__caption govuk-table__caption--m">Received</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Title</th>
              <th scope="col" class="govuk-table__header">Received</th>
              <th scope="col" class="govuk-table__header">Assigned to</th>
              <th scope="col" class="govuk-table__header">Content type</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Search for a patent</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/search-for-patent</span>
                <span style="display: block;" class="govuk-!-padding-bottom-4 govuk-!-font-size-16"><a href="#">View response</a></span>
              </td>
              <td class="govuk-table__cell">33 minutes ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Answer</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none;">
                <a href="#" style="font-weight: 600;">Search for a patent</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/search-for-patent</span>
                <span style="display: block;" class="govuk-!-padding-bottom-4 govuk-!-font-size-16"><a href="#">View response</a></span>
              </td>
              <td class="govuk-table__cell" style="border: none;">21 minutes ago</td>
              <td class="govuk-table__cell" style="border: none;">Zaya Cash</td>
              <td class="govuk-table__cell" style="border: none;">Answer</td>
            </tr>
          </tbody>
        </table> -->
        {% from "govuk/components/table/macro.njk" import govukTable %}
        {{ govukTable({
          caption: "Received",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          classes: "fact-check",
          head: [
            {
              text: "Title"
            },
            {
              text: "Status"
            },
            {
              text: "Assigned to"
            },
            {
              text: "Content type"
            }
          ],
          rows: [
            [
              {
                classes: "title-received"
              },
              {
                classes: "state-received"

              },
              {
                classes: "assignee-received"
              },
              {
                classes: "format-received"
              }
            ]
          ]
        }) }}
        <!-- {{ govukTable({
          caption: "Sent out",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: "Title"
            },
            {
              text: "Status"
            },
            {
              text: "Assigned to"
            },
            {
              text: "Content type"
            }
          ],
          rows: [
            [
              {
                classes: "title-sent"
              },
              {
                classes: "state-sent"

              },
              {
                classes: "assignee-sent"
              },
              {
                classes: "format-sent"
              }
            ]
          ]
        }) }} -->
      </div>

      <!-- Sent out -->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sent-out">
        <!-- <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Sent out</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Title</th>
              <th scope="col" class="govuk-table__header">Sent out</th>
              <th scope="col" class="govuk-table__header">Assigned to</th>
              <th scope="col" class="govuk-table__header">Content type</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">2 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Report illegal fishing in England</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/report-illegal-fishing-in-england-charge</span>
              </td>
              <td class="govuk-table__cell">2 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">6 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">6 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">7 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">7 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">9 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">9 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">9 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell">9 days ago</td>
              <td class="govuk-table__cell">Zaya Cash</td>
              <td class="govuk-table__cell">Transaction</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none;">
                <a href="#" style="font-weight: 600;">Apply online for student finance</a>
                <span style="display: block;" class="govuk-!-padding-bottom-4">/apply-online-for-student-finance</span>
              </td>
              <td class="govuk-table__cell" style="border: none;">10 days ago</td>
              <td class="govuk-table__cell" style="border: none;">Zaya Cash</td>
              <td class="govuk-table__cell" style="border: none;">Transaction</td>
            </tr>
          </tbody>
        </table> -->
          {{ govukTable({
          caption: "Sent out",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          classes: "fact-check",
          head: [
            {
              text: "Title"
            },
            {
              text: "Status"
            },
            {
              text: "Assigned to"
            },
            {
              text: "Content type"
            }
          ],
          rows: [
            [
              {
                classes: "title-sent"
              },
              {
                classes: "state-sent"

              },
              {
                classes: "assignee-sent"
              },
              {
                classes: "format-sent"
              }
            ]
          ]
        }) }}
      </div>

    </div>
        
  </div>
</div>

{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Admin pages",
      width: "one-third",
      columns: 1,
      items: [
        {
          href: "#",
          text: "CSV reports"
        },
        {
          href: "#",
          text: "Downtime messages"
        },
        {
          href: "#",
          text: "Search users"
        }
      ]
    },
    {
      title: "Support and feedback",
      width: "two-thirds",
      items: [
        {
          href: "#",
          text: "Raise a support request"
        },
        {
          href: "#",
          text: "Check if publishing apps are working or if there’s any maintenance planned"
        },
        {
          href: "#",
          text: "How to write, publish, and improve content"
        }
      ]
    }
  ]
}) }}

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/publications.js"></script>
{% endblock %}