{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  Fact check - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
          href: "#1",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue"
    },
    {
      href: "fact-check",
      text: "Fact check",
      active: true
    },
    {
      href: "new-content",
      text: "New content"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- <h2 id="doc-count" class="govuk-heading-m"></h2> -->
    <h1 class="govuk-heading-xl">
      Fact check
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#received">
            Received back
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#sent-out">
            Waiting on
          </a>
        </li>
      </ul>

      <!-- Received -->

      <div class="govuk-tabs__panel tabs-no-border" id="received">       
        {% from "govuk/components/table/macro.njk" import govukTable %}
        {{ govukTable({
          caption: "Received back",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          classes: "fact-check",
          head: [
            {
              text: "Title"
            },
            {
              text: "Response"
            },
            {
              text: "Received"
            },
            {
              text: "Assigned to"
            },
            {
              text: "Content type"
            }
          ],
          rows: [
            [
              {
                classes: "title-received"
              },
              {
                classes: "view-response"
              },
              {
                text: "16 minutes ago"
              },
              {
                classes: "assignee-received"
              },
              {
                classes: "format-received"
              }
            ]
          ]
        }) }}
      </div>

      <!-- Sent out -->

      <div class="govuk-tabs__panel tabs-no-border govuk-tabs__panel--hidden" id="sent-out">
        {{ govukTable({
          caption: "Waiting on",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          classes: "fact-check",
          head: [
            {
              text: "Title"
            },
            {
              text: "Sent out"
            },
            {
              text: "Assigned to"
            },
            {
              text: "Content type"
            }
          ],
          rows: [
            [
              {
                classes: "title-sent"
              },
              {
                text: "3 days ago"
              },
              {
                classes: "assignee-sent"
              },
              {
                classes: "format-sent"
              }
            ]
          ]
        }) }}
      </div>
    </div>
        
  </div>
</div>

{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Reports, downtime and users",
      width: "one-third",
      columns: 1,
      items: [
        {
          href: "#",
          text: "CSV reports"
        },
        {
          href: "#",
          text: "Downtime messages"
        },
        {
          href: "#",
          text: "Search users"
        }
      ]
    },
    {
      title: "Support and feedback",
      width: "two-thirds",
      items: [
        {
          href: "#",
          text: "Raise a support request"
        },
        {
          href: "#",
          text: "Check if publishing apps are working or if there’s any maintenance planned"
        },
        {
          href: "#",
          text: "How to write, publish, and improve content"
        }
      ]
    }
  ]
}) }}

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/publications.js"></script>
{% endblock %}