{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  My content - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
          href: "#1",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content",
      active: true
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue"
    },
    {
      href: "fact-check",
      text: "Fact check"
    },
    {
      href: "new-content",
      text: "Create new content"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      My content
      <!-- <span id="item-count"></span> -->
    </h1>
    
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      firstCellIsHeader: true,
      classes: "my-content",
      head: [
        {
          text: "Title"
        },
        {
          text: "Status"
        },
        {
          text: "Updated"
        },
        {
          text: "Content type"
        }
      ],
      rows: [
        [
          {
            classes: "title"
          },
          {
            classes: "state"

          },
          {
            classes: "updated",
            text: "33 minutes ago"
          },
          {
            classes: "format"
          }
        ]
      ]
    }) }}

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/publications.js"></script>
{% endblock %}