{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  New content - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
          href: "#1",
          text: "Switch app"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue"
    },
    {
      href: "fact-check",
      text: "Fact check"
    },
    {
      href: "new-content",
      text: "Create new content",
      active: true
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Create new content</h1>
    
    <form method="post" action="new-content-details">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "contentType",
        fieldset: {
          legend: {
            text: "Content type",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Answer",
            text: "Answer",
            hint: {
              text: "One-page guidance"
            }
          },
          {
            value: "Completed transaction",
            text: "Completed transaction",
            hint: {
              text: "Done page (feedback) at the end of a service"
            }
          },
          {
            value: "Guide",
            text: "Guide",
            hint: {
              text: "Multi-page guidance"
            }
          },{
            value: "Help page",
            text: "Help page",
            hint: {
              text: "Information about the GOV.UK website, for example ‘Privacy’"
            }
          },
          {
            value: "Local transaction",
            text: "Local transaction",
            hint: {
              text: "Address lookup for local authorities"
            }
          },
          {
            value: "Place",
            text: "Place",
            hint: {
              text: "Address lookup for nearby places and services"
            }
          },
          {
            value: "Simple smart answer",
            text: "Simple smart answer",
            hint: {
              text: "Simple questions and answers that route users to relevant outcomes"
            }
          },
          {
            value: "Transaction",
            text: "Transaction",
            hint: {
              text: "Start page for a service"
            }
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  
  </div>
</div>

{% endblock %}