{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
Request complete | GOV.UK Support – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Support",
    homepageUrl: "/index",
    serviceUrl: "/index"
  }) }}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Request complete"
      }) }}

      <p class="govuk-body">We have sent a confirmation email to the email addresses you provided.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      {% if data.requestType == "new-account" %}

        {% if data.whitehallTraining %}

            <p class="govuk-body">We’ll review your request and let you know when we’ve set up an Integration account for the new user and enrolled them on the training.</p>
            <p class="govuk-body">Once they’ve completed the training, you can let us know using this form. We’ll then create a Production account for them.</p>
      
        {% elif data.writingForGovUkTraining == "Yes" %}

            <p class="govuk-body">We’ll review your request and let you know when the new Production and Integration accounts have been created and the new user has been enrolled on the training.</p>

        {% else %}

            <p class="govuk-body">We’ll review your request and let you know when the new Production and Integration accounts have been created.</p>

        {% endif %} 
      
      {% elif data.requestType == "completed-training" %}
      
        <p class="govuk-body">We’ll review this request and let you know when the new Production account has been created.</p>
      
    {% else %}
      
        <p class="govuk-body">We’ll review this request and let you know when the user has been enrolled on the training.</p>
      
    {% endif %}

    </div>
  </div>

{% endblock %}