{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
Who needs a copy of this request? | GOV.UK Support – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Support",
    homepageUrl: "/index",
    serviceUrl: "/index"
  }) }}
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="history.back(); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Create a new user or request training</span>
      Does anyone other than {{ data['fullName'] }} need a copy of this request?
    </h1> -->

    <form method="post" action="/support-app/copy-of-request-answer">

      {% set emailHtml %}
        {{ govukInput({
          id: "request-copy-emails",
          name: "requestCopyEmails",
          value: data.requestCopyEmails,
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          label: {
            text: "Email addresses"
          },
          hint: {
            text: "If multiple people need a copy, separate their email addresses with a comma followed by a space"
          }
        }) }}
      {% endset -%}


      {{ govukRadios({
        name: "copyOfRequest",
        value: data.copyOfRequest,
        fieldset: {
          legend: {
            html: "<span class='govuk-caption-xl'>Create new user or request training</span>Does anyone other than " + data.fullName + " need a copy of this request?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: emailHtml
            }
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
