{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
What do you need? | GOV.UK Support – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Support",
    homepageUrl: "/index",
    serviceUrl: "/index"
  }) }}
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="history.back(); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      Create a new user or request training
    </span>

    <form method="post" action="/support-app/what-do-you-need">


      {{ govukRadios({
        name: "requestType",
        value: data.requestType,
        fieldset: {
          legend: {
            text: "What do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "new-account",
            text: "New account"
          },
          {
            value: "completed-training",
            text: "Confirm user has completed their Whitehall training"
          },
          {
            value: "refresher-training",
            text: "Refresher training"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
