{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
Which apps do they need access to? | GOV.UK Support – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Support",
    homepageUrl: "/index",
    serviceUrl: "/index"
  }) }}
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="history.back(); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      Create a new user or request training
    </span>

    <form method="post" action="/support-app/check-apps">

        {% set otherHtml %}
            {{ govukTextarea({
            id: "otherApps",
            name: "otherApps",
            label: {
                text: "List any other publishing applications that " + data.fullName + " needs",
                classes: "govuk-label--s"
            },
            hint: {
                text: "If you’re not sure what these are, explain what tasks they need to be able to do"
            },
            value: data.otherApps
            }) }}
        {% endset %}

        {{ govukCheckboxes({
            name: "apps",
            fieldset: {
            legend: {
                text: "Which apps does " + data.fullName + " need access to?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
            },
            hint: {
            text: "Select all that apply. All users have access to Content Data, Feedback Explorer, GovSearch and basic Support forms."
            },
            items: [
            {
                value: "Local Links Manager",
                text: "Local Links Manager",
                hint: {
                text: "Update local transaction pages"
                },
                checked: data.apps and "local-links-manager" in data.apps
            },

            {
                value: "Manuals Publisher",
                text: "Manuals Publisher",
                hint: {
                text: "Create or update manuals"
                },
                checked: data.apps and "manuals-publisher" in data.apps
            },

            {
                value: "Places Manager",
                text: "Places Manager",
                hint: {
                text: "Update ‘Find my nearest’ pages"
                },
                checked: data.apps and "places-manager" in data.apps
            },
            {
                value: "Specialist Publisher",
                text: "Specialist Publisher",
                hint: {
                text: "Create or update specialist finders and their content"
                },
                checked: data.apps and "specialist-publisher" in data.apps
            },
            {
                value: "Travel Advice Publisher",
                text: "Travel Advice Publisher",
                hint: {
                text: "Update FCDO travel advice"
                },
                checked: data.apps and "travel-advice-publisher" in data.apps
            },
            {
                value: "Whitehall Publisher",
                text: "Whitehall Publisher",
                hint: {
                text: "Create or update GOV.UK content"
                },
                checked: data.apps and "whitehall" in data.apps
            },

            {
                value: "Other apps",
                text: "Other apps",
                checked: data.apps and "other" in data.apps,
                conditional: {
                html: otherHtml
                }
            },

            {
                divider: "or"
            },

            {
                value: "None",
                text: "None",
                hint: {
                text: data.fullName + " does not need anything other than access to Content Data, Feedback Explorer, GovSearch and basic Support forms"
                },
                behaviour: "exclusive",
                checked: data.apps and "none" in data.apps
            }

            ]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

    </form>

  </div>
</div>

{% endblock %}
