{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
Who is this request for? | GOV.UK Support – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Support",
    homepageUrl: "/index",
    serviceUrl: "/index"
  }) }}
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="history.back(); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Create a new user or request training</span>
      Who is this request for?
    </h1>

<form method="post" action="/support-app/who-is-this-request-for">

      {{ govukInput({
        label: {
          text: "Full name"
        },
        id: "full-name",
        name: "fullName",
        value: data.fullName,
        autocomplete: "name",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Email address"
        },
        hint: {
          text: "The user will be copied into the request"
        },
        id: "email",
        name: "email",
        value: data.email,
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}

      

      {{ govukSelect({
        id: "sort",
        name: "sort",
        classes: "govuk-!-width-full",
        label: {
          text: "Organisation"
        },
        items: [
          {
            value: "Not provided",
            text: "Select an organisation",
            selected: true
          },
          {
            value: "Department for Work and Pensions (DWP)",
            text: "Department for Work and Pensions (DWP)"
          },
          {
            value: "Government Digital Service (GDS)",
            text: "Government Digital Service (GDS)"
          },
          {
            value: "HM Revenue and Customs (HMRC)",
            text: "HM Revenue and Customs (HMRC)"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
