{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
Who needs a copy of this request? | GOV.UK Support – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Support",
    homepageUrl: "/index",
    serviceUrl: "/index"
  }) }}
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="history.back(); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Create a new user or request training</span>
      Who needs a copy of this request?
    </h1>

    <form method="post" action="/support-app/who-needs-a-copy-of-this-request-answer">

        {{ govukInput({
            label: {
            text: "Email addresses"
            },
            hint: {
            text: "Leave the field blank if no one other than " + data.fullName + " needs a copy. If multiple people need a copy, separate their email addresses with a comma or semicolon followed by a space."
            },
            id: "request-copy-emails",
            name: "requestCopyEmails",
            value: data.requestCopyEmails,
            type: "email",
            autocomplete: "email",
            spellcheck: false
        }) }}  

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
