{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
Do you want them to do the Writing for GOV.UK training? | GOV.UK Support – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Support",
    homepageUrl: "/index",
    serviceUrl: "/index"
  }) }}
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="history.back(); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      Create a new user or request training
    </span>

    <form method="post" action="/support-app/writing-for-gov-uk-training-answer">

      {{ govukRadios({
        name: "writingForGovUkTraining",
        fieldset: {
          legend: {
            text: "Do you want " + data.fullName + " to do the ‘Writing for GOV.UK’ training?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "You can decide whether " + data.fullName + " does this training. It explains how to meet writing standards for GOV.UK, but not how to use publishing apps."
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
