{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>

<span class="govuk-caption-l">Document title</span>
<h1 class="govuk-heading-xl">Send to 2i</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
        <p>
            Explain what changes you did or did not make and why. Include a link to the relevant Zendesk ticket and Trello card. If you’ve added a change note already, you do not need to add another one. </p>

           <p><a href="#">Read the guidance on writing good change notes on the GOV.UK wiki (opens in new tab)</a>.</p>


       
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="more-detail">
                Send to 2i
              </label>
            </h1>
            

                  <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                             Is fact check required?
                            </h1>
                          </legend>   
                       
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="contact">
                              <span class="govuk-body">Yes</span><br>
        
                            </label>
                          </div>
                          <div class="govuk-radios__conditional" id="conditional-contact">
                            <div class="govuk-form-group govuk-form-group">
                              <label class="govuk-label" for="contact-by-email">
                                <span class="govuk-body govuk-body govuk-!-font-weight-bold">Email addresses for fact checkers</span> </br>
                                <span class="govuk-hint"> Separate by commas, for example, name1@email.com, name2@email.com</br>
                               </label></span>
                              </label>
                             
                              <input class="govuk-input govuk-!-width-one-half govuk-input" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                            </div>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
                            <label class="govuk-label govuk-radios__label" for="contact-2">
                              <span class="govuk-body">
                              No
                            </span>
                            </label>
                          </div>                  
        
                        </div>
                      </fieldset>
                    </div> 
                  </div>
          

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                     Is it a quick fix?
                    </h1>
                    <div id="passport-issued-hint" class="govuk-hint">
                      Something is a quick fix if: it’s a simple and quick change, it does not need a fact check, you’re confident it will go though 2i without needing any changes, you’re able to update the Welsh translation yourself (if there is one)
                    </div>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                      <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                        No
                      </label>
                    </div>
                </div>
                </fieldset>
                </div>


             
              <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                Scheduled publication date
                </h1>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2007
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Add any other notes</h1>
                            </legend>
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint"></textarea>
          </div>
        

          
          
            <div class="govuk-button-group space-test">
                
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Send to 2i
                </button>
            
                <a class="govuk-link" href="#">Cancel</a>

            
              </div>



          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}