{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Document title</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Assigned to</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Alex Hill</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="edit">Edit</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Content type</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Guide</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Edition</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">32   <strong class="govuk-tag govuk-tag--green">
                          Published
                        </strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      
                    </tbody>
                  </table>         
                </div>

          </div>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-edit.html">Edit</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-tagging-summary.html">Tagging</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-metadata.html">Metadata</a>
              </li>

  
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-history.html">History and notes</a>
              </li>
         

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="boilerplate-guide-admin.html">Admin</a>
              </li>
        

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-related.html">Related external links</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-unpublish.html">Unpublish</a>
              </li>
            </ul>
          
          </nav>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Admin</h2>

            <h3 class="govuk-heading-s">Update content type</h3>

            <p>No content will be lost, but content in some fields might not make it into the new edition. If it can't be copied to a new content type it will still be available in the previous edition. Content in multiple fields might be combined into a single field.
            </p>

            <p>All parts of Guide Editions will be copied across. If the format you are converting to doesn't have parts, the content of all the parts will be copied into the body, with the part title displayed as a top-level sub-heading.
            </p>


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="completedTransaction" name="contentType" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                    <label class="govuk-label govuk-radios__label" for="completedTransaction">
                      Answer
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      One page guidance
                    </div>
                  </div>

                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="completedTransaction" name="contentType" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                          <label class="govuk-label govuk-radios__label" for="completedTransaction">
                            Completed transaction
                          </label>
                          <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                            Done page for end of a service
                          </div>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="guide" name="contentType" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                          <label class="govuk-label govuk-radios__label" for="guide">
                            Guide
                          </label>
                          <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                            Multi-page guidance
                          </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="help" name="contentType" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="help">
                              Help
                            </label>
                            <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                                Info about GOV.UK website, for example Privacy
                            </div>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="place" name="contentType" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="place">
                              Place
                            </label>
                            <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                                Postcode look-up for places/services near you
                            </div>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ssa" name="contentType" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="ssa">
                              Simple smart answer
                            </label>
                            <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                                Simple questions and answers that route users to relevant outcomes
                            </div>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="transaction" name="contentType" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="transaction">
                              Transaction
                            </label>
                            <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                                Start page for a service
                            </div>
                          </div>
                
                
                    
                      </div>
                  </div>
                </fieldset>
              </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Update
              </button>
                    
               

                           

              
        </div>
        <div class="govuk-grid-column-one-third sticky">
            <!--
            <div class="actions-panel">
          <h3 class="govuk-heading-s">Options</h3>

          
          <p class="govuk-body"><a href="#">Preview (opens in new tab)</a></p>
-->


        </div>
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}