{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Prepare a charity's annual accounts</h1>
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                  
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Assigned to</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Mark Twain</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="edit-page-assigned.html" class="edit">Edit</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Content type</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Simple smart answer</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Edition</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">1   <strong class="govuk-tag govuk-tag--yellow">
                      Draft
                    </strong></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  
                </tbody>
              </table>            
                </div>

          </div>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="boilerplate-guide-edit.html">Edit</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-tagging-summary.html">Tagging</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-metadata.html">Metadata</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-history.html">History and notes</a>
              </li>
         

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-admin.html">Admin</a>
              </li>
        

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-related.html">Related external links</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-unpublish.html">Unpublish</a>
              </li>
            </ul>
          
          </nav>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Edit</h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

         

            <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                  Title
                </label>
                <input class="govuk-input" id="doc-title" name="doc-title" type="text" spellcheck="false" autocomplete="name" value="">
              </div>

            

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="metatags">
                  Meta tag description
                </label>
                <div id="metatags-hint" class="govuk-hint">
                    Some search engines will display this if they cannot find what they need in the main text
                  </div>
                <textarea class="govuk-textarea" id="metatags" name="metatags" rows="5" autocomplete="metatags">

                </textarea>
              </div>


              


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                        Is this beta content?
                      </label>
                  </legend>
                
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no" checked>
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Body
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>                   
                  </div>
                </h1>
               
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="7" aria-describedby="more-detail-hint"></textarea>

              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                            Text on start button
                          </label>
                      </legend>
                    
                     
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                Start now
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                                Continue
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                                Find contact details
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                Next
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>


</fieldset>
</div>
                  
                 

              <div class="line">
                &nbsp;
              </div>

              <div class="question">
              <h2 class="govuk-heading-m">Question 1</h2>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="q-1">
                  Title
                </label>
                <input class="govuk-input" id="q-1" name="q-1" type="text" spellcheck="false" autocomplete="name" value="Is your charity a company?">
              </div>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Optional extra information
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>
                     </div>
                </h1>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint">
Charitable incorporated organisations (CIOs) aren’t companies. 

*[CIOS]: Charitable Incorporated Organisations</textarea>

              </div>


              <div class="govuk-form-group">
                <h2 class="govuk-heading-s">Answer 1</h2>
                <label class="govuk-label govuk-body govuk-!-font-weight-normal" for="a-1">
                  Title
                </label>
                <input class="govuk-input" id="a-1" name="a-1" type="text" spellcheck="false" autocomplete="name" value="Yes">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="location">
                  Next step for user (<a href="#">jump to question</a>)
                </label>
                <select class="govuk-select wide" id="location" name="location" aria-describedby="location-hint">
                  <option value="choose">Choose</option>
                  <option value="nextq1" selected>Question 5 (How much money does your charitable company make each year?)</option>
                  <option value="nextw1"></option>
             
                </select>

                <p>
                  <button type="submit" class="govuk-button govuk-button--warning space-test" data-module="govuk-button">
                    Delete answer
                  </button>
                </p>
  
               
                </div>

              
                <div class="govuk-form-group">
                  <h2 class="govuk-heading-s">Answer 2</h2>
                  <label class="govuk-label govuk-body govuk-!-font-weight-normal" for="a-1">
                    Title
                  </label>
                  <input class="govuk-input" id="a-1" name="a-1" type="text" spellcheck="false" autocomplete="name" value="No">
                </div>
               
  
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location">
                    Next step for user (<a href="#">jump to question</a>)
                  </label>
                  <select class="govuk-select wide" id="location" name="location" aria-describedby="location-hint">
                    <option value="choose">Choose</option>
                    <option value="nextq1" selected>Question 8 (How much money does your charity make each year?)</option>
                    <option value="nextw1"></option>
                  </select>
                   
                
                <p>
                  <button type="submit" class="govuk-button govuk-button--warning space-test" data-module="govuk-button">
                    Delete answer
                  </button>
                </p>
                
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add another answer
                </button>

               
                </div>
                </div>
                
                <div class="question">
              <h2 class="govuk-heading-m">Question 5</h2>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="q-1">
                  Title
                </label>
                <input class="govuk-input" id="q-1" name="q-1" type="text" spellcheck="false" autocomplete="name" value="Is your charity a company?">
              </div>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Optional extra information
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>
                     </div>
                </h1>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint">
Charitable incorporated organisations (CIOs) aren’t companies. 

*[CIOS]: Charitable Incorporated Organisations</textarea>

              </div>


              <div class="govuk-form-group">
                <h2 class="govuk-heading-s">Answer 1</h2>
                <label class="govuk-label govuk-body govuk-!-font-weight-normal" for="a-1">
                  Title
                </label>
                <input class="govuk-input" id="a-1" name="a-1" type="text" spellcheck="false" autocomplete="name" value="Yes">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="location">
                  Next step for user (<a href="#">jump to question</a>)
                </label>
                <select class="govuk-select wide" id="location" name="location" aria-describedby="location-hint">
                  <option value="choose">Choose</option>
                  <option value="nextq1" selected>Question 5 (How much money does your charitable company make each year?)</option>
                  <option value="nextw1"></option>
             
                </select>

                <p>
                  <button type="submit" class="govuk-button govuk-button--warning space-test" data-module="govuk-button">
                    Delete answer
                  </button>
                </p>

                </div>

                <div class="govuk-form-group">
                  <h2 class="govuk-heading-s">Answer 2</h2>
                  <label class="govuk-label govuk-body govuk-!-font-weight-normal" for="a-1">
                    Title
                  </label>
                  <input class="govuk-input" id="a-1" name="a-1" type="text" spellcheck="false" autocomplete="name" value="No">
                </div>
               
  
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location">
                    Next step for user (<a href="#">jump to question</a>)
                  </label>
                  <select class="govuk-select wide" id="location" name="location" aria-describedby="location-hint">
                    <option value="choose">Choose</option>
                    <option value="nextq1" selected>Question 8 (How much money does your charity make each year?)</option>
                    <option value="nextw1"></option>
                  </select>
                   
                  <p>
                    <button type="submit" class="govuk-button govuk-button--warning space-test" data-module="govuk-button">
                      Delete answer
                    </button>
                  </p>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add another answer
                </button>
                <p>
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Add another question
                  </button>
                </p>
            
              </div>
              
          
             
            
        
            </div>

            <div class="line">
              &nbsp;
            </div>
              
            <div class="outcome">
              <h2 class="govuk-heading-m">Outcome 1</h2>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="o-1">
                  Title
                </label>
                <input class="govuk-input" id="o-1" name="o-1" type="text" spellcheck="false" autocomplete="name" value="You can prepare either receipts and payments or accruals amounts.">
              </div>

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Optional extra information
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>
                     </div>
                </h1>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint">
You can choose which type of accounts you prepare.

##Receipts and payments amounts 

Receipts and payments accounting is a summary of all the money you received and paid out in the year. 

You need to list assets (things you charity owns or money it is owed) and liabilities (money your charity owes to others). 
                </textarea>
                <p>
                  <button type="submit" class="govuk-button govuk-button--warning space-test" data-module="govuk-button">
                    Delete outcome
                  </button>
                </p>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add another outcome
                </button>

                <h2 class="govuk-heading-s">Answers related to this outcome</h2>
                <p><a href="#">Answer 1</a></p>
                <p><a href="#">Answer 3</a></p>
                <p><a href="#">Answer 5</a></p>


              </div>

              </div>

              <div class="outcome">
                <h2 class="govuk-heading-m">Outcome 2</h2>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="o-1">
                    Title
                  </label>
                  <input class="govuk-input" id="o-1" name="o-1" type="text" spellcheck="false" autocomplete="name" value="You can prepare either receipts and payments or accruals accounts but must have them checked.">
                </div>
  
                <div class="govuk-form-group">
                  <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                      Optional extra information
                    </label>
                    <div id="metatags-hint" class="govuk-hint">
                      Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>
                       </div>
                  </h1>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint">
You can choose which type of accounts you prepare - either receipts and payments accounts or accruals accounts.

##Receipts and payments accounts

Receipts and payments accounting is a summary of all the money you received and paid out in the year.

You need to list assets (things your charity owns or money it is owed) and liabilities (money your charity owes to others).

[Download templates for preparing receipts and payments accounts](/government/publications/charity-accounting-templates-receipts-and-payments-accounts).

###Charitable incorporated organisations (CIOs)

If you’re preparing receipts and payments accounts for a CIO, you must also include details of any loans:

* someone else has agreed to pay if the CIO can't ('under guarantee')
* secured against the CIO's assets (for example property)

##Accruals accounts

Accruals accounts include details of:

* how your charity gets its money
* how your charity spends money
* money in your charity's bank account
* assets
* liabilities
* other important information, such as related party transactions

You can choose to describe your charity's income and expenditure using either:

* categories that you're free to decide (known as 'natural categories'), for example donations, wages, rent
* activity categories as listed in [the statement of recommended practice (SORP)](http://www.charitysorp.org/)

You can [download templates for preparing accruals accounts](/government/collections/accruals-accounts-pack-cc17-sorp-frs-102).

##Get your accounts checked

You must have your accounts independently examined or audited. You can choose which you do unless your governing document specifies an audit.

###Using an independent examiner

An independent examination is less thorough than an audit. 

The examiner must:

* have the ability and experience to conduct the examination
* not have a close relationship with any of the charity’s trustees
* not be involved in the day-to-day running of the charity

[Read guidance on independent examination of accounts](https://www.gov.uk/government/publications/independent-examination-of-charity-accounts-trustees-cc31).

###Using an auditor

[Find an auditor](http://www.auditregister.org.uk/Forms/Default.aspx) using the register of statutory auditors.


*[SORP]: statement of recommended practice
*[CIO]: Charitable Incorporated Organisation
*[CIOs]: charitable Incorporated Organisations                </textarea>
                  <p>
                    <button type="submit" class="govuk-button govuk-button--warning space-test" data-module="govuk-button">
                      Delete outcome
                    </button>
                  </p>
  
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Add another outcome
                  </button>
  
                  <h2 class="govuk-heading-s">Answers related to this outcome</h2>
                  <p><a href="#">Answer 1</a></p>
                  <p><a href="#">Answer 3</a></p>
                  <p><a href="#">Answer 5</a></p>
  
  
                </div>
  
                </div>

                <div class="outcome">
                  <h2 class="govuk-heading-m">Outcome 3</h2>
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="o-1">
                      Title
                    </label>
                    <input class="govuk-input" id="o-1" name="o-1" type="text" spellcheck="false" autocomplete="name" value="You must prepare accruals accounts.">
                  </div>
    
                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                        Optional extra information
                      </label>
                      <div id="metatags-hint" class="govuk-hint">
                        Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>
                         </div>
                    </h1>
                    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint">
Accruals accounts include details of:

* how your charity gets its money
* how your charity spends money
* money in your charity's bank account
* assets (things your charity owns or money it is owed) 
* liabilities (money your charity owes) 
* other important information, such as related party transactions

You can choose to describe your charity's income and expenditure using either:

* categories that you're free to decide (known as 'natural categories'), for example donations, wages, rent
* activity categories as listed in [the statement of recommended practice (SORP)](http://www.charitysorp.org/)

You can [download templates for preparing accruals accounts](/government/collections/accruals-accounts-pack-cc17-sorp-frs-102-for-charitable-companies).

^You don't need to have your accounts examined or audited unless your charity’s governing document or the Charity Commission asks you to.^

*[SORP]: statement of recommended practice                  </textarea>
                    <p>
                      <button type="submit" class="govuk-button govuk-button--warning space-test" data-module="govuk-button">
                        Delete outcome
                      </button>
                    </p>
    
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Add another outcome
                    </button>
    
                    <h2 class="govuk-heading-s">Answers related to this outcome</h2>
                    <p><a href="#">Answer 1</a></p>
                    <p><a href="#">Answer 3</a></p>
                    <p><a href="#">Answer 5</a></p>
    
    
                  </div>
    
                </div>






        </div>
        <div class="govuk-grid-column-one-third sticky">
            <div class="actions-panel">
   
          <h3 class="govuk-heading-s">Options</h3>

          <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
            Save
          </button>
          <p class="govuk-body"><a href="#">Preview (opens in new tab)</a></p>
          <p class="govuk-body"><a href="#">Submit for 2i</a></p>
          <p class="govuk-body"><a class="delete" href="#">Delete edition</a></p>
        </div>

        <div class="actions-panel">
          <div class="smart-answer-quick-links">
          <h3 class="govuk-heading-s">Simple Smart Answer quick links</h3>
          <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Question 1</a></p>
          <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Question 5</a></p>
          <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Outcome 1</a></p>
          <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Outcome 2</a></p>
          <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Outcome 3</a></p>

        </div>
          </div>

       
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}