{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>

<span class="govuk-caption-l">Document title</span>
<h1 class="govuk-heading-xl">Update important note</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
    <p>Add important notes that anyone who works on this edition needs to see, eg “(Doesn’t) need fact check, don’t publish.” Each edition can have only one important note at a time.</p>

    </p>


       
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="more-detail">
                Important note
              </label>
            </h1>
          
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint"></textarea>
          </div>

          
            <div class="govuk-button-group space-test">
                
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Save
                </button>
            
                <a class="govuk-link" href="boilerplate-guide-unpublish.html">Cancel</a>

                <a href="#" class="delete">
                <p>Delete</a>
              </div>



          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}