{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Prepare a charity's annual accounts</h1>
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                  
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Assigned to</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Mark Twain</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="edit-page-assigned.html" class="edit">Edit</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Content type</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Simple smart answer</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Edition</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">1   <strong class="govuk-tag govuk-tag--yellow">
                      Draft
                    </strong></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  
                </tbody>
              </table>            
                </div>

          </div>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="boilerplate-guide-edit.html">Edit</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-tagging-summary.html">Tagging</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-metadata.html">Metadata</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-history.html">History and notes</a>
              </li>
         

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-admin.html">Admin</a>
              </li>
        

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-related.html">Related external links</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-unpublish.html">Unpublish</a>
              </li>
            </ul>
          
          </nav>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Edit</h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

         

            <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                  Title
                </label>
                <input class="govuk-input" id="doc-title" name="doc-title" type="text" spellcheck="false" autocomplete="name" value="">
              </div>

            

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="metatags">
                  Meta tag description
                </label>
                <div id="metatags-hint" class="govuk-hint">
                    Some search engines will display this if they cannot find what they need in the main text
                  </div>
                <textarea class="govuk-textarea" id="metatags" name="metatags" rows="5" autocomplete="metatags">

                </textarea>
              </div>


              


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                        Is this beta content?
                      </label>
                  </legend>
                
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no" checked>
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Body
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>                   
                  </div>
                </h1>
               
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="7" aria-describedby="more-detail-hint"></textarea>

              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                            Text on start button
                          </label>
                      </legend>
                    
                     
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                Start now
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                                Continue
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                                Find contact details
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                Next
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>


</fieldset>
</div>
                  
                 

              <div class="line">
                &nbsp;
              </div>

              <div class="question">
              <h2 class="govuk-heading-m">Question 1</h2>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="q-1">
                  Title
                </label>
                <input class="govuk-input" id="q-1" name="q-1" type="text" spellcheck="false" autocomplete="name" value="Is your charity a company?">
              </div>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Optional extra information
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>
                     </div>
                </h1>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint">
Charitable incorporated organisations (CIOs) aren’t companies. 

*[CIOS]: Charitable Incorporated Organisations</textarea>

              </div>


              <div class="govuk-form-group">
                <h2 class="govuk-heading-s">Answer 1</h2>
                <label class="govuk-label govuk-body govuk-!-font-weight-normal" for="a-1">
                  Title
                </label>
                <input class="govuk-input" id="a-1" name="a-1" type="text" spellcheck="false" autocomplete="name" value="Yes">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="location">
                  Next question for user
                </label>
                <select class="govuk-select wide" id="location" name="location" aria-describedby="location-hint">
                  <option value="choose">Choose</option>
                  <option value="nextq1" selected>Question 5 (How much money does your charitable company make each year?)</option>
                  <option value="nextw1"></option>
             
                </select>
                </div>

                <div class="govuk-form-group">
                  <h2 class="govuk-heading-s">Answer 2</h2>
                  <label class="govuk-label govuk-body govuk-!-font-weight-normal" for="a-1">
                    Title
                  </label>
                  <input class="govuk-input" id="a-1" name="a-1" type="text" spellcheck="false" autocomplete="name" value="No">
                </div>
               
  
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location">
                    Next question for user
                  </label>
                  <select class="govuk-select wide" id="location" name="location" aria-describedby="location-hint">
                    <option value="choose">Choose</option>
                    <option value="nextq1" selected>Question 8 (How much money does your charity make each year?)</option>
                    <option value="nextw1"></option>
                  </select>
                   
                <p>&nbsp;</p>
                
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add answer
                </button>
             
              <p>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add question
                </button>
              </p>
              </div>
            </div>

            <div class="line">
              &nbsp;
            </div>
              
            <div class="outcome">
              <h2 class="govuk-heading-m">Outcome 1</h2>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="o-1">
                  Title
                </label>
                <input class="govuk-input" id="o-1" name="o-1" type="text" spellcheck="false" autocomplete="name" value="">
              </div>

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Optional extra information
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>
                     </div>
                </h1>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint"></textarea>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add outcome
                </button>

                <h2 class="govuk-heading-s">Answers linked to this outcome</h2>
                <p>Answer 1</p>
                <p>Answer 3</p>
                <p>Answer 5</p>


              </div>

              </div>






        </div>
        <div class="govuk-grid-column-one-third sticky">
            <div class="actions-panel">
          <h3 class="govuk-heading-s">Options</h3>

          <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
            Save
          </button>
          <p class="govuk-body"><a href="#">Preview (opens in new tab)</a></p>
          <p class="govuk-body"><a href="#">Submit for 2i</a></p>
          <p class="govuk-body"><a class="delete" href="#">Delete edition</a></p>
        </div>
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}