{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Apply for help to improve a home with no gas boiler (Home Upgrade Grant)</h1>
    </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                  
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Assigned to</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Caroline Huxley</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Content type</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Answer</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Edition</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">5   <strong class="govuk-tag govuk-tag--red">
                      Published
                    </strong></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  
                </tbody>
              </table>            
                </div>

          </div>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="boilerplate-guide-edit.html">Edit</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-tagging-summary.html">Tagging</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-metadata.html">Metadata</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-history.html">History and notes</a>
              </li>
         

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-admin.html">Admin</a>
              </li>
        

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-related.html">Related external links</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-unpublish.html">Unpublish</a>
              </li>
            </ul>
          
          </nav>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Edit</h2>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="published-state">
           
            <h2 class="govuk-heading-s">Title</h2>
                <p>Apply for help to improve a home with no gas boiler (Home Upgrade Grant)</p>
           


            <h2 class="govuk-heading-s">Meta tag description</h2>
             <p>Check if you can get free energy saving improvements to reduce your home's energy bills through the Home Upgrade Grant.</p>
              
        <h2 class="govuk-heading-s">Is this beta content?</h2>
         <p>No</p>
                
               
         <h2 class="govuk-heading-s">Body</h2>

         <p>You could get free energy saving improvements made to your home if you:</p>

         <p> - are a homeowner in England</br> 
             - do not use a gas boiler as your main heating system</p>
            
            <p>>Use this service to:</p>
            
           <p>- check if you’re eligible </br>
           - submit your application to your local council</p>
            
            <p>
            ^The Home Upgrade Grant is only available in England. You might be able to get funding from a different scheme if you [live in Scotland](https://www.homeenergyscotland.org/), [live in Wales](https://www.gov.wales/get-help-energy-efficiency-households) or [live in Northern Ireland](https://www.nidirect.gov.uk/information-and-services/energy-advice/energy-saving-grants).
        </p>
           <p> ##What you can get  </p>
            
            <p>If you’re eligible, your local council will arrange a home survey to see how your home could be made more energy efficient. They might suggest improvements like installing:  
            </p>
            <p>
            - wall, loft and underfloor insulation  </br>
            - air source heat pumps  </br>
            - electric radiators  </br>
        </p>
            
           <p>Your local council will then organise and pay for any improvement work they've agreed with you. You will not need to pay for it. </p> 
            
           <p> ##Eligibility</p>
            
        <p>To be eligible, you must:</p>
            
        <p>
            - own and live in the property you’re applying for</br>
            - not use a gas boiler as your home's main heating system</br>
            - have an energy performance certificate (EPC) rating of D, E, F or G - if you do not know your home's EPC you can find it out when you apply</br>
        </p>
            <p>You’ll usually need to have a household income of £36,000 a year or less. You might still be eligible even if you earn more than that in some postcode areas.</p>
            
        <p> ##Check your eligibility and apply</p>
            
           <p> {button start}[Start now](https://www.check-eligibility-for-home-upgrade-grant.service.gov.uk/questionnaire/boiler){/button}</p>
            
            <p>##What happens next</p>
            
            <p>Your local council will usually contact you within 10 working days to get more information and arrange a home survey.</p>
            
        <p>##Speak to an adviser</p>
            
            <p>Call the helpline to get help to apply or to discuss ways to save energy in your home.</p>
            <p>
            $C</br>
            Home Upgrade Grant helpline\\</br>
            Telephone: 0800 098 7950\\</br>
            Monday to Friday, 8am to 6pm (except bank holidays)\\</br>
            Saturday, 9am to 12pm\\</br>
            [Find out about call charges](/call-charges)</br>
            $C
        </p>
            
            
           <p> *[EPC]: Energy performance certificate</p>

         <h2 class="govuk-heading-s">Public change note</h2>
         <p>Not answered</p>


                 
       
           


            
            
            


        </div>
        </div>

        <div class="govuk-grid-column-one-third sticky">
            <div class="actions-panel">
          <h3 class="govuk-heading-s">Options</h3>

            <a href="boilerplate-edit-page-pub-new-edition.html">
          <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
            Create new edition
          </button>
        </a>
          <a href="https://www.gov.uk/apply-home-upgrade-grant"><p class="govuk-body"><a href="#">View on GOV.UK website</a></p></a>
        </div>
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}