{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Document title</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Assigned to</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Alex Hill</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="edit">Edit</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Content type</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Guide</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Edition</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">32   <strong class="govuk-tag govuk-tag--yellow">
                          Draft
                        </strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      
                    </tbody>
                  </table>         
                </div>

          </div>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-edit.html">Edit</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-tagging-summary.html">Tagging</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-metadata.html">Metadata</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="#4">History and notes</a>
              </li>
         

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-admin.html">Admin</a>
              </li>
        

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-related.html">Related external links</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-unpublish.html">Unpublish</a>
              </li>
            </ul>
          
          </nav>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">History and notes</h2>


            <div class="important-note">


                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                      </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                      <p class="govuk-notification-banner__heading">
                        Quick fix. No F/C needed. Do not publish - waiting for department to confirm publishing date. No need to update Zen
                      </p>
                      <p class="govuk-body-m">Aldous Huxley added an important note on 24 August 2024</p>

                    </div>
                  </div>

                
          
        </div>


            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                       Edition 4
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                    <p><a href="#">Compare with Edition 3</a></p>
                    <p class="govuk-body">
                        1:45pm, 24 August 2024 </br>
                    <span class="govuk-!-font-weight-bold">Publish by Aldous Huxley</span> </p>
                  </div>
                </div>
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        Edition 3
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                    <p><a href="#">Compare with Edition 2</a></p>
                    <p class="govuk-body">
                        9:00am, 14 August 2024 </br>
                    <span class="govuk-!-font-weight-bold">Note by Bertrand Russell</span> </p>  
                    <div class="govuk-inset-text">
                        <p>
                        Just changing the slug (previously 2ied and signed off).</p>
                        <p>
                        FROM</p>
                        <p>
                        get-your-dog-microchipped
                    </p>
                        <p>TO</p>
                        <p>
                        get-your-dog-cat-microchipped
                    </p>
                                         </div>             
                
                </div>
                </div>
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        Edition 2
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                    <p><a href="#">Compare with Edition 1</a></p>
                    <p class="govuk-body">
                        5:00pm, 4 August 2024 </br>
                    <span class="govuk-!-font-weight-bold">Publish by Franz Kafka</span> </p>                 
                 </div>
                </div>
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                        Edition 1
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-4" class="govuk-accordion__section-content">
                    <p class="govuk-body">
                        2:00pm, 2 August 2024 </br>
                    <span class="govuk-!-font-weight-bold">Create by Franz Kafka</span> </p>
                </div>
                </div>
              </div>

        </div>

        <div class="govuk-grid-column-one-third sticky">
            <div class="actions-panel">
          <h3 class="govuk-heading-s">Options</h3>

          <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
            Add edition note
          </button>

          <button type="submit" class="govuk-button govuk-button--secondary govuk-button wide" data-module="govuk-button">
           Update important note
          </button>

          <p class="govuk-body"><a href="#">Preview (opens in new tab)</a></p>
          <p class="govuk-body"><a href="#">Submit for 2i</a></p>
    
        </div>
        </div>

      </div>
      
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}