{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Document title</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                  
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Assigned to</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Sun Lotion</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="edit">Edit</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Content type</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Local transaction</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Edition</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">55   <strong class="govuk-tag govuk-tag--yellow">
                      Draft
                    </strong></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  </tr>
                  
                </tbody>
              </table>            
                </div>

          </div>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="boilerplate-guide-edit.html">Edit</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-tagging-summary.html">Tagging</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-metadata.html">Metadata</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-history.html">History and notes</a>
              </li>
         

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-admin.html">Admin</a>
              </li>
        

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-related.html">Related external links</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="boilerplate-guide-unpublish.html">Unpublish</a>
              </li>
            </ul>
          
          </nav>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Edit</h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            

              <div class="govuk-form-group">
              <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-lgsl">
                LGSL code
              </label>
              <div id="metatags-hint" class="govuk-hint">This can't be changed</div>


              <p>273</p> 

              <!--
              <input class="govuk-input" id="doc-lgsl" name="doc-lgsl" type="text" spellcheck="false" autocomplete="name" value="">
            </div>
            -->

            <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-lgil">
                  LGIL code
                </label>
                <input class="govuk-input" id="doc-lgil" name="doc-lgil" type="text" spellcheck="false" autocomplete="name" value="">
              </div>

            

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="metatags">
                  Meta tag description
                </label>
                <div id="metatags-hint" class="govuk-hint">
                    Some search engines will display this if they cannot find what they need in the main text
                  </div>
                <textarea class="govuk-textarea" id="metatags" name="metatags" rows="5" autocomplete="metatags">

                </textarea>
              </div>


              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                  Title
                </label>
                <input class="govuk-input" id="doc-title" name="doc-title" type="text" spellcheck="false" autocomplete="name" value="">
              </div>

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    Introductory paragraph
                  </label>
                  <div id="metatags-hint" class="govuk-hint">
                    Set the scene for the user. Explain that it's the responsibility of the local council and that we'll take you there.  
                    Refer to the <a href="#">Govspeak guidance (opens in new tab)</a>                   
                  </div>
                </h1>
               
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="7" aria-describedby="more-detail-hint"></textarea>

              </div>


              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    More information
                  </label>
                 
                </h1>
               
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="7" aria-describedby="more-detail-hint"></textarea>
              </div>

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                    What you need to know
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="7" aria-describedby="more-detail-hint"></textarea>

                </h1>
               
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h2 class="govuk-heading-s">
                        Northern Ireland
                      </h2>
                    </legend>
                 
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="nations-1" name="nations" type="radio" value="email" data-aria-controls="conditional-contact">
                        <label class="govuk-label govuk-radios__label" for="nations-1">
                          Service available from local council
                        </label>
                      </div>
                      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="nations-2" name="nations" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                        <label class="govuk-label govuk-radios__label" for="nations-2">
                          Service available from devolved administration (or a similar service is available)
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="two-thirds">
                          Enter the URL of the devolved administration website page
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="url" name="url" type="url" autocomplete="url">
                        </div>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="nations-3" name="nations" type="radio" value="email" data-aria-controls="conditional-contact">
                        <label class="govuk-label govuk-radios__label" for="nations-3">
                          Service not available
                        </label>
                      </div>
                    
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h2 class="govuk-heading-s">
                       Scotland
                      </h2>
                    </legend>
                 
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="scotland-1" name="scotland" type="radio" value="local-council">                       
                         <label class="govuk-label govuk-radios__label" for="scotland-1">
                          Service available from local council
                        </label>
                      </div>
                      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="scotland-2" name="scotland" type="radio" value="devolved-administration" data-aria-controls="scotland-2-conditional">                        <label class="govuk-label govuk-radios__label" for="scotland-2">
                          Service available from devolved administration (or a similar service is available)
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="scotland-2-conditional">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="two-thirds">
                          Enter the URL of the devolved administration website page
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="url" name="url" type="url" autocomplete="url">
                        </div>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="scotland-3" name="scotland" type="radio" value="email" data-aria-controls="scotland-3">
                        <label class="govuk-label govuk-radios__label" for="scotland-3">
                          Service not available
                        </label>
                      </div>
                    
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h2 class="govuk-heading-s">
                       Wales
                      </h2>
                    </legend>
                 
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="wales-1" name="wales" type="radio" value="local-council">                       
                         <label class="govuk-label govuk-radios__label" for="wales-1">
                          Service available from local council
                        </label>
                      </div>
                      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="wales-2" name="wales" type="radio" value="devolved-administration" data-aria-controls="wales-2-conditional">                        <label class="govuk-label govuk-radios__label" for="wales-2">
                          Service available from devolved administration (or a similar service is available)
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="wales-2-conditional">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="two-thirds">
                          Enter the URL of the devolved administration website page
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="url" name="url" type="url" autocomplete="url">
                        </div>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="wales-3" name="wales" type="radio" value="email" data-aria-controls="wales-3">
                        <label class="govuk-label govuk-radios__label" for="wales-3">
                          Service not available
                        </label>
                      </div>
                    
                    </div>
                  </fieldset>
                </div>
        
                </div>
            </div>

         
            
           
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                   Add a public change note
                  </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-m">
                              Add a public change note
                            </h2>     
                            <p>Telling users when published information has changed is important for transparency.
                            </p> 
                          </legend>
                         
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                              <label class="govuk-label govuk-radios__label" for="contact">
                                <span class="govuk-body govuk-body govuk-!-font-weight-bold">Yes - information has been added, updated or removed</span><br>
                                <span class="govuk-hint">A change note will be published on the page and emailed to users subscribed to email alerts. The 'last updated' date will change.</span>
          
                              </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-contact">
                              <div class="govuk-form-group govuk-form-group">
                                <label class="govuk-label" for="contact-by-email">
                                  <span class="govuk-body govuk-body govuk-!-font-weight-bold"> Describe the change for users</span> </br>
                                  <span class="govuk-hint"> Tell users what has changed, where and why. Write in full sentences, leading with the most important words. For example, "College A has been removed from the registered sponsors list because its licence has been suspended."</br>
                                  <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#change-notes" target="_new">Guidance on change notes (opens in a new tab)</a></label></span>
                                </label>
                               
                                <input class="govuk-input govuk-!-width-one-half govuk-input" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                              </div>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
                              <label class="govuk-label govuk-radios__label" for="contact-2">
                                <span class="govuk-body govuk-!-font-weight-bold">
                                No
                              </span>
                              </label>
                            </div>                  
          
                          </div>
                        </fieldset>
                      </div>                </div>
              </details>
            
            


        </div>
        <div class="govuk-grid-column-one-third sticky">
            <div class="actions-panel">
          <h3 class="govuk-heading-s">Options</h3>

          <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
            Save
          </button>
          <p class="govuk-body"><a href="#">Preview (opens in new tab)</a></p>
          <p class="govuk-body"><a href="#">Submit for 2i</a></p>
          <p class="govuk-body"><a class="delete" href="#">Delete edition</a></p>
        </div>
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}