{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>

<span class="govuk-caption-l">Document name</span>
<h1 class="govuk-heading-xl">Compare edition 1 and 2</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
    

        <div class="diff-container">
       <div class="diff">
        <div class="diff2">
        <ul class="govuk-list">
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="unchanged">This is another unchanged line of text.</li>
            <li class="ins2">New line of text.</li>
            <li class="ins2">New line of text.</li>
            <li class="ins2">&nbsp;</li>
            <li class="ins2">New line of text.</li>
            <li class="ins2">&nbsp;</li>
            <li class="unchanged">&nbsp;</li>
            <li class="unchanged">## This is an existing H2.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="ins2">&nbsp;</li>
            <li class="ins2">## This is a newly added H2.</li>
            <li class="del2"><del2><strong>Some e</strong>dited words in a line, plus some unedited words.</del2></li>
            <li class="ins2"><ins2><strong>E</strong>dited words in a line, plus some unedited words.</ins></li>
              <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="ins2">New line of text.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="del2">Deleted line of text.</li>
            <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="del2"><del2>A <strong>good</strong> sentence which has been modified.</del2></li>
            <li class="ins2"><ins2>A<strong>n</strong> <strong>excellent</strong> sentence which has been modified.</ins2></li>
              <li class="unchanged">This is an unchanged line of text in this document.</li>
            <li class="del2">A line of text that was totally deleted.</li>
            <li class="unchanged">A totally untouched and unchanged line of text that required no changes.</li>
         
        </ul>
      </div>
       </div>
    </div>
            
              </div>



          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}