{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<span class="govuk-caption-l">Document title</span>
  <h1 class="govuk-heading-xl">Set GOV.UK breadcrumb preferences</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <h2 class="govuk-heading-m">Breadcrumb settings saved successfully</h2>
      
    <p class="govuk-body">You've set a breadcrumb. Users will see:</p>


    <div class="govuk-inset-text">
        
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Business and self employed </a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Business tax</a>
              </li>
            </ol>
          </div>
        
        </div>


    <!-- 
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                If the wrong breadcrumb is being displayed, you need to check the page is not tagged to the topic taxonomy in Content Tagger
              </p>
            </div>
          </div>
-->
            <div class="govuk-button-group space-test">
              <a href="#">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Back to summary
              </button>
            </a>
     
             

            </div>

          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}