{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="govuk-caption-l">Document title</span>
  <h1 class="govuk-heading-xl">Set GOV.UK breadcrumb preferences</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-heading-m">
             What breadcrumb should this page display?
            </h2>
          </legend>

          <p>The page is tagged to the topic taxonomy and will display a default breadcrumb unless you choose a breadcrumb from the mainstream browse taxonomy.</p>
          <p>If you do not want to display a breadcrumb, remove the <a href="#">topic taxonomy tags on Content Tagger</a>.


        <p>This is the breadcrumb the user will see:</p>

        <div class="govuk-inset-text">


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Money</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">VAT</a>
              </li>
            </ol>
          </div>
            </p>
            </div>


                <div class="govuk-radios" data-module="govuk-radios">


            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england" checked="checked">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Keep topic taxonomy breadcrumb
                  </label>
                </div>


        
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                Choose a mainstream browse breadcrumb 
              </label>
            </div>


            </div>


            <div class="govuk-button-group space-test">
              <a href="#">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Next
              </button>
            </a>
              <a class="govuk-link" href="#">Cancel</a>
            </div>

            <div class="govuk-button-group">

      

          </div>

             

            </div>

          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}