{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="govuk-caption-l">Document title</span>
<h1 class="govuk-heading-xl">Manage GOV.UK breadcrumb</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          
            <p class="govuk-body">
              Breadcrumbs are displayed at the top of the page and help users to navigate. There may be some situations where you do not need a breadcrumb to display (for example, on Welsh translation pages).
            </p>
          </legend>

        
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose" name="breadcrumboptions" type="radio" value="choose">
              <label class="govuk-label govuk-radios__label" for="choose">
               Choose breadcrumb 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dontset" name="breadcrumboptions" type="radio" value="dontset">
              <label class="govuk-label govuk-radios__label" for="dontset">
               Do not set a breadcrumb
              </label>
            </div>

            <form action="breadcrumb-confirmation">
              <div class="govuk-button-group space-test">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
                <a class="govuk-link govuk-link--no-visited-state" href="ur-1-pension-credit-tagging.html">Cancel</a>
              </div>
            </form>

          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}