{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  Fact check - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Fact check</span>
    <h1 class="govuk-heading-xl">Become an apprentice</h1>

    <p class="govuk-body-l">Check that the changes to this content are factually correct.</p>

    <div class="govuk-inset-text">
      Read the <a href='https://www.gov.uk/government/publications/how-content-requests-from-government-get-published/fact-checking-content-on-govuk' target="_blank" class="govuk-link--no-visited-state">guidance on fact checking content (opens in new tab)</a>.
    </div>

    {{ govukButton({
      text: "Preview the changes",
      classes: "govuk-button--secondary preview-button govuk-!-margin-top-4",
      href: "draft-become-apprentice",
      id: "previewButton",
      attributes: {
        target: "_blank",
        rel: "noopener noreferrer"
      }
    }) }}

  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <div class="diff-container-alt">
      <div class="diff-alt">
        <ul class="govuk-list">
          <li class="unchanged">#How apprenticeships work</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Apprenticeships combine practical training in a job with study.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">As an apprentice you'll:</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">- be an employee [earning a wage and getting holiday pay](/become-apprentice/pay-and-conditions)</li>
          <li class="unchanged">- work alongside experienced staff</li>
          <li class="unchanged">- gain job-specific skills</li>
          <li class="unchanged">- get time for training and study related to your role (at least 20% of your normal working hours)</li>
          <li class="unchanged">&nbsp;</li>
          <li class="del"><del>Apprenticeships take <strong>1</strong> to <strong>5</strong> years to complete depending on the<strong>ir</strong> level.</del></li>
          <li class="ins"><ins>Apprenticeships <strong>can </strong>take <strong>from 8 months</strong> to <strong>6</strong> years to complete<strong>,</strong> depending on the<strong> type and</strong> level<strong> of the apprenticeship</strong>.</ins></li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##Levels of apprenticeship</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Apprenticeships have equivalent educational levels.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">| | Level | Equivalent educational level |</li>
          <li class="unchanged">| -|-|- |</li>
          <li class="unchanged">&nbsp;</li>
          <li class="del"><del>| # Intermediate | 2 | GCSE |</del></li>
          <li class="ins"><ins>| # <strong>Foundation and </strong>Intermediate | 2 | GCSE |</ins></li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">| # Advanced | 3 | A level</li>
          <li class="unchanged">| # Higher | 4,5,6 and 7 | Foundation degree and above |</li>
          <li class="unchanged">| # Degree | 6 and 7 | Bachelor's or master's degree |</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Some apprenticeships may also give you an additional qualification, such as a diploma.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##Who can start an apprenticeship</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">To start an apprenticeship, you'll need to be:</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">- 16 or over</li>
          <li class="unchanged">- living in England</li>
          <li class="unchanged">- not in full-time education</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">^You can [apply for an apprenticeship](/become-apprentice/apply-for-an-apprenticeship) while you’re still at school but you'll need to be 16 or over by the end of the summer holidays to start the apprenticeship.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##If you have relevant experience</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">You could spend less time training or qualify earlier if you have relevant experience. This includes having:</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">- qualifications, such as a National Vocational Qualification (NVQ) in a relevant subject</li>
          <li class="unchanged">- industry or sector experience</li>
          <li class="unchanged">- completed training, such as an IT course</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">You can agree this with your training provider and employer when you start your apprenticeship.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##Apprenticeships in Scotland, Wales and Northern Ireland</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Different organisations deal with:</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">* [apprenticeships in Scotland](https://www.apprenticeships.scot/)</li>
          <li class="unchanged">* [apprenticeships in Wales](https://gov.wales/apprenticeships-genius-decision)</li>
          <li class="unchanged">* [apprenticeships in Northern Ireland](https://www.nidirect.gov.uk/campaigns/apprenticeships)</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">*[NVQ]: National Vocational Qualification</li>
          <li class="unchanged">*[ICT]: Information and communications technology</li>
          <li class="unchanged">*[GCSE]: General Certificate of Secondary Education</li>
          <li class="unchanged">*[BTEC]: Business and Technology Education Council</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged"># What you'll get</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">As an apprentice, you’ll get:</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">- paid and be entitled to the [National Minimum Wage](/national-minimum-wage)</li>
          <li class="unchanged">- time for training or study as part of your apprenticeship</li>
          <li class="unchanged">- holiday pay and other [employee rights](/employment-status/employee)</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##Apprentice pay and the National Minimum Wage</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">There are different rates of pay for apprentices depending on your age and what year of your apprenticeship you’re in.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Your employment contract should confirm your rate of pay.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">###Aged 16 to 18</li>
          <li class="unchanged">The current [National Minimum Wage rate](/national-minimum-wage-rates) for an apprentice is £7.55 per hour.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">###Aged 19 or over and in your first year</li>
          <li class="unchanged">The current [National Minimum Wage rate](/national-minimum-wage-rates) for an apprentice is £7.55 per hour.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">###Aged 19 or over and have completed your first year</li>
          <li class="unchanged">You’re entitled to the [National Minimum Wage or National Living Wage rate](/national-minimum-wage-rates) for your age.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">^[Check you're being paid the minimum wage](/am-i-getting-minimum-wage) with the National Minimum Wage and Living Wage calculator.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##Time apprentices are paid for</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">You must be paid for:</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">- your normal working hours</li>
          <li class="unchanged">- training that's part of your apprenticeship (at least 20% of your normal working hours)</li>
          <li class="unchanged">- study towards English and maths qualifications, if they’re part of your apprenticeship</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Your normal working hours should be in your employment contract (this might be your apprenticeship agreement).</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">There are rules about [how many hours you can work in a week](/maximum-weekly-working-hours) and [being paid overtime](/overtime-your-rights).</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">If you’re studying for English and maths qualifications which are part of your apprenticeship, your employer should allow you time to study during your normal working hours.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##Training</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">As an apprentice, at least 20% of your normal working hours must be spent on training.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Your training might happen every week, every month or in a separate block of time.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">The training might take place:</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">- at your place of work</li>
          <li class="unchanged">- somewhere else like at a college or training provider</li>
          <li class="unchanged">- online</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Your training provider will be able to tell you when and where your training will be.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##Holidays</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">You'll get at least 20 days paid holiday per year, plus bank holidays.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">^Use the [holiday calculator](/calculate-your-holiday-entitlement) to check holiday entitlement for apprentices.^</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##If you've been in local authority care</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">If you’re under 25 when you start your apprenticeship and have previously been in local authority care, you may be eligible for a bursary payment.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">Ask your training provider for more information about what you’ll get, if you're eligible and how to apply.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="ins"><ins>##Benefits and financial support</ins></li>
          <li class="ins"><ins>&nbsp;</ins></li>
          <li class="ins"><ins>If you’re disabled or have a health condition, you may be entitled to [certain benefits and financial support](/browse/benefits/disability) to help with work-related costs.</ins></li>
          <li class="ins"><ins>&nbsp;</ins></li>
          <li class="unchanged">##Help and advice</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged"></li>Your school, college or training provider may be able to give you advice about apprenticeships.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged"></li>[Contact Acas](/pay-and-work-rights) for free and confidential advice on your rights at work.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">The [Apprentice Support Centre](https://apprenticesupportcentre.apprenticeships.gov.uk/hc/en-gb) has information and advice about apprenticeships.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged"># Apply for an apprenticeship</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">There are 3 steps to applying for an apprenticeship.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">s1. [Search for an apprenticeship](/apply-apprenticeship).</li>
          <li class="unchanged">s2. Sign in or create an account.</li>
          <li class="unchanged">s3. Complete and submit your application.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">The [National Careers Service](https://nationalcareersservice.direct.gov.uk/Pages/Home.aspx) has advice on writing applications and what to do at interviews.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">^If you’re applying again because you were made redundant from your last apprenticeship, call the Apprenticeship helpline. You can also talk to your training provider.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">##If you're unsuccessful</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">You can ask for feedback if you do not get selected for an interview or for the apprenticeship.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">You can complain if you think you were not successful because you were discriminated against, or your treatment in the interview or application process was unfair.</li>
          <li class="unchanged">&nbsp;</li>
          <li class="unchanged">$C</li>
          <li class="unchanged">Apprenticeship helpline</li>
          <li class="unchanged"><nationalhelpdesk@apprenticeships.gov.uk></li>
          <li class="unchanged">Telephone: 0800 015 0400</li>
          <li class="unchanged">Monday to Friday, 9am to 5pm</li>
          <li class="unchanged">[Find out about call charges](/call-charges)</li>
          <li class="unchanged">$C</li>
        </ul>
      </div>
    </div>

  </div>
 
  <div class="govuk-grid-column-one-third sticky options-sidebar">
    <div class="actions-sidebar">        

      {% set textareaHtml %}
      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        classes: "govuk-!-margin-bottom-0",
        rows: 8,
        label: {
          text: "What are the factual errors?",
          classes: "govuk-label--s",
          isPageHeading: true
        },
        hint: {
          html: "
            Say what’s wrong, where it is, and why.
            For example: “Chapter 2, under ‘How much it costs’ – the fee is £150, not £130.”
            Do not suggest new wording – GDS will write that.
          "
        }
      }) }}
      {% endset -%}

      <form action="/fact-check-concept-confirmation" method="POST">
        {{ govukRadios({
          name: "factCheckResponse",
          classes: "govuk-!-margin-bottom-0 govuk-radios--small",
          fieldset: {
            legend: {
              text: "Confirm the changes are factually correct",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You can only respond once – agree your response with any colleagues first"
          },
          items: [
            {
              value: "yes",
              text: "Yes, they’re correct"
            },
            {
              value: "no",
              text: "No, there’s an error",
              conditional: {
                html: textareaHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Send your response",
          classes: "govuk-!-margin-bottom-0",
          type: "submit"
        }) }}
      </form>
    </div>

      <div class="govuk-inset-text">
        Respond by<br>
        <span class="govuk-!-font-weight-bold">Thursday 13 November 2025</span>
      </div>

    </div>
  </div>

</div>

{% endblock %}