{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Document name</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Assigned to</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Name</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Edit</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Content type</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Guide</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Edition</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">31</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Status</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                    </tbody>
                  </table>         
                </div>

          </div>


      <div class="actions-bar">
        <div class="actions-bar-wrapper">
        <ul>
            <li class="selected govuk-body">Edit</li>
            <li class="govuk-body"><a href="#">Tagging</a></li>
            <li class="govuk-body"><a href="#">Metadata</a></li>
            <li class="govuk-body"><a href="#">History and notes</a></li>
            <li class="govuk-body"><a href="#">Admin</a></li>
            <li class="govuk-body"><a href="#">Related external links</a></li>
        </ul>
    </div>
</div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Edit</h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                  Title
                </label>
                <input class="govuk-input" id="doc-title" name="doc-title" type="text" spellcheck="false" autocomplete="name">
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                        Is this beta content?
                      </label>
                  </legend>
                
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="metatags">
                  Meta tag description
                </label>
                <div id="metatags-hint" class="govuk-hint">
                    Some search engines will display this if they cannot find what they need in the main text
                  </div>
                <textarea class="govuk-textarea" id="metatags" name="metatags" rows="5" autocomplete="metatags"></textarea>
              </div>


              <div class="line">
                &nbsp;
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-title">
                  Title
                </label>
                <input class="govuk-input" id="doc-title" name="doc-title" type="text" spellcheck="false" autocomplete="name">
              </div>


              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="doc-slug">
                  Slug
                </label>
                <input class="govuk-input" id="doc-slug" name="doc-slug" type="text" spellcheck="false" autocomplete="name">
              </div>
              
              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-font-weight-bold" for="body">
                  Body
                </label>
                
                <textarea class="govuk-textarea" id="body" name="body" rows="25" autocomplete="body"></textarea>
              </div>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                   Govspeak guidance
                  </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">Govspeak guidance placeholder</p>
                </div>
              </details>


              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Add another part
              </button>



        </div>
        <div class="govuk-grid-column-one-third sticky">
            <div class="actions-panel">
          <h3 class="govuk-heading-s">Options</h3>

          <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
            Save
          </button>
          <p class="govuk-body"><a href="#">Preview (open in new tab)</a></p>
          <p class="govuk-body"><a href="#">Submit for 2i</a></p>
          <p class="govuk-body"><a class="delete" href="#">Delete edition</a></p>

        </div>
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}