{% extends "layouts/main-rebrand.html" %}

{% block pageTitle %}
  Guide - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    productName: "Publisher",
    homepageUrl: "/index",
    serviceUrl: "/index",
    navigationClasses: "align-right",
    navigation: [
      {
        href: "#1",
        text: "Switch app"
      },
      {
        href: "#2",
        text: "Sign out"
      }
    ]
  }) }}
  {% include "includes/_service-navigation_iteration.njk" %}
{% endblock %}

{% block content %}

<div>
{% set chapter1 %}
Employees may be [eligible for Statutory Paternity Leave and Pay](/employers-paternity-pay-leave/eligibility) if they and their partner are:

+ having a baby
+ adopting a child
+ having a baby through a surrogacy arrangement

^This guide is also available [in Welsh (Cymraeg)](/cyflogwyr-tal-absenoldeb-tadolaeth).^

##Statutory Paternity Leave

Employees can take either 1 or 2 weeks’ leave. If the employee is taking 2 weeks they can either be taken consecutively or separately. The amount of time is the same even if they have more than one child (for example twins).

Leave cannot start before the birth. The start date must be one of the following:

- the actual date of birth
- a specified number of days after the birth 
- a set date which is after the date of birth

Leave must finish within 52 weeks of the birth (or due date, if the baby is early).

The start and end dates are different [if the employee is adopting](/employers-paternity-pay-leave/adoption).

There are different rules [if you’re in Northern Ireland](https://www.nidirect.gov.uk/articles/paternity-leave).

##Statutory Paternity Pay

Statutory Paternity Pay for eligible employees is either £187.18 a week or 90% of their average weekly earnings (whichever is lower). Tax and National Insurance need to be deducted.

^Calculate an employee's paternity leave and pay using the [maternity and paternity calculator](/maternity-paternity-calculator).^

Some employment types, like agency workers, directors and educational workers, have [different rules for entitlement](/statutory-paternity-pay-employment-types-that-affect-payment).

##Extra leave or pay

Employees can get more leave or pay if:

+ their partner returns to work and they qualify for [Shared Parental Leave and Pay](/shared-parental-leave-and-pay-employer-guide)
+ your company scheme offers more

You must make sure your paternity leave and pay policies are clear and easily accessible to staff.

##Reclaiming payments

Even if you pay an employee more than the statutory amount, you can usually only reclaim 92% of that amount. You may be able to reclaim 108.5% if you qualify for Small Employers’ Relief. Read more about [reclaiming statutory pay](/recover-statutory-payments).

##Leave for antenatal appointments

Employees can take unpaid leave to [accompany a pregnant woman to antenatal appointments](/paternity-pay-leave/leave) if they are:

- the baby's father
- the expectant mother's spouse or civil partner
- in a long term relationship with the expectant mother
- the intended parent (if they're having a baby through a surrogacy arrangement)

They can accompany the woman to 2 appointments of up to 6 and a half hours each.

##If the baby dies

Employees still qualify for paternity leave and pay if the baby is either:

+ stillborn from 24 weeks of pregnancy
+ born alive at any point in the pregnancy but later dies

##Employment rights

An employee's [employment rights](/employee-rights-when-on-leave) (like the right to pay, holidays and returning to a job) are protected during paternity leave. You still have to pay Statutory Paternity Pay even if you stop trading.
{% endset %}

{% set chapter2 %}
Employees must be one of the following, the:

+ father
+ husband or partner of the mother (or adopter)
+ child's adopter
+ intended parent (if they're having a baby through a surrogacy arrangement)

Employees must also:

+ be [classed as an employee](/employment-status) (paternity leave only)
+ be employed by you up to the date the child is born (or placed with the adopter) (paternity pay only)
+ be on your payroll and earn at least £125 a week (gross) in an 8 week 'relevant period' (paternity pay only)
+ give you the [correct notice](/paternity-leave-pay-employees/notice-period)
+ be taking time off to look after the child or their partner
+ be responsible for the child's upbringing
+ have been [continuously employed by you](/continuous-employment-what-it-is) for at least 26 weeks up to any day in the 'qualifying week’

The qualifying week is the 15th week before the baby is due. This is different [if the employee is adopting](/paternity-leave-pay-employees/adoption).

^From 6 April 2026, employees will be eligible for Paternity Leave from their first day of employment.

Use the [paternity pay calculator](/maternity-paternity-calculator) to check an employee's eligibility and work out their relevant period, notice period and paternity pay.

There are [special rules](/statutory-paternity-pay-employee-circumstances-that-affect-payment) for some employee situations, for example if they leave or become sick.

##If the child is born early

If the child is born early, the employee is still eligible if they would have worked for you continuously for at least 26 weeks by the qualifying week.

##Employees in surrogacy arrangements

Parents intending to have a child through a surrogacy arrangement may be eligible for Statutory Paternity Pay and Leave.

If you ask, they must give you a written statement to confirm that they've applied or intend to apply for a [parental order](/become-a-childs-legal-parent) in the 6 months after the baby's birth.
{% endset %}

{% set chapter3 %}
^The notice periods and forms are different [if the employee is adopting](/paternity-leave-pay-employees/adoption).^

##Statutory Paternity Leave

Employees must tell you:

- the due date - at least 15 weeks before the baby is expected
- when they want their leave to start and how much leave they want to take - at least 28 days before they want to take it

Notice does not have to be in writing unless you request it.

Employees can ask for leave and pay in writing using [the online form](https://www.tax.service.gov.uk/fill-online/apply-for-statutory-paternity-pay). This replaces form SC3. Employees will need to download or print the form after completing it and give you a copy.

###When a new employee can give less notice

From 6 April 2026, employees will be eligible for Paternity Leave from their first day of employment.

To allow for this change, from 18 February 2026 until 25 July 2026, some employees will not need to give the usual 15 weeks notice of their baby’s due date.

An employee does not need to give 15 weeks notice if both of the following apply:

+ their baby is due between 5 April 2026 and 25 July 2026
+ they'll have been employed for less than 26 weeks up to any day in the ‘qualifying week’

The qualifying week is the 15th week before the baby is due. This is different [if the employee is adopting](/paternity-leave-pay-employees/adoption).

They’ll still need to give 28 days notice of when they want their leave to start and how much leave they want to take.

If the baby is due on or after 26 July 2026, both the usual notice periods will apply.

##Statutory Paternity Pay

Employees must claim paternity pay at least 15 weeks before the week the baby is expected.

Notice does not have to be in writing unless you request it.

Employees can ask for leave and pay in writing using [the online form](https://www.tax.service.gov.uk/fill-online/apply-for-statutory-paternity-pay).

^Employees having a baby through a surrogacy arrangement can also use the online form. This replaces form SC4.

Employees will need to download or print the form after completing it and give you a copy.

##Late notice

You can delay the leave or pay start date if the employee does not have a reasonable excuse for giving you the wrong amount of notice. To delay it, write to them within 28 days of their leave request.
{% endset %}

{% set chapter4 %}
Eligible employees are [entitled to paternity leave and pay](/paternity-leave-pay-employees/entitlement) if they're adopting a child.

^Calculate an employee’s paternity leave and pay using the [maternity and paternity calculator](/maternity-paternity-calculator). For overseas adoptions you’ll need to use your payroll software (if it has this feature) or [work it out manually](/statutory-paternity-pay-manually-calculate-your-employees-payments).^

##Eligibility

An employee adopting a child must:

+ have been [continuously employed by you](/continuous-employment-what-it-is) for at least 26 weeks up to any day in the week they were matched with a child (UK adoptions)
+ have been continuously employed by you for at least 26 weeks by either the date the child arrives in the UK or when they want their pay to start (overseas adoptions)
+ confirm that their partner is getting Statutory Adoption Pay in writing or by giving you a copy of their partner's [form SC6](https://www.gov.uk/government/publications/statutory-adoption-pay-and-leave-adopting-a-child-from-abroad-sc6)
+ meet the other [eligibility conditions](/paternity-leave-pay-employees/eligibility) for paternity leave or pay

##Notice period

An employee adopting a child can use [the online form](https://www.tax.service.gov.uk/fill-online/apply-for-statutory-paternity-pay) (or your own version) for: 

- leave – no later than 7 days of their co-adopter or partner being matched with a child
- pay – 28 days, or as soon as they’re reasonably able, before they want their pay to start

Employees will need to download or print the form after completing it and give you a copy.

For overseas adoptions the notice period is different. The process is explained in [the online form](https://www.tax.service.gov.uk/fill-online/apply-for-statutory-paternity-pay).

The online form replaces forms SC4 and SC5.

##Leave start date

An employee taking paternity leave because they're adopting can start their leave:

+ on the date of placement
+ an agreed number of days after the date of placement
+ on the date the child arrives in England, Scotland or Wales or an agreed number of days after this (overseas adoptions)

Leave must be taken within 52 weeks of the date of: 

- the child’s placement 
- the child’s arrival in England, Scotland or Wales (for overseas adoptions)

^[The rules on when Paternity Leave can start and finish are different in Northern Ireland](https://www.nidirect.gov.uk/articles/paternity-leave).

##Proof of adoption

Employees must give you proof of adoption to qualify for paternity pay. Proof is not needed for paternity leave unless you request it. Proof can be a letter from their adoption agency or their matching certificate.

You must [keep records](/employers-paternity-pay-leave/records) of the proof.
{% endset %}

{% set chapter5 %}
You can refuse Statutory Paternity Pay if the employee does not qualify. To do this send them [form SPP1](/government/publications/ordinary-statutory-paternity-pay-non-payment-explanation-ospp1) within 28 days of their pay request. You must keep a copy.

The employee can ask you for a written statement explaining your decision. You have to give this to them within a reasonable time, for example 7 working days.
{% endset %}

{% set chapter6 %}
You must keep records for HM Revenue and Customs (HMRC), including:

- the date Statutory Paternity Pay started
- the paternity payments you’ve made (including dates)
- the [payments you’ve reclaimed](/recover-statutory-payments)
- any weeks you did not pay and why
- if adopting, a letter from the adoption agency or a matching certificate

You must keep records for 3 years from the end of the tax year they relate to (for example by using [form SPP2](/government/publications/statutory-paternity-pay-record-sheet-spp2) or keeping your own records).

*[HMRC]: HM Revenue and Customs
{% endset %}

{% set chapter7 %}
For [financial help with statutory pay](/recover-statutory-payments), you can:

- reclaim payments (usually 92%)
- apply for an advance if you cannot afford payments


*[HMRC]: HM Revenue and Customs
{% endset %}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Guide</span>
    <h1 class="govuk-heading-xl">Statutory Paternity Pay and Leave: employer guide</h1>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Edition</dt>
        <dd class="govuk-summary-list__value">45 <strong class="govuk-tag govuk-tag--yellow">Draft</strong></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Assigned to</dt>
        <dd class="govuk-summary-list__value">Genie Reigns</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> assignee</span></a>
        </dd>
      </div>
    </dl>
  
  </div>

  <div class="govuk-grid-column-full">
    
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" aria-current="page" href="#">Edit</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="#">Tagging</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="#">Metadata</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="#">History and notes</a></li>
        <li class="moj-sub-navigation__item"><a class="moj-sub-navigation__link" href="#">Admin</a></li>
      </ul>
    </nav>

  </div>

  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Edit</h2>

  </div>

  <div class="govuk-grid-column-two-thirds">
                        
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="doc-title">Title</label>
      <input class="govuk-input" id="doc-title" name="doc-title" type="text" spellcheck="false" autocomplete="name" value="Statutory Paternity Pay and Leave: employer guide">
    </div>

    <h3 class="govuk-heading-m">Chapters</h3>

    <!-- Accordions -->

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" data-i18n.hide-all-sections="Hide all chapters" data-i18n.show-all-sections="Show all chapters">

      <!-- Chapter 1 -->
      
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
              Entitlement
            </span>
          </h2>
        </div>
        
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-1-title">Title</label>
            <input class="govuk-input" id="chapter-1-title" name="chapter-1-title" type="text" spellcheck="false" value="Entitlement">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-1-slug">Slug</label>
            <div id="more-detail-hint" class="govuk-hint">
              For example, title-of-chapter (no spaces, apostrophes or acronyms)
            </div>
            <input class="govuk-input" id="chapter-1-slug" name="chapter-1-slug" type="text" spellcheck="false" value="entitlement">
          </div>

          {{ govukTextarea({
            name: "body1",
            id: "body-1",
            label: {
              text: "Body",
              classes: "govuk-label govuk-label--s"
            },
            hint: {
              html: 'Read the <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" class="govuk-link--no-visited-state">Govspeak guide (opens in new tab)</a>'
            },
            rows: 20,
            value: chapter1
          }) }}
      
          {{ govukButton({
            text: "Delete chapter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2"
          }) }}
      
        </div>
      </div>

      <!-- Chapter 2 -->
     
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
              Eligibility
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-2-title">Title</label>
            <input class="govuk-input" id="chapter-2-title" name="chapter-2-title" type="text" spellcheck="false" value="Eligibility">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-2-slug">Slug</label>
            <div id="more-detail-hint" class="govuk-hint">
              For example, title-of-chapter (no spaces, apostrophes or acronyms)
            </div>
            <input class="govuk-input" id="chapter-2-slug" name="chapter-2-slug" type="text" spellcheck="false" value="eligibility">
          </div>

          {{ govukTextarea({
            name: "body2",
            id: "body-2",
            label: {
              text: "Body",
              classes: "govuk-label govuk-label--s"
            },
            hint: {
              html: 'Read the <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" class="govuk-link--no-visited-state">Govspeak guide (opens in new tab)</a>'
            },
            rows: 20,
            value: chapter2
          }) }}

          {{ govukButton({
            text: "Delete chapter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2"
          }) }}
      
        </div>
      </div>
      
      <!-- Chapter 3 -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
              Notice period	
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-3-title">Title</label>
            <input class="govuk-input" id="chapter-3-title" name="chapter-3-title" type="text" spellcheck="false" value="Notice period">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-3-slug">Slug</label>
            <div id="more-detail-hint" class="govuk-hint">
              For example, title-of-chapter (no spaces, apostrophes or acronyms)
            </div>
            <input class="govuk-input" id="chapter-3-slug" name="chapter-3-slug" type="text" spellcheck="false" value="notice-period">
          </div>

          {{ govukTextarea({
            name: "body3",
            id: "body-3",
            label: {
              text: "Body",
              classes: "govuk-label govuk-label--s"
            },
            hint: {
              html: 'Read the <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" class="govuk-link--no-visited-state">Govspeak guide (opens in new tab)</a>'
            },
            rows: 20,
            value: chapter3
          }) }}

          {{ govukButton({
            text: "Delete chapter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2"
          }) }}
      
      </div>
    </div>
      
      <!-- Chapter 4 -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-4">
              Adoption
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content">
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-4-title">Title</label>
            <input class="govuk-input" id="chapter-4-title" name="chapter-4-title" type="text" spellcheck="false" value="Adoption">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-4-slug">Slug</label>
            <div id="more-detail-hint" class="govuk-hint">
              For example, title-of-chapter (no spaces, apostrophes or acronyms)
            </div>
            <input class="govuk-input" id="chapter-4-slug" name="chapter-4-slug" type="text" spellcheck="false" value="adoption">
          </div>

          {{ govukTextarea({
            name: "body4",
            id: "body-4",
            label: {
              text: "Body",
              classes: "govuk-label govuk-label--s"
            },
            hint: {
              html: 'Read the <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" class="govuk-link--no-visited-state">Govspeak guide (opens in new tab)</a>'
            },
            rows: 20,
            value: chapter4
          }) }}

          {{ govukButton({
            text: "Delete chapter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2"
          }) }}
      
        </div>
      </div>

      <!-- Chapter 5 -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-5">
              Refuse pay form SPP1
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content">
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-5-title">Title</label>
            <input class="govuk-input" id="chapter-5-title" name="chapter-5-title" type="text" spellcheck="false" value="Refuse pay form SPP1">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-5-slug">Slug</label>
            <div id="more-detail-hint" class="govuk-hint">
              For example, title-of-chapter (no spaces, apostrophes or acronyms)
            </div>
            <input class="govuk-input" id="chapter-5-slug" name="chapter-5-slug" type="text" spellcheck="false" value="refuse-pay-form-SPP1">
          </div>

          {{ govukTextarea({
            name: "body5",
            id: "body-5",
            label: {
              text: "Body",
              classes: "govuk-label govuk-label--s"
            },
            hint: {
              html: 'Read the <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" class="govuk-link--no-visited-state">Govspeak guide (opens in new tab)</a>'
            },
            rows: 20,
            value: chapter5
          }) }}

          {{ govukButton({
            text: "Delete chapter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2"
          }) }}
      
        </div>
      </div>

      <!-- Chapter 6 -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-6">
              Record keeping
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content">
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-6-title">Title</label>
            <input class="govuk-input" id="chapter-6-title" name="chapter-6-title" type="text" spellcheck="false" value="Record keeping">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-6-slug">Slug</label>
            <div id="more-detail-hint" class="govuk-hint">
              For example, title-of-chapter (no spaces, apostrophes or acronyms)
            </div>
            <input class="govuk-input" id="chapter-6-slug" name="chapter-6-slug" type="text" spellcheck="false" value="records">
          </div>

          {{ govukTextarea({
            name: "body6",
            id: "body-6",
            label: {
              text: "Body",
              classes: "govuk-label govuk-label--s"
            },
            hint: {
              html: 'Read the <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" class="govuk-link--no-visited-state">Govspeak guide (opens in new tab)</a>'
            },
            rows: 20,
            value: chapter6
          }) }}

          {{ govukButton({
            text: "Delete chapter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2"
          }) }}
      
        </div>
      </div>

      <!-- Chapter 7 -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-7">
              Help with statutory pay
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content">
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-7-title">Title</label>
            <input class="govuk-input" id="chapter-7-title" name="chapter-7-title" type="text" spellcheck="false" value="Help with statutory pay">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chapter-7-slug">Slug</label>
            <div id="more-detail-hint" class="govuk-hint">
              For example, title-of-chapter (no spaces, apostrophes or acronyms)
            </div>
            <input class="govuk-input" id="chapter-7-slug" name="chapter-7-slug" type="text" spellcheck="false" value="help-with-statutory-pay">
          </div>

          {{ govukTextarea({
            name: "body7",
            id: "body-7",
            label: {
              text: "Body",
              classes: "govuk-label govuk-label--s"
            },
            hint: {
              html: 'Read the <a href="https://govspeak-preview.publishing.service.gov.uk/guide" target="_blank" class="govuk-link--no-visited-state">Govspeak guide (opens in new tab)</a>'
            },
            rows: 20,
            value: chapter7
          }) }}

          {{ govukButton({
            text: "Delete chapter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2"
          }) }}
      
          </div>

        </div>
      </div>

      <!-- End accordions -->

      <a href="guide-3-draft-add-new-chapter">
        <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-8" data-module="govuk-button">
          Add a new chapter
        </button>
      </a>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "IsEveryChapterIncludedInStepByStep",
        fieldset: {
          legend: {
            text: "Is every chapter part of a step by step?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "The chapter navigation will be hidden if they all are"
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No",
            checked: true
          }
        ]
      }) }}
      
    </div>

    <div class="govuk-grid-column-one-third sticky options-sidebar">
      <div class="actions-panel">
        <h3 class="govuk-heading-s">Options</h3>
        <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">Save</button>
        <a href="guide-3-draft-edit-reorder-chapters">
          <button type="submit" class="govuk-button govuk-button--secondary wide" data-module="govuk-button">Reorder chapters</button>        
        </a>
        <button type="submit" class="govuk-button govuk-button--secondary wide" data-module="govuk-button">2i</button>
        <p class="govuk-body"><a class="govuk-link--no-visited-state" href="#">Preview (opens in new tab)</a></p>
      </div>
    </div>

  </div>
</div>

{% endblock %}
