{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Mainstream publishing</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Post-UR iteration (29 May 2024)</h2>
        <p><a href="/guide-template-2">Guide template</a></p>
        <p><a href="/guide-template-2-chapter">Editing an existing chapter template</a></p>
        <p><a href="/guide-template-2-new-chapter">Adding a new chapter template</a></p>



        <h2 class="govuk-heading-m">User research scenario round 1: all chapters on one page</h2>
        <p><a href="/guide-sv-1">Guide: Standard Visitor existing content</a></p>


        <h2 class="govuk-heading-m">Mainstream publishing prototype building</h2>
      <p><a href="/publications">Publications page</a></p>
      <p><a href="/guide">Guide</a></p>

    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}