{% extends "layouts/main.html" %}

{% block pageTitle %}
  Mainstream publishing - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds no-visited-state">

    <h1 class="govuk-heading-xl">Mainstream publishing</h1>

    <p><a href="https://docs.google.com/spreadsheets/d/11u2XitAlHNBgSlKJspit6Kbd0-4b_ujVnte7opiuy3I/edit?gid=0#gid=0" target="_blank">Design System tracker</a></p>
    <p><a href="https://www.figma.com/design/UUNr4fuY8A9KYQ0efK0sz6/Mainstream?node-id=2-9028&t=sYlfsuJKuQDpchrj-1" target="_blank">Figma designs</a></p>
    <p><a href="/working-prototype/publications">Working prototype</a> [experimental]</p>

    <div class="index-spacer"></div>

    <div class="current">
      <h2 class="govuk-heading-m">April 2025</h2>
      <p><a href="answer-edit-fact-check">Fact check as-is flows</a></p>
      <p><a href="answer-edit-schedule">Schedule publication MVP</a></p>
      <p><a href="answer-edit-ready">Answer edit ready state</a></p>
      <p><a href="ur-2ier-content-2-2i-approved">Publish</a></p>
    </div>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">March 2025</h2>
    <p><a href="https://www.figma.com/design/UUNr4fuY8A9KYQ0efK0sz6/Mainstream?node-id=0-1&t=woi4g28BelgVyuPf-1">2i and fact check iterations (Figma)</a></p>
    <p><a href="update-important-note-mvp">Update important note MVP</a></p>
    <h3 class="govuk-heading-s">Edit page in Scheduled/Published/Archived states</h3>
    <p><a href="answer-edit-scheduled">Scheduled</a></p>
    <p><a href="answer-edit-published">Published</a></p>
    <p><a href="answer-edit-archived">Archived</a></p>
    <h3 class="govuk-heading-s">Tagging MVP</h3>
    <p><a href="tagging-mvp-empty-state">Empty state</a></p>
    <p><a href="tagging-mvp-tagged-state">Fully tagged state</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">February 2025</h2>
    <p><a href="ur-2ier-publications">UR 2ier flow</a></p>
    <p><a href="boilerplate-compare-editions-party-wall-mvp-alt.html">Compare editions MVP alt (TBC)</a></p>
    <p><a href="boilerplate-compare-editions-party-wall-mvp.html">Compare editions MVP</a></p>
    <p><a href="2i-request-amendments-form-mvp.html">2i request amendments flow MVP</a></p>
    <p><a href="2i-no-changes-needed-form-mvp.html">2i no changes needed flow MVP</a></p>
    <p><a href="2i-skip-review-mvp.html">2i skip review flow MVP</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">January 2025</h2>
    <p><a href="ur-2i-as-is-publications.html">UR experimental 2i flow</a></p>
    <p><a href="2i-flow-edit.html">Answer/help send to 2i flow</a></p>
    <p><a href="boilerplate-edit-page-published-not-latest-edition.html">Answer/help published state edit page - not latest edition</a></p>
    <p><a href="fact-check-received-by-gov-uk-bot.html">Fact check received by GOV.UK Bot</a></p>
    <h3 class="govuk-heading-s">Assign 2i reviewer MVP</h3>
    <p><a href="assign-2i-reviewer-mvp-unassigned.html">Unassigned</a></p>
    <p><a href="assign-2i-reviewer-mvp-assigned.html">Already assigned to someone</a></p>
    <p><a href="assign-2i-reviewer-mvp-success.html">2i reviewer assigned success banner</a></p>

    <div class="index-spacer"></div>

    <p><a href="https://docs.google.com/document/d/1JvJxab8cwbuQaAPZfKblqbZa3uW0Z0Iil2rDYQFUq-0/edit?tab=t.0">Design System roadmap Google doc</a></p>

    <h2 class="govuk-heading-m">12 December 2024</h2>
    <p>[Experimental] <a href="impt-note-iteration-2.html">Structured important note</a></a></p>
    <p>[Experimental] <a href="2i-iteration-3.html">2i - checklist</a></a></p>

    <h2 class="govuk-heading-m">10 December 2024</h2>
    <p><a href="boilerplate-submit-to-fact-check.html">Fact check - email</a></a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">26 November 2024</h2>
    <p><a href="edit-page-ready.html">Edit page ready to publish state</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">25 November 2024</h2>
    <p>Factcheck iterations / workflow improvements</p>
    <p><a href="impt-note-iteration.html">Add Zendesk and Trello links</a></p>
    <p><a href="2i-iteration.html">Update submit to 2i</a></p>
    <p>Related external links – alignment with Whitehall update</p>
    <p><a href="boilerplate-guide-related.html">Related external links - 1 link</a></p>
    <p><a href="boilerplate-guide-related-2.html">Related external links - 2 links</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">19 November 2024</h2>
    <p><a href="publicationsv2.html">Publications page</a> - WIP</p>
    <p><a href="boilerplate-edit-page-published.html">Answer/help published state edit page</a></p>
    <p><a href="boilerplate-simple-smart-answer-edit.html">Simple smart answer</a> WIP</p>

    <h2 class="govuk-heading-m">Compare editions</h2>
    <p><a href="boilerplate-compare-editions-party-wall.html">Version 1</a> highlighted</p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">31 October 2024</h2>

    <h2 class="govuk-heading-m">Assign to</h2>
    <p><a href="edit-page-assigned.html">Assign to person</a></p>
    <p><a href="edit-page-reviewer.html">Assign to reviewer</a></p>

    <h2 class="govuk-heading-m">Transaction</h2>
    <p><a href="boilerplate-transaction-edit.html">Transaction - edit page</a></p>

    <h2 class="govuk-heading-m">Completed transaction</h2>
    <p><a href="boilerplate-completed-transaction-edit.html">Completed transaction - edit page</a></p>

    <h2 class="govuk-heading-m">Place</h2>
    <p><a href="boilerplate-place-edit.html">Place - edit page</a></p>

    <h2 class="govuk-heading-m">Local transaction</h2>
    <p><a href="boilerplate-local-transaction-edit.html">Local transaction - edit page</a></p>

    <h2 class="govuk-heading-m">Answer, help page edit page</h2>
    <p><a href="edit-page-simple.html">Edit page</a></p>
    <p><a href="edit-page-assigned.html">Edit page - assign to another person</a></p>
  
    <h2 class="govuk-heading-m">Add artefact</h2>
    <p><a href="boilerplate-add-artefact.html">Add artefact - choose new content item</a></p>
    <p><a href="boilerplate-add-artefact-2.html">Add artefact - add title, slug and language (no slug prefix for everything except help and done pages)</a></p>
    <p><a href="boilerplate-add-artefact-3.html">Add artefact - add title, slug and language (slug prefix - this is used for help pages and done pages, with a prefix of 'done/' or 'help/')</a></p>
    <p><a href="boilerplate-add-artefact-4.html">Add artefact - local transaction step for LGSL and LGIL codes</a></p>

    <h2 class="govuk-heading-m">2i states</h2>
    <p><a href="boilerplate-guide-2i-submit.html">2i comment form after pressing 'submit to 2i'</a></p>
    <p><a href="boilerplate-guide-2i.html">Guide sent to 2i by editor</a></p>
    <p><a href="boilerplate-guide-2i-skip-review">Skip review</a></p>
    <p><a href="boilerplate-guide-2i-reviewer.html">Guide out to 2i seen by reviewer</a></p>
    <p><a href="boilerplate-guide-2i-reviewer-claimed.html">Guide out to 2i claimed by reviewer</a></p>
    <p><a href="boilerplate-guide-2i-request-amendments.html">Amends requested by reviewer</a></p>
    <p><a href="boilerplate-guide-2i-amends-needed.html">After amends requested submitted: shows 'amends needed' tag</a></p>

    <div class="index-spacer"></div>
    
    <h2 class="govuk-heading-m">19 August 2024</h2>

    <h2 class="govuk-heading-m">Adding tabs: Metadata, History and notes, Admin, Related external links, Unpublish</h2>
    <p><a href="boilerplate-guide-edit.html">Edit tab</a></p>
    <p><a href="boilerplate-guide-tagging-summary.html">Tagging tab</a></p>
    <p><a href="boilerplate-guide-metadata.html">Metadata tab</a></p>
    <p><a href="boilerplate-guide-metadata-success.html">Metadata tab - success notification</a></p>
    <p><a href="boilerplate-guide-history.html">History and notes tab</a></p>
    <p><a href="boilerplate-guide-history-edition-note.html">History and notes - add edition note</a></p>
    <p><a href="boilerplate-guide-history-important-note.html">History and notes - add important note</a></p>
    <p><a href="boilerplate-guide-history-update-impt-note.html">History and notes - update important note</a></p>
    <p><a href="boilerplate-guide-admin.html">Admin</a></p>
    <p><a href="boilerplate-guide-admin-delete-confirmation.html">Admin - delete edition confirmation step</a></p>
    <p><a href="boilerplate-guide-admin-fc.html">Admin - out for fact check</a></p>
    <p><a href="boilerplate-guide-admin-published.html">Admin - published - update content type</a></p>
    <p><a href="boilerplate-guide-unpublish.html">Unpublish tab</a></p>
    <p><a href="boilerplate-guide-unpublish-2.html">Unpublish - confirm unpublish</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">1 August 2024</h2>

    <h2 class="govuk-heading-m">Tagging and breadcrumb behaviour</h2>
    <p><a href="https://docs.google.com/document/d/10o0tUs4QXDBKq5z0C1bqZq4b3mMyl6iXJqpCV99TIOY/edit">Design document</a></p>

    <h2 class="govuk-heading-s">Tagging tab summary page</h2>
    <p><a href="breadcrumb-1-all-empty.html">Summary page - empty state - nothing set</a></p>
    <p><a href="breadcrumb-3-set.html">Summary page - only breadcrumb set</a></p>
    <p><a href="guide-template-2-tagging.html">Summary page - fully tagged example</a></p>

    <h2 class="govuk-heading-s">Breadcrumb states, settings page</h2>
    <p><a href="breadcrumb-2-options-tt.html">Tagged to topic taxonomy but has no mainstream browse tags</a></p>
    <p><a href="empty-breadcrumb-options.html">Not tagged to anything</a></p>
    <p><a href="breadcrumb-2-options-tagged.html">Tagged mainstream browse but not the topic taxonomy</a></p>

    <h2 class="govuk-heading-s">Exposing topic taxonomy tags</h2>
    <p><a href="guide-template-2-tagging-tt.html">Summary page - breadcrumb showing topic taxonomy</a></p>
    <p><a href="breadcrumb-options-when-tagged.html">Breadcrumb options page when tagged to topic taxonomy</a></p>
  
    <h2 class="govuk-heading-s">Tagging selection pages</h2>
    <p>Displaying all the topics in a list helps to surface the mainstream taxonomy and supports the selection / decision-making process</p>
    <p>On the mainstream browse tagging page, the user selects topics to tag</p>
    <p><a href="browse-tagging-options.html">Tagging to mainstream browse</a></p>
    <p>On the mainstream browse breadcrumb selection page, the user selects a breadcrumb</p>
    <p><a href="browse-breadcrumb-options.html">Selecting a mainstream breadcrumb</a></p>

    <h2 class="govuk-heading-s">Set related content</h2>
    <p>This design is based on MOJ's <a href="https://design-patterns.service.justice.gov.uk/components/add-another/">Add another pattern</a></p>
    <p><a href="related-content-set.html">Set related content</a></p>
    
    <h2 class="govuk-heading-s">Set organisation</h2>
    <p>This design is based on MOJ's <a href="https://design-patterns.service.justice.gov.uk/components/add-another/">Add another pattern</a></p>
    <p>This design uses the <a href="https://alphagov.github.io/accessible-autocomplete/">accessible autocomplete</a> pattern to search organisations</p>
    <p><a href="organisation-set.html">Set organisation</a></p>
    
    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">15 July 2024 - User research - tagging</h2>
        
    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          UR flows
        </span>
      </summary>

      <div class="govuk-details__text">

        <h2 class="govuk-heading-m">User research flow</h2>

        <h2 class="govuk-heading-s">Task 1: Pension Credit</h2>
        <p><a href="ur-1-pension-credit-edit.html">Edit page for Pension Credit</a></p>
        <p><a href="ur-1-pension-credit-tagging.html">Tagging tab for Pension Credit</a></p>
        <p><a href="ur-1-pension-credit-breadcrumb.html">Breadcrumb options for Pension Credit</a></p>
        <p><a href="ur-1-pension-credit-tagging-feedback-banner.html">Success feedback banner when breadcrumb chosen</a></p>
              
        <h2 class="govuk-heading-s">Task 2: Elections in the UK</h2>
        <p><a href="ur-2-elections-edit.html">Edit page for Elections in the UK</a></p>
        <p><a href="ur-2-elections-tagging.html">Tagging page for Elections in the UK</a></p>
        <p><a href="ur-2-breadcrumb-options.html">Breadcrumb options for Elections in the UK</a></p>
        <p><a href="ur-2-breadcrumb-selection.html">Browse breadcrumb page</a></p>
        <p><a href="ur-2-elections-tagging-feedback-banner.html">Success feedback banner when breadcrumb chosen</a></p>

      </div>

    </details>
    
    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">27 June 2024 - Save animation</h2>
    <p><a href="guide-template-2-chapter.html">Save animation on a chapter</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">12 June 2024 - Page templates - post-UR iteration</h2>
    <p><a href="/guide-template-2">Guide template</a></p>
    <p><a href="/guide-template-2-chapter">Editing an existing chapter template</a></p>
    <p><a href="/guide-template-2-new-chapter">Adding a new chapter template</a></p>
    <p><a href="/guide-template-2-saved-notification">Saved notification</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">4 June 2024 - user research - chapters v2</h2>
    <p><a href="sc-1-guide-types-of-election">Guide: Types of election, referendums, and who can vote</a></p>
    <p><a href="sc-2-guide-chapter-1">Chapter 1</a></p>
    <p><a href="sc-3-guide-chapter-2">Chapter 2</a></p>
    <p><a href="sc-4-guide-chapter-3">Chapter 3</a></p>
    <p><a href="sc-5-guide-chapter-4">Chapter 4</a></p>
    <p><a href="sc-6-guide-chapter-5.html">Chapter 5</a></p>
    <p><a href="sc-7-guide-chapter-6.html">Chapter 6</a></p>
    <p><a href="sc-8-guide-chapter-7.html">Chapter 7</a></p>
    <p><a href="sc-9-guide-chapter-8.html">Chapter 8</a></p>
    <p><a href="sc-10-guide-chapter-9.html">Chapter 9</a></p>
    <p><a href="sc-11-guide-reorderable-list.html">Reorderable list</a></p>
    <p><a href="/guide-template-2-new-chapter">Template: Adding a new chapter</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">29 May 2024 - Page templates - post-UR iteration</h2>
    <p><a href="/guide-template-2">Guide template</a></p>
    <p><a href="/guide-template-2-chapter">Editing an existing chapter template</a></p>
    <p><a href="/guide-template-2-new-chapter">Adding a new chapter template</a></p>

    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">May 2024 - User research - scenario round 1: all chapters on one page</h2>
    <p><a href="/guide-sv-1">Guide: Standard Visitor existing content</a></p>
    <div class="index-spacer"></div>

    <h2 class="govuk-heading-m">Mainstream publishing prototype building</h2>
    <p><a href="/publications">Publications page</a></p>
    <p><a href="/guide">Guide</a></p>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}