{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Mainstream publishing</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        

      <div class="index-spacer"></div>

      <div class="current-ur">

        <h2 class="govuk-heading-m">15 July 2024 </h2>

        <h2 class="govuk-heading-m">User research flow</h2>

        <h2 class="govuk-heading-s">Task 1: Pension Credit</h2>

        <p><a href="ur-1-pension-credit-edit.html">Edit page for Pension Credit</a></p>
        <p><a href="ur-1-pension-credit-tagging.html">Tagging tab for Pension Credit</a></p>
        <p><a href="ur-1-pension-credit-breadcrumb.html">Breadcrumb options for Pension Credit</a></p>
        <p><a href="ur-1-pension-credit-tagging-feedback-banner.html">Success feedback banner when breadcrumb chosen</a></p>
        
        

        <h2 class="govuk-heading-s">Task 2: Elections in the UK</h2>

        <p><a href="ur-2-elections-edit.html">Edit page for Elections in the UK</a></p>
        <p><a href="ur-2-elections-tagging.html">Tagging page for Elections in the UK</a></p>
        <p><a href="ur-2-breadcrumb-options.html">Breadcrumb options for Elections in the UK</a></p>
        <p><a href="ur-2-breadcrumb-selection.html">Browse breadcrumb page</a></p>
        <p><a href="ur-2-elections-tagging-feedback-banner.html">Success feedback banner when breadcrumb chosen</a></p>





      </div>


      <div class="current">

        <h2 class="govuk-heading-m">11 July 2024 </h2>

        <h2 class="govuk-heading-m">Tagging</h2>

        <h2 class="govuk-heading-s">Breadcrumb states, settings page</h2>

      <p><a href="breadcrumb-2-options-tt.html">Tagged to topic taxonomy but has no mainstream browse tags</a></p>
      <p><a href="empty-breadcrumb-options.html">Not tagged to anything</a></p>
      <p><a href="breadcrumb-2-options-tagged.html">Tagged mainstream browse but not the topic taxonomy</a></p>



        <h2 class="govuk-heading-s">Exposing topic taxonomy tags</h2>
        <p><a href="guide-template-2-tagging-tt.html">Summary page – breadcrumb showing topic taxonomy</a></p>
        <p><a href="guide-template-2-tagging-tt.html">Breadcrumb options page when tagged to topic taxonomy</a></p>



        <h2 class="govuk-heading-s">Topic taxonomy warning messaging</h2>
        <p><a href="breadcrumb-1-all-empty-help-text.html">Summary page – only breadcrumb set (with help messaging about topic taxonomy)</a></p>
        <p><a href="breadcrumb-confirmation.html">Confirmation page when no breadcrumb set (with help messaging about topic taxonomy) </a></p>
  




    
      <!-- 
      <p><a href="empty-breadcrumb-options.html">Settings page – no topics tagged</a></p>
      <p><a href="breadcrumb-2-options-tagged.html">Settings page – three topics tagged</a></p>
    -->

    <h2 class="govuk-heading-s">Breadcrumb states, summary page </h2>

    <p><a href="breadcrumb-1-all-empty.html">Summary page – empty state – nothing set</a></p>
    <p><a href="guide-template-2-tagging.html">Summary page – three browse topics tagged </a></p>
    <p><a href="breadcrumb-3-set.html">Summary page – only breadcrumb set</a></p>
 
      <h2 class="govuk-heading-s">Tagging selection pages</h2>
      <p>Displaying all the topics in a list helps to surface the mainstream taxonomy and supports the selection / decision-making process</p>
      <p>On the mainstream browse tagging page, the user selects topics to tag</p>
      <p><a href="browse-tagging-options.html">Mainstream browse tagging</a></p>
      <p>On the mainstream browse breadcrumb selection page, the user selects a breadcrumb</p>
      <p><a href="browse-breadcrumb-options.html">Mainstream breadcrumb selection</a></p>


      <h2 class="govuk-heading-s">Set related content</h2>
      <p>This design is based on MOJ's <a href="https://design-patterns.service.justice.gov.uk/components/add-another/">Add another pattern</a></p>

      <p><a href="related-content-set.html">Set related content</a></p>


      <h2 class="govuk-heading-s">Set organisation</h2>
      <p>This design is based on MOJ's <a href="https://design-patterns.service.justice.gov.uk/components/add-another/">Add another pattern</a></p>
      <p>This design uses the <a href="https://alphagov.github.io/accessible-autocomplete/">accessible autocomplete</a> pattern to search organisations</p>
      <p><a href="organisation-set.html">Set organisation</a></p>



      <h2 class="govuk-heading-s">Summary</h2>
      <p><a href="breadcrumb-1-all-empty.html">Summary page – empty state – nothing set</a></p>
      <p><a href="breadcrumb-3-set.html">Summary page – only breadcrumb set</a></p>
      <p><a href="guide-template-2-tagging.html">Summary page – fully tagged example</a></p>

    </div>
    
    <h2 class="govuk-heading-m">27 June 2024 – Save animation</h2>
    <p><a href="guide-template-2-chapter.html">Save animation on a chapter</a></p>

    <div class="index-spacer"></div>

      <h2 class="govuk-heading-m">12 June 2024 – Page templates – post-UR iteration</h2>
      <p><a href="/guide-template-2">Guide template</a></p>
      <p><a href="/guide-template-2-chapter">Editing an existing chapter template</a></p>
      <p><a href="/guide-template-2-new-chapter">Adding a new chapter template</a></p>
      <p><a href="/guide-template-2-saved-notification">Saved notification</a></p>

      <div class="index-spacer"></div>


        <h2 class="govuk-heading-m">4 June 2024 – Scenario for UR – 'Types of election, referendums, and who can vote'</h2>
        <p><a href="sc-1-guide-types-of-election">Guide: Types of election, referendums, and who can vote</a></p>
        <p><a href="sc-2-guide-chapter-1">Chapter 1</a></p>
        <p><a href="sc-3-guide-chapter-2">Chapter 2</a></p>
        <p><a href="sc-4-guide-chapter-3">Chapter 3</a></p>
        <p><a href="sc-5-guide-chapter-4">Chapter 4</a></p>
        <p><a href="sc-6-guide-chapter-5.html">Chapter 5</a></p>
        <p><a href="sc-7-guide-chapter-6.html">Chapter 6</a></p>
        <p><a href="sc-8-guide-chapter-7.html">Chapter 7</a></p>
        <p><a href="sc-9-guide-chapter-8.html">Chapter 8</a></p>
        <p><a href="sc-10-guide-chapter-9.html">Chapter 9</a></p>
        <p><a href="sc-11-guide-reorderable-list.html">Reorderable list</a></p>
        <p><a href="/guide-template-2-new-chapter">Template: Adding a new chapter</a></p>


        <div class="index-spacer"></div>

        <h2 class="govuk-heading-m">29 May 2024 – Page templates – post-UR iteration</h2>
        <p><a href="/guide-template-2">Guide template</a></p>
        <p><a href="/guide-template-2-chapter">Editing an existing chapter template</a></p>
        <p><a href="/guide-template-2-new-chapter">Adding a new chapter template</a></p>


        <div class="index-spacer"></div>


        <h2 class="govuk-heading-m">User research scenario round 1: all chapters on one page</h2>
        <p><a href="/guide-sv-1">Guide: Standard Visitor existing content</a></p>
        <div class="index-spacer"></div>


        <h2 class="govuk-heading-m">Mainstream publishing prototype building</h2>
      <p><a href="/publications">Publications page</a></p>
      <p><a href="/guide">Guide</a></p>

    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}