{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Publication</h1>

  {% from "govuk/components/table/macro.njk" import govukTable %}
  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Title"
      },
      {
        text: "Edition"
      },
      {
        text: "Last updated"
      },
      {
        text: "State"
      },
      {
        text: ""
      }
    ],
    rows: [
      [
        {
          text: "First 6 weeks"
        },
        {
          text: "£109.80 per week"
        },
        {
          text: "test"
        },
        {
          text: "Draft"
        },
        {
          text: "View"
        }
      ]
    ]
  }) }}

{% endblock %}
