{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Publication</h1>

  <!-- {% from "govuk/components/table/macro.njk" import govukTable %}
  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Title"
      },
      {
        text: "Edition"
      },
      {
        text: "Last updated"
      },
      {
        text: "State"
      },
      {
        text: ""
      }
    ],
    rows: [
      [
        {
          text: "[Title of document]"
        },
        {
          text: "[Number of edition]"
        },
        {
          text: "[Status]"
        },
        {
          text: "Draft"
        },
        {
          text: "View"
        }
      ]
    ]
  }) }} -->


  {%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
  {%- from "govuk/components/input/macro.njk" import govukInput -%}
  {%- from "govuk/components/table/macro.njk" import govukTable -%}
  {%- from "moj/components/filter/macro.njk" import mojFilter -%}
  {%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

  {% set filterOptionsHtml %}

    {{ govukInput({
      id: 'title',
      name: 'title',
      label: {
        text: 'Title',
        classes: 'govuk-label--m'
      }
    }) }}

    {{ govukInput({
      id: 'assignee',
      name: 'assignee',
      label: {
        text: 'Assignee',
        classes: 'govuk-label--m'
      }
    }) }}

    {{ govukInput({
      id: 'format',
      name: 'format',
      label: {
        text: 'Format',
        classes: 'govuk-label--m'
      }
    }) }}

    {{ govukCheckboxes({
      idPrefix: 'status',
      name: 'status',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Status',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: [
        {
          value: '1',
          text: 'Draft',
          checked: true
        },
        {
          value: '2',
          text: 'In review'
        },
        {
          value: '3',
          text: 'Amends needed'
        },
        {
          value: '4',
          text: 'Fact check sent'
        },
        {
          value: '5',
          text: 'Fact check recieved'
        },
        {
          value: '6',
          text: 'Ready'
        },
        {
          value: '7',
          text: 'Scheduled'
        },
        {
          value: '8',
          text: 'Published'
        },
        {
          value: '9',
          text: 'Archived'
        }
      ]
    }) }}

  {% endset %}


  <div class="moj-filter-layout">

    <div class="moj-filter-layout__filter">

      {{ mojFilter({
        heading: {
        text: 'Filter'
        },
        selectedFilters: {

        heading: {
          text: 'Selected filters'
        },

        clearLink: {
          text: 'Clear filters'
        },

        categories: [
          {
            heading: {
              text: 'Assignee'
            }
          },
          {
            heading: {
              text: 'Format'
            }
          },
          {
            heading: {
              text: 'State'
            }
          }
        ]
      },
        optionsHtml: filterOptionsHtml
      }) }}

    </div>

    <div class="moj-filter-layout__content">

    <div class="moj-action-bar">

      <div class="moj-action-bar__filter"></div>

    </div>

    <div class="moj-scrollable-pane">
      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {text: 'Title'},
          {text: 'Edition'},
          {text: 'Updated by'},
          {text: 'Status'},
          {text: ''}
        ],
        rows: [
          [
            {text: '[Name of document]'},
            {text: '[##]'},
            {text: '[Date] by [Person]'},
            {html: '<strong class="govuk-tag">Completed</strong>'},
            {html: '<a href="#" class="govuk-link">View</a>'}
          ]
        ]
      }) }}
    </div>
  </div>
  

{% endblock %}
