{% extends "layouts/main.html" %}

{% block pageTitle %}
Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Types of election, referendums, and who can vote</h1>
  </div>
</div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>
      <a href="sc-1-guide-types-of-election" class="govuk-back-link body-l">Back to summary</a>
  </p>
    <h2 class="govuk-heading-l">Reorder chapters</h2>



    <ol class="gem-c-reorderable-list" data-module="reorderable-list" data-reorderable-list-module-started="true">
      <li class="gem-c-reorderable-list__item" draggable="false">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Overview</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">
              <label for="input-ddf4f99f" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Budget 2018 (web)</span>
              </label>


              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-ddf4f99f" inputmode="numeric"
                name="ordering[d321cb86-67dc-11eb-ae93-0242ac130002]" spellcheck="false" type="text" value="1">
            </div>

            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Budget 2018 (web)&quot; up">Up</button>


            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Budget 2018 (web)&quot; down">Down</button>


          </div>
        </div>
      </li>
      <li class="gem-c-reorderable-list__item" draggable="false" style="">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">General election</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-b38e0f62" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Budget 2018</span>
              </label>








              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-b38e0f62" inputmode="numeric"
                name="ordering[ce99dd60-67dc-11eb-ae93-0242ac130002]" spellcheck="false" type="text" value="2">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Budget 2018&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Budget 2018&quot; down">Down</button>


          </div>
        </div>
      </li>
      <li class="gem-c-reorderable-list__item" draggable="false">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Local government	</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-6ec60379" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Impact on households: distributional analysis to accompany Budget 2018</span>
              </label>








              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-6ec60379" inputmode="numeric"
                name="ordering[63a6d29e-6b6d-4157-9067-84c1a390e352]" spellcheck="false" type="text" value="3">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Impact on households: distributional analysis to accompany Budget 2018&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Impact on households: distributional analysis to accompany Budget 2018&quot; down">Down</button>


          </div>
        </div>
      </li>
      <li class="gem-c-reorderable-list__item">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Scottish Parliament</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-d9174ec0" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Table 2.1: Budget 2018 policy decisions</span>
              </label>

              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-d9174ec0" inputmode="numeric"
                name="ordering[0a4d377d-68f4-472f-b2e3-ef71dc750f85]" spellcheck="false" type="text" value="4">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; down">Down</button>


          </div>
        </div>
      </li>

      <li class="gem-c-reorderable-list__item">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Senedd Cymru (Welsh Parliament)</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-d9174ec0" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Table 2.1: Budget 2018 policy decisions</span>
              </label>

              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-d9174ec0" inputmode="numeric"
                name="ordering[0a4d377d-68f4-472f-b2e3-ef71dc750f85]" spellcheck="false" type="text" value="4">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; down">Down</button>


          </div>
        </div>
      </li>

      <li class="gem-c-reorderable-list__item">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Northern Ireland Assembly</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-d9174ec0" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Table 2.1: Budget 2018 policy decisions</span>
              </label>

              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-d9174ec0" inputmode="numeric"
                name="ordering[0a4d377d-68f4-472f-b2e3-ef71dc750f85]" spellcheck="false" type="text" value="4">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; down">Down</button>


          </div>
        </div>
      </li>

      

      <li class="gem-c-reorderable-list__item">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Local mayors, Mayor of London and London Assembly</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-d9174ec0" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Table 2.1: Budget 2018 policy decisions</span>
              </label>

              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-d9174ec0" inputmode="numeric"
                name="ordering[0a4d377d-68f4-472f-b2e3-ef71dc750f85]" spellcheck="false" type="text" value="4">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; down">Down</button>


          </div>
        </div>
      </li>

      <li class="gem-c-reorderable-list__item">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Police and Crime Commissioner</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-d9174ec0" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Table 2.1: Budget 2018 policy decisions</span>
              </label>

              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-d9174ec0" inputmode="numeric"
                name="ordering[0a4d377d-68f4-472f-b2e3-ef71dc750f85]" spellcheck="false" type="text" value="4">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Table 2.1: Budget 2018 policy decisions&quot; down">Down</button>


          </div>
        </div>
      </li>


      <li class="gem-c-reorderable-list__item">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Referendums</p>

          </div>
          <div class="gem-c-reorderable-list__actions">

            <div class="govuk-form-group">


              <label for="input-1cfb58fe" class="gem-c-label govuk-label"> Position<span class="govuk-visually-hidden">
                  for Table 2.2: Measures announced at Autumn Budget 2017 or earlier that will take effect from November
                  2018 or later (£ million)</span>
              </label>








              <input class="gem-c-input govuk-input govuk-input--width-2" id="input-1cfb58fe" inputmode="numeric"
                name="ordering[5ebd75d7-6c37-4b93-b444-1b7c49757fb9]" spellcheck="false" type="text" value="5">
            </div>



            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up reorderable-button" type="button"
              aria-label="Move &quot;Table 2.2: Measures announced at Autumn Budget 2017 or earlier that will take effect from November 2018 or later (£ million)&quot; up">Up</button>





            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down reorderable-button" type="button"
              aria-label="Move &quot;Table 2.2: Measures announced at Autumn Budget 2017 or earlier that will take effect from November 2018 or later (£ million)&quot; down">Down</button>


          </div>
        </div>
      </li>
    </ol>








  </div>
  <div class="govuk-grid-column-one-third sticky">
    <div class="actions-panel">
      <h3 class="govuk-heading-s">Options</h3>

      <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
        Save
      </button>
      <a href="sc-1-guide-types-of-election">
        <button type="submit" class="govuk-button govuk-button--secondary govuk-button wide" data-module="govuk-button">
          Cancel
        </button>
      </a>



    </div>
  </div>
</div>
</main>
</div>




</div>

</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}