{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="govuk-caption-l">Ask the government to sell property: right to contest</span>
<h1 class="govuk-heading-xl">Request amendments</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="more-detail">
                    Amendment details (optional)
                </label>
            </h1>
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint"></textarea>
        </div>

        <div class="govuk-button-group space-test">    
          <button type="submit" class="govuk-button" data-module="govuk-button">
              Request amendments
          </button>
          <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
        </div>

    </div>    
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}