{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Ask the government to sell property: right to contest</span>
    <h1 class="govuk-heading-xl">Resend fact check email</h1>

    <div class="published-state">

      <h2 class="govuk-heading-s">Email addresses</h2>
      <!-- <div class="govuk-inset-text"> -->
        <p>fact-checker-one@example.com, fact-checker-two@example.com</p>
      <!-- </div> -->
      <h2 class="govuk-heading-s">Customised message</h2>
      <!-- <div class="govuk-inset-text"> -->
        <p>Hi,</p> 
        <p>We need you to check the factual accuracy of changes made to ‘Statutory Neonatal Care Pay and Leave: employer guide’ before it’s published on GOV.UK.</p>
        <p>The GOV.UK Content Team made the changes because</p>
        <p># Deadline: 15 April 2025 (5 working days from today - 8 April 2025)</p>
        <p>Preview the changes:</p> 
        <p class="govuk-body" style="word-break: break-all;">https://draft-origin.integration.publishing.service.gov.uk/employers-neonatal-care-pay-leave?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1Yzg1OGQyOC1iODc3LTRlN2ItYTU5Ni04MjdkZTNkODI0MGIiLCJjb250ZW50X2lkIjoiYjU0MTBiZDYtMTA2OS00MmViLTlhMjAtMjQ3NThjYTE1NzA4IiwiaWF0IjoxNzQ0MTIxNzk5LCJleHAiOjE3NDY3MTM3OTl9.T05_RFesBeNUyaE_c1TuXie6A6VTJlVTKuJ6k5NHgUY</p>
        </p>
        <p>---------------------------------------------------</p>
        <p># What to do</p>
        <p>Reply and confirm the content is correct.</p>
        <p>Or, if you spot something that's not correct, reply to this email and tell us:</br>
        - which paragraph or section isn’t right - for example chapter 2, under heading ‘How much it costs’</br>
        - what’s wrong and why - for example the text implies a legal obligation, when there isn't one</p>
        <p>Check your reply is being sent to govuk-fact-check-integration@digital.cabinet-office.gov.uk. Do not remove [67f2dd70036d59001480c74c] from the subject line - GDS will not get your fact check response if this is removed.</p>
        <p>---------------------------------------------------</p>
        <p># How to do it</p>
        <p>When fact checking, please:</br>
        - only point out factual errors - don’t suggest wording (GDS is responsible for the style)</br>
        - use plain text - GDS systems don’t display text formatting, colours or attachments</p>
        <p>To get the content published more quickly:</br>
        - only include comments about sections that GDS has changed</br>
        - only reply once - it’ll help if you co-ordinate your response before replying</p>
        <p>---------------------------------------------------</p>
        <p># When to contact your GOV.UK lead</p>
        <p>Ask your GOV.UK lead if:</br>
        - you’ve spotted a new issue - they’ll raise a new request with GDS</br>
        - you’ve got any questions - they can ask GDS any queries via the Zendesk system</br>
        - you need an extension to the deadline</p>
        <p>Thank you.</p>
      <!-- </div> -->

  </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Resend fact check email",
        href: "answer-edit-fact-check-email-re-sent"
      }) }}
      <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
    </div>

  </div>    
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}