{% extends "layouts/main.html" %}

{% block pageTitle %}
Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        GOV.UK breadcrumb updated
      </h3>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}

    <h1 class="govuk-heading-xl">Document title</h1>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Assigned to</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Genie Reigns</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="edit govuk-link--no-visited-state">Edit</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Content type</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Answer</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Edition</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">1 <strong class="govuk-tag govuk-tag--yellow">Draft</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#">Edit</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#2">Tagging</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">Metadata</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#4">History and notes</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#4">Admin</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#4">Related external links</a>
        </li>
      </ul>
    </nav>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Tagging</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">GOV.UK breadcrumb</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-tagged-breadcrumb-removed">Remove</a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-edit-breadcrumb">Edit</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Breadcrumb
            </dt>
            <dd class="govuk-summary-list__value">
              Business and self-employed > Business tax and VAT
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Mainstream browse pages</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-edit-mainstream-browse-pages">Edit</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Browse page 1
            </dt>
            <dd class="govuk-summary-list__value">
              Business and self-employed > Business tax and VAT
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Browse page 2
            </dt>
            <dd class="govuk-summary-list__value">
              Business and self-employed > Running a limited company
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Organisations
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-edit-organisations">Edit</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation 1
            </dt>
            <dd class="govuk-summary-list__value">
              Companies House
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation 2
            </dt>
            <dd class="govuk-summary-list__value">
              HM Revenue and Customs
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Related content
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-related-content-reorder">Reorder<span class="govuk-visually-hidden"> related content</span></a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-edit-related-content">Edit<span class="govuk-visually-hidden"> related content</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related content 1
            </dt>
            <dd class="govuk-summary-list__value">
              /company-tax-returns
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related content 2
            </dt>
            <dd class="govuk-summary-list__value">
              /prepare-file-annual-accounts-for-limited-company
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related content 3
            </dt>
            <dd class="govuk-summary-list__value">
              /corporation-tax
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related content 4
            </dt>
            <dd class="govuk-summary-list__value">
              /tax-help
            </dd>
          </div>
        </dl>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}