{% extends "layouts/main.html" %}

{% block pageTitle %}
Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--xl" for="event-name">
          <span class="govuk-caption-xl">Document title</span>
          Tag browse pages
        </label>
      </h1>
      <div id="browse-pages-hint" class="govuk-hint">
        Select all that apply
      </div>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Benefits
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Benefits and financial support for families
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Benefits and financial support if you’re caring for someone
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
              Benefits and financial support if you’re disabled or have a health condition
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Benefits and financial support if you’re looking for work
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox"
              value="low-income">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-5">
              Benefits and financial support if you’re on a low income
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-6" name="organisation" type="checkbox"
              value="low-income">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-6">
              Benefits and financial support if you’re temporarily unable to work
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-7" name="organisation" type="checkbox"
              value="low-income">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-7">
              Benefits and financial support when someone dies
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-8" name="organisation" type="checkbox"
              value="low-income">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-8">
              Manage an existing benefit, payment or claim
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Births, deaths, marriages and care
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="marriage" name="marriage" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="marriage">
              Certificates, register offices, changes of name or gender
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="marriage-2" name="marriage" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="marriage-2">
              Child Benefit
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="marriage-3" name="marriage" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="marriage-3">
              Having a child, parenting and adoption
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="marriage-4" name="marriage" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="marriage-4">
              Lasting power of attorney, being in care and managing finances
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="marriage-5" name="marriage" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="marriage-5">
              Marriage, civil partnership and divorce
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Business and self employed
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="business1">
              Business debt and bankruptcy
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="business2">
              Business finance and support
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="business3">
              Business premises and business rates
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business4">
              Business tax
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business5">
              Business waste and environmental impact
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business6">
              Childcare providers
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business7" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business7">
              Expenses and employee benefits
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business8" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business8">
              Exporting and doing business abroad
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business9" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business9">
              Food, catering and retail
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business10" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business10">
              Importing
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business11" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business11">
              Licences and licence applications
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business12" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business12">
              Manufacturing
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business13" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business13">
              Maritime vessels and work at sea
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business14" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business14">
              Patents, trade marks, copyright and designs
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business15" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business15">
              Running a limited company
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business16" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business16">
              Sale of goods and services and data protection
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business17" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business17">
              Scientific research and development
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business18" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business18">
              Selling your business and closing down
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="business19" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="business19">
              Setting up
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Childcare and parenting
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="child1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="child1">
              Childcare
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="child2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="child2">
              Divorce, separation and legal issues
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="child3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="child3">
              Financial help if you have children
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="child4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="child4">
              Fostering, adoption and surrogacy
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="child4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="child4">
              Pregnancy and birth
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="child5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="child5">
              Schools and education
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Citizenship and living in the UK
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="citizenship1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="citizenship1">
              British citizenship
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="citizenship2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="citizenship2">
              Charities, volunteering and honours
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="citizenship3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="citizenship3">
              Living in the UK, government and democracy
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="citizenship4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="citizenship4">
              Voting
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Crime, justice and the law
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crime1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="crime1">
              Compensation and victim support
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crime2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="crime2">
              Penalties, sentences and police
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crime3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="crime3">
              Prisons and probation
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crime4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="crime4">
              Reporting crimes
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crime5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="crime5">
              Young people and the law
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crime6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="crime6">
              Your rights and legal support
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Disabled people
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="disabled1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="disabled1">
              Benefits and financial help
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="disabled2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="disabled2">
              Carers
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="disabled3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="disabled3">
              Disability equipment and transport
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="disabled4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="disabled4">
              Disability rights and the Equality Act 2010
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="disabled5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="disabled5">
              Work and disabled people
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Driving and transport
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="driving1">
              Buy, sell or scrap a vehicle
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="driving2">
              Driving and enforcing the law
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="driving3">
              Driving in the UK and abroad
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving4">
              Driving licences
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving5">
              Driving tests and learning how to drive or ride
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving6">
              Driving with medical conditions, Blue Badges and transport for disabled people
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving7" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving7">
              HGV, bus and coach drivers
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving8" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving8">
              Manufacture or adapt a vehicle
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving9" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving9">
              Number plates, vehicle registration and log books
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving10" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving10">
              Parking, public transport and the environment
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving11" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving11">
              Penalty points, fines and driving bans
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving12" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving12">
              Teaching people to drive
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving13" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving13">
              The Highway Code, road safety and vehicle rules
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving14" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving14">
              Transport and driving businesses
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving15" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving15">
              Vehicle and driver data and information
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="driving16" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="driving16">
              Vehicle tax, MOT and insurance
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Education and learning
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="education1">
              Apprenticeships, 14 to 19 education and training for work
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="education2">
              School admissions and transport to school
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="education3">
              Schools and curriculum
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="education4">
              Student finance
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="education5">
              Universities and higher education
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Employing people
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education6" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="education6">
              Contacts for employment and working hours
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education7" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="education7">
              Dismissing staff and redundancies
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education8" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="education8">
              Health and safety at work
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education9" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="education9">
              Payroll
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education10" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="education10">
              Pensions for your staff
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education11" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="education11">
              Recruiting and hiring
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education12" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="education12">
              Statutory leave and time off
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="education13" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="education13">
              Trade unions and workers rights
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Environment and countryside
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="environment1">
              Boats and waterways
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="environment2">
              Coasts
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="environment3">
              Countryside
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="environment4">
              Farming and land management
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="environment5">
              Fishing and hunting
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="environment6">
              Flooding
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment7" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="environment7">
              Treasure and wrecks
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment8" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="environment8">
              Waste management
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="environment9" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="environment9">
              Wildlife and biodiversity
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Housing and local services
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="housing1">
              Being a landlord and renting out a room
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="housing2">
              Buying and owning a property
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="housing3">
              Council Tax
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing4">
              Council housing and housing associations
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing5">
              Household energy
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing6">
              Local councils and services
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing7" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing7">
              Noise, neighbours, pets and pests
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing8" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing8">
              Planning permission and building regulations
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing9" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing9">
              Recycling and rubbish
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing10" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing10">
              Renting a property
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing11" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing11">
              Repossessions, homelessness, emergency housing and evictions
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing12" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing12">
              Safety and the environment in your community
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="housing13" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="housing13">
              Streets, roads, pavements and buildings
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Money and tax
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="money1">
              Capital Gains Tax
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="money2">
              Court claims, debt and bankruptcy
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="money3">
              Dealing with HMRC
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="money4">
              Income Tax
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="money5">
              Inheritance Tax
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="money6">
              National Insurance
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money7" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="money7">
              Self Assessment
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="money8" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="money8">
              VAT
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Passports, travel and living abroad
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="passport1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="passport1">
              Living abroad
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="passport2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="passport2">
              Passports
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="passport3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="passport3">
              Travel abroad
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Visas and immigration
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="visa1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="visa2">
              Commonwealth citizens and British nationals (overseas)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="visa2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="visa2">
              EU, EEA and Swiss citizens
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="visa3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="visa3">
              Family in the UK
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="visa4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="visa4">
              Immigration appeals and status problems
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Live permanently in the UK
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="permuk1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="permuk1">
              Seek protection or asylum
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="permuk2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="permuk2">
              Study in the UK
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="permuk3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="permuk3">
              Travelling in the UK
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="permuk4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="permuk4">
              Ukrainians and their families
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="permuk5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="permuk5">
              Visit the UK
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="permuk6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="permuk6">
              What you need to do
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="permuk7" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="permuk7">
              Work in the UK
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Working, jobs and pensions
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working1" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="working1">
              Armed forces
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working2" name="organisation" type="checkbox"
              value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="working2">
              Finding a job
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="working3">
              Holidays, time off, sick leave, maternity and paternity leave
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="working4">
              Redundancies, dismissals and disciplinaries
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working5" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="working5">
              State Pension
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working6" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="working6">
              Workplace and personal pensions
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working7" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="working7">
              Your contract and working hours
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working8" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="working8">
              Your pay, tax and the National Minimum Wage
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="working9" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="working9">
              Your rights at work and trade unions
            </label>
          </div>
        </div>
      </fieldset>

    </div>
  </div>

  <div class="govuk-grid-column-one-third sticky">
    <div class="actions-panel">
      <h3 class="govuk-heading-s">Options</h3>
      <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
        Save
      </button>
      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="tagging-mvp-empty-state">Cancel</a></p>
    </div>
  </div>

</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}