{% extends "layouts/main.html" %}

{% block pageTitle %}
Tag related content - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Document title</span>
    <h1 class="govuk-heading-xl">Tag related content</h1>

    <p class="govuk-body">Related content items are displayed in the sidebar.</p>

    <h2 class="govuk-heading-m govuk-!-static-margin-top-8 govuk-!-static-margin-bottom-6 govuk-!-static-padding-top-0">Related content 1</h2>
    {{ govukInput({
      label: {
        text: "URL or path"
      },
      hint: {
        text: "For example, /pay-vat"
      },
      id: "related-content-1",
      name: "related-content-1"
    }) }}

    {{ govukButton({
      text: "Add another related content item",
      classes: "govuk-button--secondary",
      href: "tagging-mvp-related-content-add-another"
    }) }}

    <div class="govuk-button-group govuk-!-static-margin-top-4">
      {{ govukButton({
        text: "Save"
      }) }}
      <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-empty-state">Cancel</a>
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}