{% extends "layouts/main.html" %}

{% block pageTitle %}
Reorder related content - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "signIn",
  fieldset: {
    legend: {
      html: "<span class='govuk-caption-xl'>Document title</span>Are you sure you want to remove the breadcumb?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Breadcrumbs are displayed at the top of the page and help users to navigate. There may be some situations where you do not need a breadcrumb to display (for example, on Welsh translation pages)."
  },
  items: [
    {
      value: "government-gateway",
      text: "Yes, remove the breadcrumb"
    },
    {
      value: "govuk-one-login",
      text: "No, keep the breadcrumb"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save"
  }) }}

  <a class="govuk-link govuk-link--no-visited-state" href="tagging-mvp-tagged-state">Cancel</a>
</div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}