{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="govuk-caption-l">Document title</span>
<h1 class="govuk-heading-xl">Update important note</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
    <p>Add important notes that anyone who works on this edition needs to see, eg “(Doesn’t) need fact check, don’t publish.” Each edition can have only one important note at a time.</p>
      <p>To delete the important note, clear any comments and select ‘Save’.</p>
       
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="more-detail">
                Important note
              </label>
            </h1>
          
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="14" aria-describedby="more-detail-hint">Ready for review. Publish when complete. Inform Joe Bloggs when published.</textarea>
          </div>

          
          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save"
            }) }}
            <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
          </div>



          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}