{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="govuk-caption-l">Pension Credit</span>
  <h1 class="govuk-heading-xl">Manage GOV.UK breadcrumb</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
         

          <p>This content is tagged to the topic taxonomy. The breadcrumb is:</p>


        <div class="govuk-inset-text">


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Home</a>
                  </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Welfare</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Benefits entitlement</a>
              </li>
            </ol>
          </div>
            </p>
            </div>

            <p>You can change this by choosing a breadcrumb from the mainstream browse taxonomy.</p>
          <p>If you do not want to display a breadcrumb, remove the <a href="https://content-tagger.integration.publishing.service.gov.uk/">topic taxonomy tags on Content Tagger</a>.


                <h2 class="govuk-heading-m">
                 What breadcrumb should this page display?
                </h2>
            <form method="POST" action="ur-1-pension-credit-breadcrumb-answer">
            

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="keep-tt" name="breadcrumb-choice" type="radio" value="keep-tt" checked="checked">
                  <label class="govuk-label govuk-radios__label" for="keep-tt">
                     Topic taxonomy breadcrumb (current)
                  </label>
                </div>


        
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="mainstream-breadcrumb" name="breadcrumb-choice" type="radio" value="mainstream-breadcrumb">
              <label class="govuk-label govuk-radios__label" for="mainstream-breadcrumb">
                Choose a mainstream browse breadcrumb 
              </label>
            </div>


            </div>



            <div class="govuk-button-group space-test">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
                <a class="govuk-link" href="ur-1-pension-credit-tagging.html">Cancel</a>
              </div>

             

            </div>
        </form>
          </div>    
          </div>

        </fieldset>


       
      
      
      
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}