{% extends "layouts/main.html" %}

{% block pageTitle %}
Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="ur-2ier-content-1-claimed" method="post">

      {% set radios = [] %}

      {% set list = [
      { value: "Ivan Franco", text: "Ivan Franco" },
      { value: "Suzanne Hamilton", text: "Suzanne Hamilton" },
      { value: "2nd Line Support", text: "2nd Line Support" },
      { value: "Aaron Keogh", text: "Aaron Keogh" },
      { value: "Abigail Waraker", text: "Abigail Waraker" },
      { value: "Adam Robertson", text: "Adam Robertson" },
      { value: "Adam Schiller", text: "Adam Schiller" },
      { value: "Adam Wainwright", text: "Adam Wainwright" },
      { value: "Aderonke Olutunmogun", text: "Aderonke Olutunmogun" },
      { value: "Aga Dufrat", text: "Aga Dufrat" },
      { value: "Ailsa Veitch", text: "Ailsa Veitch" },
      { value: "Aisling Sweeney", text: "Aisling Sweeney" },
      { value: "Al Smith", text: "Al Smith" },
      { value: "Alan Gabbianelli", text: "Alan Gabbianelli" },
      { value: "Alan Maddrell", text: "Alan Maddrell" },
      { value: "Albert Massa", text: "Albert Massa" },
      { value: "Ale del Cueto", text: "Ale del Cueto" },
      { value: "Alec Gibson", text: "Alec Gibson" },
      { value: "Alex Hardy", text: "Alex Hardy" },
      { value: "Alex Jurubita", text: "Alex Jurubita" },
      { value: "Alex Muller", text: "Alex Muller" },
      { value: "Alex Newton", text: "Alex Newton" },
      { value: "Alex Pardoe", text: "Alex Pardoe" },
      { value: "Alex Torrance", text: "Alex Torrance" },
      { value: "Alex Wright", text: "Alex Wright" },
      { value: "Alexandra Kulup", text: "Alexandra Kulup" },
      { value: "Alice Dryden", text: "Alice Dryden" },
      { value: "Alice Jones", text: "Alice Jones" },
      { value: "Alice Stephenson", text: "Alice Stephenson" },
      { value: "Alice Williams", text: "Alice Williams" },
      { value: "Alisha Oni", text: "Alisha Oni" },
      { value: "Alison Dods", text: "Alison Dods" },
      { value: "Alistair Davidson", text: "Alistair Davidson" },
      { value: "Allan Staples", text: "Allan Staples" },
      { value: "Amanda Diamond", text: "Amanda Diamond" },
      { value: "Amelia Brunton", text: "Amelia Brunton" },
      { value: "Amy Hupe", text: "Amy Hupe" },
      { value: "Amy Khan", text: "Amy Khan" },
      { value: "Amy Laurence", text: "Amy Laurence" },
      { value: "Amy Noss", text: "Amy Noss" },
      { value: "Amy Smith", text: "Amy Smith" },
      { value: "Amy Wells", text: "Amy Wells" },
      { value: "Ana Botto", text: "Ana Botto" },
      { value: "Andrew Garner", text: "Andrew Garner" },
      { value: "Andrew Harper", text: "Andrew Harper" },
      { value: "Andrew Harsant", text: "Andrew Harsant" },
      { value: "Andy Collon", text: "Andy Collon" },
      { value: "Andy Haslam", text: "Andy Haslam" },
      { value: "Andy Keen", text: "Andy Keen" },
      { value: "Andy McAleer", text: "Andy McAleer" },
      { value: "Andy Sellick", text: "Andy Sellick" },
      { value: "Anika Henke", text: "Anika Henke" },
      { value: "Anna Hepburn", text: "Anna Hepburn" },
      { value: "Anna Holloway", text: "Anna Holloway" },
      { value: "Anna Kuforiji", text: "Anna Kuforiji" },
      { value: "Anna Tyler", text: "Anna Tyler" },
      { value: "Anna Woods", text: "Anna Woods" },
      { value: "Anne Cremin", text: "Anne Cremin" },
      { value: "Anne Davenport", text: "Anne Davenport" },
      { value: "Annelise Jespersen", text: "Annelise Jespersen" },
      { value: "Anthony Lord", text: "Anthony Lord" },
      { value: "Antoni Devlin", text: "Antoni Devlin" },
      { value: "Antonia Simmons", text: "Antonia Simmons" },
      { value: "Arwel Owen", text: "Arwel Owen" },
      { value: "Ashley Burnett", text: "Ashley Burnett" },
      { value: "Ashraf Chohan", text: "Ashraf Chohan" },
      { value: "Barbara Slawinska", text: "Barbara Slawinska" },
      { value: "Becka Lelew", text: "Becka Lelew" },
      { value: "Ben Andrews", text: "Ben Andrews" },
      { value: "Ben Clancy", text: "Ben Clancy" },
      { value: "Ben Hazell", text: "Ben Hazell" },
      { value: "Ben Mortimer", text: "Ben Mortimer" },
      { value: "Ben Sadler", text: "Ben Sadler" },
      { value: "Ben Strange", text: "Ben Strange" },
      { value: "Ben Thorner", text: "Ben Thorner" },
      { value: "Ben Welby", text: "Ben Welby" },
      { value: "Benet Coulber", text: "Benet Coulber" },
      { value: "Benjamin Eskola", text: "Benjamin Eskola" },
      { value: "Bethan Jones", text: "Bethan Jones" },
      { value: "Bevan Loon", text: "Bevan Loon" },
      { value: "Bill Franklin", text: "Bill Franklin" },
      { value: "Brendan Butler", text: "Brendan Butler" },
      { value: "Briony Wyatt", text: "Briony Wyatt" },
      { value: "Bruce Bolt", text: "Bruce Bolt" },
      { value: "Bruce Mackay", text: "Bruce Mackay" },
      { value: "Callum Knights", text: "Callum Knights" },
      { value: "Camille Descartes", text: "Camille Descartes" },
      { value: "Cara Aikman", text: "Cara Aikman" },
      { value: "Caren Davies", text: "Caren Davies" },
      { value: "Carlos Martinez", text: "Carlos Martinez" },
      { value: "Carlos Vilhena", text: "Carlos Vilhena" },
      { value: "Carole Ray", text: "Carole Ray" },
      { value: "Caroline Atkinson", text: "Caroline Atkinson" },
      { value: "Cat Gordy", text: "Cat Gordy" },
      { value: "Catherine Heywood", text: "Catherine Heywood" },
      { value: "Cathy Guest", text: "Cathy Guest" },
      { value: "Ceri Pickering", text: "Ceri Pickering" },
      { value: "Chanchuprasad Mohan", text: "Chanchuprasad Mohan" },
      { value: "Charlotte Fraser", text: "Charlotte Fraser" },
      { value: "Charlotte Lane", text: "Charlotte Lane" },
      { value: "Charlotte Pike", text: "Charlotte Pike" },
      { value: "Chirag Golwala", text: "Chirag Golwala" },
      { value: "Chris Banks", text: "Chris Banks" },
      { value: "Chris McCarthy", text: "Chris McCarthy" },
      { value: "Chris Patuzzo", text: "Chris Patuzzo" },
      { value: "Chris Roos", text: "Chris Roos" },
      { value: "Chris Whitehouse", text: "Chris Whitehouse" },
      { value: "Christopher Ashton", text: "Christopher Ashton" },
      { value: "Christopher Baines", text: "Christopher Baines" },
      { value: "Claire Harding", text: "Claire Harding" },
      { value: "Claire Jones", text: "Claire Jones" },
      { value: "Claire Ryan-East", text: "Claire Ryan-East" },
      { value: "Clare Lenton", text: "Clare Lenton" },
      { value: "Clifford Sheppard", text: "Clifford Sheppard" },
      { value: "Colin Jones", text: "Colin Jones" },
      { value: "Constance Cerf", text: "Constance Cerf" },
      { value: "Craig Sparling", text: "Craig Sparling" },
      { value: "Cynthia Anyaeriuba", text: "Cynthia Anyaeriuba" },
      { value: "Daisy Goddard", text: "Daisy Goddard" },
      { value: "Dana Cotoran", text: "Dana Cotoran" },
      { value: "Daniel Gilbert", text: "Daniel Gilbert" },
      { value: "Daniel Karaj", text: "Daniel Karaj" },
      { value: "Daniel King", text: "Daniel King" },
      { value: "Daniel Marley", text: "Daniel Marley" },
      { value: "Daniel Roseman", text: "Daniel Roseman" },
      { value: "Daniela Salvini", text: "Daniela Salvini" },
      { value: "Darryl Deaton", text: "Darryl Deaton" },
      { value: "Dave Standen", text: "Dave Standen" },
      { value: "David Basalla", text: "David Basalla" },
      { value: "David Billany", text: "David Billany" },
      { value: "David Gisbey", text: "David Gisbey" },
      { value: "David Gostelow", text: "David Gostelow" },
      { value: "David Hearsey", text: "David Hearsey" },
      { value: "David Illsley", text: "David Illsley" },
      { value: "David Marriott", text: "David Marriott" },
      { value: "David Mays", text: "David Mays" },
      { value: "David Silva", text: "David Silva" },
      { value: "David Trussler", text: "David Trussler" },
      { value: "David Williams", text: "David Williams" },
      { value: "David Williams", text: "David Williams" },
      { value: "Deborah Chua", text: "Deborah Chua" },
      { value: "Deborah Stevenson", text: "Deborah Stevenson" },
      { value: "Diane Oliver", text: "Diane Oliver" },
      { value: "Dilwoar Hussain", text: "Dilwoar Hussain" },
      { value: "Dimitra Rizou", text: "Dimitra Rizou" },
      { value: "Dolly Garland", text: "Dolly Garland" },
      { value: "Dominic Warren", text: "Dominic Warren" },
      { value: "Douglas Roper", text: "Douglas Roper" },
      { value: "Edward Kerry", text: "Edward Kerry" },
      { value: "Edward Ridout", text: "Edward Ridout" },
      { value: "Elena Findley-de Regt", text: "Elena Findley-de Regt" },
      { value: "Elena Tanasoiu", text: "Elena Tanasoiu" },
      { value: "Eleri Jones", text: "Eleri Jones" },
      { value: "Ellen Booker", text: "Ellen Booker" },
      { value: "Ellie (Eleanor) Christie", text: "Ellie (Eleanor) Christie" },
      { value: "Elliot Crosby-McCullough", text: "Elliot Crosby-McCullough" },
      { value: "Emily Atherton", text: "Emily Atherton" },
      { value: "Emma Beynon", text: "Emma Beynon" },
      { value: "Emma Carter", text: "Emma Carter" },
      { value: "Emma Thomas", text: "Emma Thomas" },
      { value: "Esther Woods", text: "Esther Woods" },
      { value: "Etain Ní Fhearghail", text: "Etain Ní Fhearghail" },
      { value: "Evelyn Goodall", text: "Evelyn Goodall" },
      { value: "Felix Millne", text: "Felix Millne" },
      { value: "Firdos Ali", text: "Firdos Ali" },
      { value: "Florrie Andrew", text: "Florrie Andrew" },
      { value: "Fola Ekundayo", text: "Fola Ekundayo" },
      { value: "Gabrielle Acosta", text: "Gabrielle Acosta" },
      { value: "Gareth Jones", text: "Gareth Jones" },
      { value: "Gav Cole", text: "Gav Cole" },
      { value: "Gavan Curley", text: "Gavan Curley" },
      { value: "Gavin Cullen", text: "Gavin Cullen" },
      { value: "Gavin Dispain", text: "Gavin Dispain" },
      { value: "Gaynor Clarkson", text: "Gaynor Clarkson" },
      { value: "Gemma Finn", text: "Gemma Finn" },
      { value: "Genie Todd", text: "Genie Todd" },
      { value: "George McDonald", text: "George McDonald" },
      { value: "Geraldine Kiernan", text: "Geraldine Kiernan" },
      { value: "Gianni Howard-Hole", text: "Gianni Howard-Hole" },
      { value: "Gillian Sutton", text: "Gillian Sutton" },
      { value: "Graeme Claridge", text: "Graeme Claridge" },
      { value: "Graham Lee", text: "Graham Lee" },
      { value: "Graham Lewis", text: "Graham Lewis" },
      { value: "Graham Pengelly", text: "Graham Pengelly" },
      { value: "Grant Chappell", text: "Grant Chappell" },
      { value: "Grant Chappell", text: "Grant Chappell" },
      { value: "Gurinder Toor", text: "Gurinder Toor" },
      { value: "Gwen Cheeseman", text: "Gwen Cheeseman" },
      { value: "Gwyn Griffith", text: "Gwyn Griffith" },
      { value: "Hannah Cooper", text: "Hannah Cooper" },
      { value: "Hannah Jump", text: "Hannah Jump" },
      { value: "Hannah Kenny", text: "Hannah Kenny" },
      { value: "Hannah Mackay", text: "Hannah Mackay" },
      { value: "Hannah Whittaker", text: "Hannah Whittaker" },
      { value: "Harriet Wailling", text: "Harriet Wailling" },
      { value: "Haur Kang", text: "Haur Kang" },
      { value: "Hayley Heaton", text: "Hayley Heaton" },
      { value: "Heather Edwards", text: "Heather Edwards" },
      { value: "Helen Cann", text: "Helen Cann" },
      { value: "Helen Nickols", text: "Helen Nickols" },
      { value: "Helen Wilkinson", text: "Helen Wilkinson" },
      { value: "Henny Bird", text: "Henny Bird" },
      { value: "Holly Challenger", text: "Holly Challenger" },
      { value: "Holly Garrett", text: "Holly Garrett" },
      { value: "Humin Miah", text: "Humin Miah" },
      { value: "Huw Diprose", text: "Huw Diprose" },
      { value: "Ian Ansell", text: "Ian Ansell" },
      { value: "Ian James", text: "Ian James" },
      { value: "Iestyn Price", text: "Iestyn Price" },
      { value: "Iida Ruokojarvi", text: "Iida Ruokojarvi" },
      { value: "Imogen Rowley", text: "Imogen Rowley" },
      { value: "Isabel Attwood", text: "Isabel Attwood" },
      { value: "Issy Long", text: "Issy Long" },
      { value: "Ivan Edwards", text: "Ivan Edwards" },
      { value: "Ivan Edwards", text: "Ivan Edwards" },
      { value: "Jack Tindale", text: "Jack Tindale" },
      { value: "Jake Taylor", text: "Jake Taylor" },
      { value: "Jake Taylor", text: "Jake Taylor" },
      { value: "James Ashton", text: "James Ashton" },
      { value: "James Bonehill", text: "James Bonehill" },
      { value: "James Butler", text: "James Butler" },
      { value: "James Chan", text: "James Chan" },
      { value: "James Kewley", text: "James Kewley" },
      { value: "James Low", text: "James Low" },
      { value: "James Mead", text: "James Mead" },
      { value: "James Oriel", text: "James Oriel" },
      { value: "James Robinson", text: "James Robinson" },
      { value: "James Whitmarsh", text: "James Whitmarsh" },
      { value: "Jamie Boyce", text: "Jamie Boyce" },
      { value: "Jane Eastwood", text: "Jane Eastwood" },
      { value: "Jane Regan", text: "Jane Regan" },
      { value: "Jane Van de Ban", text: "Jane Van de Ban" },
      { value: "Jason Pawlin", text: "Jason Pawlin" },
      { value: "Jason Southam", text: "Jason Southam" },
      { value: "Jen Lambourne", text: "Jen Lambourne" },
      { value: "Jeni Street", text: "Jeni Street" },
      { value: "Jenn Phillips-Bacher", text: "Jenn Phillips-Bacher" },
      { value: "Jennifer Allum", text: "Jennifer Allum" },
      { value: "Jennifer Pick", text: "Jennifer Pick" },
      { value: "Jenny Bradley", text: "Jenny Bradley" },
      { value: "Jenny Duckett", text: "Jenny Duckett" },
      { value: "Jenny Robins", text: "Jenny Robins" },
      { value: "Jess Feldman", text: "Jess Feldman" },
      { value: "Jessica Jones", text: "Jessica Jones" },
      { value: "Jessica Lea", text: "Jessica Lea" },
      { value: "Jessica McArdle", text: "Jessica McArdle" },
      { value: "Jessica Young", text: "Jessica Young" },
      { value: "Jim Woodfine", text: "Jim Woodfine" },
      { value: "Jimmy Billingham", text: "Jimmy Billingham" },
      { value: "Jo Tansley Thomas", text: "Jo Tansley Thomas" },
      { value: "Joanna Round", text: "Joanna Round" },
      { value: "Joe Harrison", text: "Joe Harrison" },
      { value: "Joe Lanman", text: "Joe Lanman" },
      { value: "John Byrne", text: "John Byrne" },
      { value: "John Morton", text: "John Morton" },
      { value: "John Oates", text: "John Oates" },
      { value: "John Ploughman", text: "John Ploughman" },
      { value: "John Turnbull", text: "John Turnbull" },
      { value: "John-Paul Dickie", text: "John-Paul Dickie" },
      { value: "Jon Kirwan", text: "Jon Kirwan" },
      { value: "Jon Orme", text: "Jon Orme" },
      { value: "Jon Sanger", text: "Jon Sanger" },
      { value: "Jonathan Glassman", text: "Jonathan Glassman" },
      { value: "Jonathan Hallam", text: "Jonathan Hallam" },
      { value: "Jonathan Nichols", text: "Jonathan Nichols" },
      { value: "Jonathon Shire", text: "Jonathon Shire" },
      { value: "Joseph Reid", text: "Joseph Reid" },
      { value: "Joshua Bason", text: "Joshua Bason" },
      { value: "Joshua Kuforiji", text: "Joshua Kuforiji" },
      { value: "Julie White", text: "Julie White" },
      { value: "Juliette Brelsford", text: "Juliette Brelsford" },
      { value: "Justin Owen", text: "Justin Owen" },
      { value: "Karen Clarkson", text: "Karen Clarkson" },
      { value: "Karen Powell", text: "Karen Powell" },
      { value: "Karl Baker", text: "Karl Baker" },
      { value: "Karl Chillmaid", text: "Karl Chillmaid" },
      { value: "Katherine Dunn", text: "Katherine Dunn" },
      { value: "Kathryn Sharp", text: "Kathryn Sharp" },
      { value: "Kathy Colquhoun", text: "Kathy Colquhoun" },
      { value: "Kati Tirbhowan", text: "Kati Tirbhowan" },
      { value: "Katie Delaney", text: "Katie Delaney" },
      { value: "Katie Smith", text: "Katie Smith" },
      { value: "Katie Taggart", text: "Katie Taggart" },
      { value: "Katie Woodward", text: "Katie Woodward" },
      { value: "Keith Emmerson", text: "Keith Emmerson" },
      { value: "Keith Lawrence", text: "Keith Lawrence" },
      { value: "Keith Prust", text: "Keith Prust" },
      { value: "Kelly Humphreys", text: "Kelly Humphreys" },
      { value: "Kelsey Williams", text: "Kelsey Williams" },
      { value: "Kelvin Gan", text: "Kelvin Gan" },
      { value: "Kerry Mcdougall", text: "Kerry Mcdougall" },
      { value: "Kevin Dew", text: "Kevin Dew" },
      { value: "Kevin McLaughlin", text: "Kevin McLaughlin" },
      { value: "Kirsty Judge", text: "Kirsty Judge" },
      { value: "Kirsty Strawbridge", text: "Kirsty Strawbridge" },
      { value: "Laura Clark", text: "Laura Clark" },
      { value: "Laura Steventon", text: "Laura Steventon" },
      { value: "Laura Young", text: "Laura Young" },
      { value: "Lauren Belcher", text: "Lauren Belcher" },
      { value: "Lauren McAllister", text: "Lauren McAllister" },
      { value: "Lee Briggs", text: "Lee Briggs" },
      { value: "Lee Ryan", text: "Lee Ryan" },
      { value: "Lee Vallely", text: "Lee Vallely" },
      { value: "Leema Ahmed", text: "Leema Ahmed" },
      { value: "Leena Gupte", text: "Leena Gupte" },
      { value: "Leena Taha", text: "Leena Taha" },
      { value: "Leigh Mcquillan", text: "Leigh Mcquillan" },
      { value: "Letizia Lodi", text: "Letizia Lodi" },
      { value: "Lil Boyce", text: "Lil Boyce" },
      { value: "Linda Steele", text: "Linda Steele" },
      { value: "Liz Griffin", text: "Liz Griffin" },
      { value: "Liz Lutgendorff", text: "Liz Lutgendorff" },
      { value: "Lizzy Sharman", text: "Lizzy Sharman" },
      { value: "Lorena Sutherland", text: "Lorena Sutherland" },
      { value: "Lottie Moore", text: "Lottie Moore" },
      { value: "Louisa Harper", text: "Louisa Harper" },
      { value: "Louise Miller", text: "Louise Miller" },
      { value: "Louise Russell", text: "Louise Russell" },
      { value: "Lucia Whittaker", text: "Lucia Whittaker" },
      { value: "Lucy Hartley", text: "Lucy Hartley" },
      { value: "Lucy Kennedy", text: "Lucy Kennedy" },
      { value: "Lucy Musselwhite", text: "Lucy Musselwhite" },
      { value: "Lucy Rees", text: "Lucy Rees" },
      { value: "Luke Malcher", text: "Luke Malcher" },
      { value: "Luke Vincent", text: "Luke Vincent" },
      { value: "Lupe Nunez-Fernandez", text: "Lupe Nunez-Fernandez" },
      { value: "Madeleine Beresford", text: "Madeleine Beresford" },
      { value: "Mahmud Hussain", text: "Mahmud Hussain" },
      { value: "Manon Williams", text: "Manon Williams" },
      { value: "Marc Bonne", text: "Marc Bonne" },
      { value: "Maria Morris", text: "Maria Morris" },
      { value: "Marian Avery", text: "Marian Avery" },
      { value: "Mark Bonnington", text: "Mark Bonnington" },
      { value: "Mark Cathcart", text: "Mark Cathcart" },
      { value: "Mark Green", text: "Mark Green" },
      { value: "Mark Hazelby", text: "Mark Hazelby" },
      { value: "Mark McLeod", text: "Mark McLeod" },
      { value: "Mark Storey", text: "Mark Storey" },
      { value: "Mark Taylor", text: "Mark Taylor" },
      { value: "Mark Woods", text: "Mark Woods" },
      { value: "Markland Starkie", text: "Markland Starkie" },
      { value: "Martin Jones", text: "Martin Jones" },
      { value: "Martin Lugton", text: "Martin Lugton" },
      { value: "Martyn Inglis", text: "Martyn Inglis" },
      { value: "Mat Wall", text: "Mat Wall" },
      { value: "Mathew Moore", text: "Mathew Moore" },
      { value: "Matt Clear", text: "Matt Clear" },
      { value: "Matt Redmond", text: "Matt Redmond" },
      { value: "Matthew Ford", text: "Matthew Ford" },
      { value: "Matthew Langlands", text: "Matthew Langlands" },
      { value: "Matthew Lowe", text: "Matthew Lowe" },
      { value: "Max Froumentin", text: "Max Froumentin" },
      { value: "Max Harden", text: "Max Harden" },
      { value: "Maxine McLeary-Jones", text: "Maxine McLeary-Jones" },
      { value: "Megan Husband", text: "Megan Husband" },
      { value: "Megan Thirlwell", text: "Megan Thirlwell" },
      { value: "Melanie Dunkley", text: "Melanie Dunkley" },
      { value: "Melanie Ring", text: "Melanie Ring" },
      { value: "Michael Elwin", text: "Michael Elwin" },
      { value: "Michael Lyons", text: "Michael Lyons" },
      { value: "Michael Richards", text: "Michael Richards" },
      { value: "Michael Stewart Walker", text: "Michael Stewart Walker" },
      { value: "Michael Whitehouse", text: "Michael Whitehouse" },
      { value: "Michael Williams", text: "Michael Williams" },
      { value: "Michele Howe", text: "Michele Howe" },
      { value: "Michelle Carmody", text: "Michelle Carmody" },
      { value: "Minal Patel", text: "Minal Patel" },
      { value: "Minal Smith", text: "Minal Smith" },
      { value: "Mo Baig", text: "Mo Baig" },
      { value: "Murilo Dal Ri", text: "Murilo Dal Ri" },
      { value: "Murray Steele", text: "Murray Steele" },
      { value: "Nathalie Carter", text: "Nathalie Carter" },
      { value: "Neil Sawyer", text: "Neil Sawyer" },
      { value: "Neil Williams", text: "Neil Williams" },
      { value: "Ngozi Okonkwo", text: "Ngozi Okonkwo" },
      { value: "Nick Colley", text: "Nick Colley" },
      { value: "Nick Smith", text: "Nick Smith" },
      { value: "Nicola Frost", text: "Nicola Frost" },
      { value: "Nicole Berry", text: "Nicole Berry" },
      { value: "Nicolette Smith", text: "Nicolette Smith" },
      { value: "Nicolette Smith", text: "Nicolette Smith" },
      { value: "Nikin Nagewadia", text: "Nikin Nagewadia" },
      { value: "Nimalan Kirubakaran", text: "Nimalan Kirubakaran" },
      { value: "Nisha Alberti", text: "Nisha Alberti" },
      { value: "Nitesh Malvi", text: "Nitesh Malvi" },
      { value: "Ollie Treend", text: "Ollie Treend" },
      { value: "Owen Jones", text: "Owen Jones" },
      { value: "Pablo Cabello", text: "Pablo Cabello" },
      { value: "Pablo Manrubia", text: "Pablo Manrubia" },
      { value: "Paola Roccuzzo", text: "Paola Roccuzzo" },
      { value: "Patricia Turk", text: "Patricia Turk" },
      { value: "Patrick Cartlidge", text: "Patrick Cartlidge" },
      { value: "Patrick Opoosun", text: "Patrick Opoosun" },
      { value: "Patrick Taylor", text: "Patrick Taylor" },
      { value: "Paul Cronk", text: "Paul Cronk" },
      { value: "Paul Hayes", text: "Paul Hayes" },
      { value: "Paul Heron", text: "Paul Heron" },
      { value: "Paul Lightfoot", text: "Paul Lightfoot" },
      { value: "Paula Stephenson", text: "Paula Stephenson" },
      { value: "Persis Howe", text: "Persis Howe" },
      { value: "Peter Goddard", text: "Peter Goddard" },
      { value: "Peter Hartshorn", text: "Peter Hartshorn" },
      { value: "Peter Hattyar", text: "Peter Hattyar" },
      { value: "Peter Herlihy", text: "Peter Herlihy" },
      { value: "Peter Ibrahim", text: "Peter Ibrahim" },
      { value: "Peter Thornton-Grimes", text: "Peter Thornton-Grimes" },
      { value: "Peter Tilley", text: "Peter Tilley" },
      { value: "Peter Wilkinson", text: "Peter Wilkinson" },
      { value: "Phil Hogg", text: "Phil Hogg" },
      { value: "Polly Green", text: "Polly Green" },
      { value: "Poppy Kasapidis", text: "Poppy Kasapidis" },
      { value: "Ralitsa Padalska", text: "Ralitsa Padalska" },
      { value: "Ray Khan", text: "Ray Khan" },
      { value: "Rebecca Milton", text: "Rebecca Milton" },
      { value: "Rebecca Pearce", text: "Rebecca Pearce" },
      { value: "Rhian Lewis", text: "Rhian Lewis" },
      { value: "Rhian Roberts", text: "Rhian Roberts" },
      { value: "Rhianedd Rhys", text: "Rhianedd Rhys" },
      { value: "Rhys Edwards", text: "Rhys Edwards" },
      { value: "Richard Albutt", text: "Richard Albutt" },
      { value: "Richard Boulton", text: "Richard Boulton" },
      { value: "Richard Furlong", text: "Richard Furlong" },
      { value: "Richard Lees", text: "Richard Lees" },
      { value: "Richard Skipper", text: "Richard Skipper" },
      { value: "Richard Towers", text: "Richard Towers" },
      { value: "Rob Nichols", text: "Rob Nichols" },
      { value: "Robert Price", text: "Robert Price" },
      { value: "Roch Trinqué", text: "Roch Trinqué" },
      { value: "Ronan Fitzgerald", text: "Ronan Fitzgerald" },
      { value: "Ronni Taylor", text: "Ronni Taylor" },
      { value: "Rory Mennell", text: "Rory Mennell" },
      { value: "Rory Moreton", text: "Rory Moreton" },
      { value: "Rosa Fox", text: "Rosa Fox" },
      { value: "Rosa Ryou", text: "Rosa Ryou" },
      { value: "Rosalie Marshall", text: "Rosalie Marshall" },
      { value: "Rosamunde Wells", text: "Rosamunde Wells" },
      { value: "Rosie Cowling", text: "Rosie Cowling" },
      { value: "Rosie Cowling", text: "Rosie Cowling" },
      { value: "Ruben Arakelyan", text: "Ruben Arakelyan" },
      { value: "Ruth Fryer", text: "Ruth Fryer" },
      { value: "Ruth Harper", text: "Ruth Harper" },
      { value: "Ruth Morris", text: "Ruth Morris" },
      { value: "Ruth Ransom", text: "Ruth Ransom" },
      { value: "Sally Creasey", text: "Sally Creasey" },
      { value: "Sally Hamilton-Williams", text: "Sally Hamilton-Williams" },
      { value: "Sam Carr", text: "Sam Carr" },
      { value: "Sam Dub", text: "Sam Dub" },
      { value: "Sam Simpson", text: "Sam Simpson" },
      { value: "Samantha Watson", text: "Samantha Watson" },
      { value: "Sara Vincent", text: "Sara Vincent" },
      { value: "Sarah Hart", text: "Sarah Hart" },
      { value: "Sarah Nicholson", text: "Sarah Nicholson" },
      { value: "Sarraounia Christianson", text: "Sarraounia Christianson" },
      { value: "Sean Rankine", text: "Sean Rankine" },
      { value: "Sean Walsh", text: "Sean Walsh" },
      { value: "Sebastian Schmieschek", text: "Sebastian Schmieschek" },
      { value: "Sera Smallwood", text: "Sera Smallwood" },
      { value: "Sharon Giles", text: "Sharon Giles" },
      { value: "Sheurie Warner", text: "Sheurie Warner" },
      { value: "Si Stephens", text: "Si Stephens" },
      { value: "Signon API Client (permission and suspension updater)", text: "Signon API Client (permission and
      suspension updater)" },
      { value: "Simon Davis", text: "Simon Davis" },
      { value: "Simon Hughesdon", text: "Simon Hughesdon" },
      { value: "Simon Timblick", text: "Simon Timblick" },
      { value: "Sion Williams", text: "Sion Williams" },
      { value: "Siva Subramanian", text: "Siva Subramanian" },
      { value: "Smokey (test user)", text: "Smokey (test user)" },
      { value: "Sophie Gregory", text: "Sophie Gregory" },
      { value: "Sophie Robinson", text: "Sophie Robinson" },
      { value: "Spencer Ball", text: "Spencer Ball" },
      { value: "Stefan Nicolaou", text: "Stefan Nicolaou" },
      { value: "Stephen Bell", text: "Stephen Bell" },
      { value: "Stephen Gill", text: "Stephen Gill" },
      { value: "Stephen Harker", text: "Stephen Harker" },
      { value: "Steve Laing", text: "Steve Laing" },
      { value: "Steve Messer", text: "Steve Messer" },
      { value: "Suzanne Meek", text: "Suzanne Meek" },
      { value: "Syed Ali", text: "Syed Ali" },
      { value: "Tafara Masendu", text: "Tafara Masendu" },
      { value: "Tamsin O'Toole", text: "Tamsin O'Toole" },
      { value: "Tara Stockford", text: "Tara Stockford" },
      { value: "Tatiana Soukiassian", text: "Tatiana Soukiassian" },
      { value: "Tatiana Stantonian", text: "Tatiana Stantonian" },
      { value: "Terry Hawton", text: "Terry Hawton" },
      { value: "Test user", text: "Test user" },
      { value: "Theodor Vararu", text: "Theodor Vararu" },
      { value: "Thomas Chambers", text: "Thomas Chambers" },
      { value: "Thomas Leese", text: "Thomas Leese" },
      { value: "Thomas Natt", text: "Thomas Natt" },
      { value: "Tijmen Brommet", text: "Tijmen Brommet" },
      { value: "Tim Blair", text: "Tim Blair" },
      { value: "Tim Macavoy", text: "Tim Macavoy" },
      { value: "Tom Adams", text: "Tom Adams" },
      { value: "Tom Fine", text: "Tom Fine" },
      { value: "Tom Freestone", text: "Tom Freestone" },
      { value: "Tom Gladhill", text: "Tom Gladhill" },
      { value: "Tom Hughes", text: "Tom Hughes" },
      { value: "Tom Kirk", text: "Tom Kirk" },
      { value: "Tonea Charlery", text: "Tonea Charlery" },
      { value: "Tracy Hughes", text: "Tracy Hughes" },
      { value: "Trisha Doyle", text: "Trisha Doyle" },
      { value: "Vanita Barrett", text: "Vanita Barrett" },
      { value: "Vicky Buser", text: "Vicky Buser" },
      { value: "Victoria Brazier", text: "Victoria Brazier" },
      { value: "Vinith Pillai", text: "Vinith Pillai" },
      { value: "Wendy Smith", text: "Wendy Smith" },
      { value: "Xander Harrison", text: "Xander Harrison" },
      { value: "Zoe Williams", text: "Zoe Williams" },
      { value: "bob walker", text: "bob walker" }
      ]%}

      {% if data['assign-2i-reviewer'] %}

        {% set initialRadios = [
        { value: data['assign-2i-reviewer'], text: data['assign-2i-reviewer'], checked: true },
        { value: data['none'], text: "None" },
        { divider: "or" }
        ]%}

        {% set radios = initialRadios.concat(list) %}

      {% else %}

        {% set radios = list %}

      {% endif %}

      {{ govukRadios({
      classes: "govuk-radios--small",
      name: "assign-2i-reviewer",
      value: data['assign-2i-reviewer'],
      fieldset: {
      legend: {
      html: "<span class='govuk-caption-l'>Ask the government to sell property: right to contest</span>Assign 2i
      reviewer",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: radios
      }) }}

  </div>

  <div class="govuk-grid-column-one-third sticky">

    <div class="actions-panel">
      <h3 class="govuk-heading-s">Options</h3>

      <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
        Save
      </button>
      </form>
      <p class="govuk-body"><a href="ur-2ier-content-1.html" class="govuk-link--no-visited-state">Cancel</a></p>
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}