{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "ur-2i-edit"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Document title</span>
        Send to 2i
    </h1>

    <p>Add context and notes to help the reviewer understand what needs to happen before this content is published.</p>

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukInput({
      label: {
        text: "Trello card link (optional)",
        classes: "govuk-label--s"
      },
      id: "trello-card-link",
      name: "trelloCardLink"
    }) }}

    {{ govukInput({
      label: {
        text: "Zendesk ticket link (optional)",
        classes: "govuk-label--s"
      },
      id: "zendesk-ticket-link",
      name: "zendeskTicketLink"
    }) }}
        
    {% set factCheckHtml %}
      {{ govukInput({
        id: "contact-by-email",
        name: "contactByEmail",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-!-width-full-width",
        label: {
          text: "Fact check email address 1",
          classes: "govuk-label--s"
        }
      }) }}
      {{ govukButton({
        text: "Add another",
        classes: "govuk-button--secondary govuk-!-margin-top-6"
      }) }}
    {% endset -%}

    {{ govukCheckboxes({
      name: "noteOptions",
      fieldset: {
        legend: {
          text: "What best applies to this content? (optional)",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select all options that are relevant"
      },
      items: [
        {
          value: "quick-fix",
          text: "Quick fix"
        },
        {
          value: "fact-check",
          text: "Needs fact check",
          conditional: {
            html: factCheckHtml
          }
        }
      ]
    }) }}

    {% set scheduleHtml %}
      <div class="govuk-form-group govuk-form-group">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="schedule-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Publication date
            </legend>
            <div id="schedule-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="schedule">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schedule-day" name="schedule-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schedule-month" name="schedule-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-year" name="schedule-year" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-form-group space-test-2">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Publication time
                    </legend>
                    <div class="group">
                    <label class="govuk-label govuk-date-input__label" for="schedule-year">
                      Hour
                    </label>
                  <select class="govuk-select time-box" name="time">
                    <option value="00" selected>00</option>  
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                  </select>
              </div>
              <div class="group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Minute
                    </label>
                  <select class="govuk-select time-box" name="time">
                      <option value="00">00</option>
                      <option value="01" selected>01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="45">45</option>
                      <option value="46">46</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                      <option value="50">50</option>
                      <option value="51">51</option>
                      <option value="52">52</option>
                      <option value="53">53</option>
                      <option value="54">54</option>
                      <option value="55">55</option>
                      <option value="56">56</option>
                      <option value="57">57</option>
                      <option value="58">58</option>
                      <option value="59">59</option>
                    </select>
                    </div>
                </div>
            </div>
          </fieldset>
        </div>
        </div>
    {% endset -%}

    {{ govukRadios({
      name: "afterReview",
      fieldset: {
        legend: {
          text: "What should happen after review?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Once the content is ready, what should happen next?"
      },
      items: [
        {
          value: "publish",
          text: "Publish"
        },
        {
          value: "schedule",
          text: "Schedule",
          conditional: {
            html: scheduleHtml
          }
        },
        {
          value: "leave-in-ready",
          text: "Leave in 'Ready'"
        }
      ]
    }) }}

    {{ govukTextarea({
      name: "importantNote",
      id: "important-note",
      label: {
        text: "Important note (optional)",
        classes: "govuk-label--s"
      },
      hint: {
        text: "Add important notes that anyone who works on this edition needs to see"
      }
    }) }}

    {{ govukTextarea({
      name: "changeNote",
      id: "change-note",
      label: {
        text: "Change note (optional)",
        classes: "govuk-label--s"
      },
      hint: {
        text: "If you’ve added one already, you do not need to add another one"
      },
      rows: 15
    }) }}

    <form class="form" action="ur-2i-edit-success" method="post">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Send to 2i"
        }) }}
        {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "ur-2i-edit"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="ur-2i-edit.html">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}