{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Publisher",
  serviceUrl: "/index",
  navigation: [
    {
      href: "/ur-2ier-content-1-publications-fact-check-received",
      text: "Publications"
    },
    {
      href: "#2",
      text: "Add artefact"
    },
    {
      href: "#3",
      text: "Downtime"
    },
    {
        href: "#4",
        text: "Reports"
    },
    {
        href: "#5",
        text: "Search by user"
    },
    {
        href: "#6",
        text: "Username"
    },
    {
        href: "#7",
        text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                      </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                      <h3 class="govuk-notification-banner__heading">
                        Published
                      </h3>
                    </div>
                  </div>

                <h1 class="govuk-heading-xl">Personal tax account: sign in or set up</h1>

                <table class="govuk-table">   
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Assigned to</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">Sylvia Allison</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Content type</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Answer</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Edition</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">31 <strong class="govuk-tag govuk-tag--orange">Published</strong></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Edit</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Tagging</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Metadata</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">History and notes</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Admin</a>
                </li>
        <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Related external links</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Unpublish</a>
                </li>
            </ul>  
        </nav>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Edit</h2>
            </div>
        </div>
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="published-state">

                    <h2 class="govuk-heading-s">Title</h2>
                    <p>Personal tax account: sign in or set up</p>

                    <h2 class="govuk-heading-s">Meta tag description</h2>
                    <p>Sign into or set up a personal tax account to check and manage HMRC records, including Income Tax, change of address, Self Assessment and company car tax.</p>

                    <h2 class="govuk-heading-s">Is this beta content?</h2>
                    <p>No</p>

                    <h2 class="govuk-heading-s">Body</h2>
                    <p>Use your personal tax account to check your records and manage your details with HM Revenue and Customs (HMRC).</p>
                    <p>^This service is also available [in Welsh (Cymraeg)](/cyfrif-treth-personol).</p>
                    <p>You can:</p>
                    <p>
                        - check your Income Tax estimate and tax code</br>
                        - submit, view or manage a Self Assessment tax return</br>
                        - claim a tax refund</br>
                        - check your Child Benefit</br>
                        - check your income from work in the previous 5 years</br>
                        check how much Income Tax you paid in the previous 5 years</br>
                        - check and manage your tax credits</br>
                        - check your State Pension</br>
                        - check if you’ll benefit from paying voluntary National Insurance contributions and if you can pay online</br>
                        - track tax forms that you’ve submitted online</br>
                        - check or update your Marriage Allowance</br>
                        - tell HMRC about a change of name or address</br>
                        - check or update benefits you get from work, for example company car details and medical insurance</br>
                        - find your National Insurance number
                        - find your Unique Taxpayer Reference (UTR) number, if you already have one</br>
                        - check your Simple Assessment tax bill</br>
                    </p>
                    <p>^There's a different service to [register for Self Assessment and your UTR number](/register-for-self-assessment) or [report and pay Capital Gains Tax on UK property](/capital-gains-tax/reporting-and-paying-capital-gains-tax).^</p>
                    <p>##Before you start</p>
                    <p>You’ll need to sign in to use this service. If you do not already have sign in details, you’ll be able to create them.</p>
                    <p>You’ll be told when you sign in if you need to prove your identity. This is to keep your details safe and normally involves using photo ID like a passport or driving licence.</p>
                    <p>##Sign in to or set up your personal tax account</p>
                    <p>{button start}[Start now](https://www.tax.service.gov.uk/gg/sign-in?continue=/personal-account&accountType=individual&origin=PTA-frontend){/button}</p>
                    <p>*[HMRC]: HM Revenue and Customs</p>

                    <h2 class="govuk-heading-s">Public change note</h2>
                    <p>None added</p>

                </div>
            </div>

            <div class="govuk-grid-column-one-third sticky">
                <div class="actions-panel">
                    <h3 class="govuk-heading-s">Options</h3>
                    <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">Create new edition</button>
                    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="#">Preview (opens in new tab)</a></p>
                    <p class="govuk-body"><a class="delete" href="#">Delete edition</a></p>
                </div>
            </div>
        </div>
  
    </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}