{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publication - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Breadcrumb updated
      </h3>
    </div>
  </div>

  <h1 class="govuk-heading-xl">Types of election, referendums, </br> and who can vote</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Assigned to</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Alex Hill</td>
                        <td class="govuk-table__cell govuk-tablTypes of election, referendums,   and who can vote
e__cell--numeric"><a href="#" class="edit">Edit</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Content type</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">Guide</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Edition</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">32   <strong class="govuk-tag govuk-tag--yellow">
                          Draft
                        </strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      
                    </tbody>
                  </table>         
                </div>

          </div>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="ur-2-elections-edit.html">Edit</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="#2">Tagging</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#3">Metadata</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#4">History and notes</a>
              </li>
         

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#4">Admin</a>
              </li>
        

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#4">Related external links</a>
              </li>
            </ul>
          
          </nav>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Tagging</h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

           
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                GOV.UK breadcrumb
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Edit</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Breadcrumb
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Citizenship and living in the UK > Voting
                  </dd>
                </div>
              </dl>
            </div>
          </div>
  
            <div class="empty-state-container">
            <h3 class="govuk-heading-s">Browse</h3>
           <p class="govuk-body">Not tagged to any browse pages</p>
           <p class="govuk-body"><a href="browse-tagging-options.html">Tag to a browse page</a></p>
        </div>


      

        <div class="empty-state-container">
            <h3 class="govuk-heading-s">Topic taxonomy</h3>
           <p class="govuk-body">Not tagged to the topic taxonomy</p>
           <p class="govuk-body"><a href="https://content-tagger.integration.publishing.service.gov.uk/">Manage on Content Tagger</a></p>
        </div>


           
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Organisations
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Edit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Organisation 1
                      </dt>
                      <dd class="govuk-summary-list__value">
                        DLUHC
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                   Related content
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
                    </li>
                   
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Related content 1
                      </dt>
                      <dd class="govuk-summary-list__value">
                        /how-to-vote
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Related content 2
                      </dt>
                      <dd class="govuk-summary-list__value">
                        /register-to-vote
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

        </div>
        <div class="govuk-grid-column-one-third sticky">
            <div class="actions-panel">
          <h3 class="govuk-heading-s">Options</h3>

          <!--
          <button type="submit" data-prevent-double-click="true" class="govuk-button wide" data-module="govuk-button">
            Preview
          </button>
          -->
          <p class="govuk-body"><a href="#">Preview (opens in new tab)</a></p>



        </div>
        </div>
      </div>
    </main>
  </div>

 


    </div>

  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}