{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

  {{ govukHeader({
  productName: "Publisher",
  homepageUrl: "/index",
  serviceUrl: "/index",
  navigation: [
    {
      href: "#1",
      text: "Publications"
    },
    {
      href: "#2",
      text: "New content item"
    },
    {
      href: "#3",
      text: "Downtime"
    },
    {
        href: "#4",
        text: "Reports"
    },
    {
        href: "#5",
        text: "Search by user"
    },
    {
        href: "#6",
        text: "Profile"
    },
    {
        href: "#7",
        text: "Sign out"
    }
  ]
}) }}

  {{ govukServiceNavigation({
    serviceUrl: "#",
    navigation: [
    {
      href: "my-content",
      text: "My content"
    },
    {
      href: "all-publications",
      text: "All publications"
    },
    {
      href: "2i-queue",
      text: "2i queue"
    },
    {
        href: "fact-check",
        text: "Fact check"
    }
  ]
  }) }}

{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Reports, downtime and users",
      width: "one-third",
      columns: 1,
      items: [
        {
          href: "#",
          text: "CSV reports"
        },
        {
          href: "#",
          text: "Downtime messages"
        },
        {
          href: "#",
          text: "Search users"
        }
      ]
    },
    {
      title: "Support and feedback",
      width: "two-thirds",
      items: [
        {
          href: "#",
          text: "Raise a support request"
        },
        {
          href: "#",
          text: "Check if publishing apps are working or if there’s any maintenance planned"
        },
        {
          href: "#",
          text: "How to write, publish, and improve content"
        }
      ]
    }
  ]
}) }}

{% endblock %}