{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Publisher",
  serviceUrl: "#",
  navigation: [
    {
      href: "#1",
      text: "Publications"
    },
    {
      href: "#2",
      text: "Add artefact"
    },
    {
      href: "#3",
      text: "Downtime"
    },
    {
        href: "#4",
        text: "Reports"
    },
    {
        href: "#5",
        text: "Search by user"
    },
    {
        href: "#6",
        text: "Username"
    },
    {
        href: "#7",
        text: "Sign out"
    }
  ]
}) }}
{% endblock %}